DFD - Data Flow Diagram

Data is a collection of information /facts

Database - for storing data(collection of dataset)

Data Collection/Data Mining ---> Data Preprocessing/Data Cleaning --> report building -->Present the report


EDA - Exploratory Data Analysis (numpy+pandas+matplotlib+seaborn)

In [3]:
import pandas as pd
import numpy as np

## Series

In [5]:
list1 = [23,34,35,76,78]
s1 = pd.Series(list1)
print(s1)

0    23
1    34
2    35
3    76
4    78
dtype: int64

In [9]:
arr1 = np.array([12,76,88,2])
pd.Series(arr1)

0    12
1    76
2    88
3     2
dtype: int32

In [17]:
list2 = [23,34,35,76,78]
pd.Series(list2,index=["a","b","c","d","e"],dtype="float",name="myData")

a    23.0
b    34.0
c    35.0
d    76.0
e    78.0
Name: myData, dtype: float64

In [19]:
# making series using dictionary
dict1 = {"maths Mark":48,"che mark":86,"physics mark":36}
pd.Series(dict1)

maths Mark      48
che mark        86
physics mark    36
dtype: int64

## Data Frame

In [26]:
students = {"Name":["jhon","David","Hari"],"Age":[45,25,26],"Place":["Mlprm","clt","pkd"]}
students

{'Name': ['jhon', 'David', 'Hari'],
 'Age': [45, 25, 26],
 'Place': ['Mlprm', 'clt', 'pkd']}

In [30]:
data = pd.DataFrame(students)
data

    Name  Age  Place
0   jhon   45  Mlprm
1  David   25    clt
2   Hari   26    pkd

In [38]:
list1 = [23,7,12,16,99]
pd.DataFrame(list1,index=["a","b","c","d","e"],columns=["Marks"])

   Marks
a     23
b      7
c     12
d     16
e     99

In [54]:
list3  = [[23,33,26,28],[23,45,63,36],[87,90,98,78]]
list3

[[23, 33, 26, 28], [23, 45, 63, 36], [87, 90, 98, 78]]

In [58]:
pd.DataFrame(list3,columns=["mts","phy","che","bio"],index=["sem1","sem2","sem3"])

      mts  phy  che  bio
sem1   23   33   26   28
sem2   23   45   63   36
sem3   87   90   98   78

In [60]:
# record/row

# columns/field

In [62]:
# tuple into dataframe
tup1 = (78,45,65)
pd.DataFrame(tup1)

    0
0  78
1  45
2  65

In [68]:
details = (("Jhon",54,"tvm"),("David",85,"pkd"))
pd.DataFrame(details,columns=["Name","Age","Place"])

    Name  Age Place
0   Jhon   54   tvm
1  David   85   pkd

In [74]:
# 2D into Dataframe
arr2 = np.array([[23,43,55],[89,98,67],[45,34,76]])
pd.DataFrame(arr2,columns=["mark1","mark2","mark3"])

   mark1  mark2  mark3
0     23     43     55
1     89     98     67
2     45     34     76

## Basic Information in  Data Frame

In [77]:
# head
# tail
# shape
# columns
# index
# dtypes
# infp

In [87]:
dict3 = {"Name":["Alan","jacob","Hari","shahal","sanu","jose"],"place":["pkd","clt","trsr","mpm","pkd","clt"],"score":[78,98,55,78,65,98]}
dict3

{'Name': ['Alan', 'jacob', 'Hari', 'shahal', 'sanu', 'jose'],
 'place': ['pkd', 'clt', 'trsr', 'mpm', 'pkd', 'clt'],
 'score': [78, 98, 55, 78, 65, 98]}

In [89]:
myData = pd.DataFrame(dict3)
myData

     Name place  score
0    Alan   pkd     78
1   jacob   clt     98
2    Hari  trsr     55
3  shahal   mpm     78
4    sanu   pkd     65
5    jose   clt     98

In [91]:
# shape - number of rows and columns
myData.shape

(6, 3)

In [115]:
# head - extract from top
display(myData.head()) # by default 5 records/rows
display(myData.head(3))

     Name place  score
0    Alan   pkd     78
1   jacob   clt     98
2    Hari  trsr     55
3  shahal   mpm     78
4    sanu   pkd     65

    Name place  score
0   Alan   pkd     78
1  jacob   clt     98
2   Hari  trsr     55

In [117]:
# tail - extract from bottom
display(myData.tail()) # by default 5 records/rows
display(myData.tail(3))

     Name place  score
1   jacob   clt     98
2    Hari  trsr     55
3  shahal   mpm     78
4    sanu   pkd     65
5    jose   clt     98

     Name place  score
3  shahal   mpm     78
4    sanu   pkd     65
5    jose   clt     98

In [119]:
# columns
display(myData)

     Name place  score
0    Alan   pkd     78
1   jacob   clt     98
2    Hari  trsr     55
3  shahal   mpm     78
4    sanu   pkd     65
5    jose   clt     98

In [121]:
myData.columns  # displaying column headings

Index(['Name', 'place', 'score'], dtype='object')

In [125]:
myData[["Name"]]

     Name
0    Alan
1   jacob
2    Hari
3  shahal
4    sanu
5    jose

In [129]:
myData[["Name","score"]]

     Name  score
0    Alan     78
1   jacob     98
2    Hari     55
3  shahal     78
4    sanu     65
5    jose     98

In [131]:
myData.index

RangeIndex(start=0, stop=6, step=1)

In [133]:
myData.dtypes

Name     object
place    object
score     int64
dtype: object

In [137]:
myData.info()   # information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    6 non-null      object
 1   place   6 non-null      object
 2   score   6 non-null      int64
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes

## Data Importing

In [4]:
# excel file importing
data = pd.read_excel("campaign (1).xlsx")
data

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
0,2024-08-01,CAM001,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,2024-08-02,CAM002,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
2,2024-08-03,CAM003,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,2024-08-04,CAM004,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,2024-08-05,CAM005,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,2024-12-24,CAM146,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,2024-12-25,CAM147,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,2024-12-26,CAM148,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,2024-12-27,CAM149,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,2024-12-28,CAM150,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [145]:
# csv file importing
data1 = pd.read_csv("gdp_top_countries.csv")
data1

,date,Canada,France,Germany,Italy,Netherlands,Spain,United States
0,2005-01-01,1.173109e+12,2.192146e+12,2.893393e+12,1.864982e+12,6.881337e+11,1.154668e+12,1.303920e+13
1,2006-01-01,1.319265e+12,2.317862e+12,3.046309e+12,1.958564e+12,7.375940e+11,1.261847e+12,1.381558e+13
2,2007-01-01,1.468820e+12,2.655817e+12,3.484057e+12,2.222524e+12,8.534995e+11,1.476746e+12,1.447423e+13
3,2008-01-01,1.552990e+12,2.926803e+12,3.808786e+12,2.417508e+12,9.579016e+11,1.636115e+12,1.476986e+13
4,2009-01-01,1.374625e+12,2.700076e+12,3.479801e+12,2.209484e+12,8.789542e+11,1.496588e+12,1.447807e+13
5,2010-01-01,1.617343e+12,2.646230e+12,3.468154e+12,2.144936e+12,8.524650e+11,1.427989e+12,1.504897e+13
6,2011-01-01,1.793327e+12,2.870409e+12,3.824829e+12,2.306974e+12,9.131407e+11,1.487569e+12,1.559973e+13
7,2012-01-01,1.828366e+12,2.683007e+12,3.597897e+12,2.097929e+12,8.456890e+11,1.330995e+12,1.625397e+13
8,2013-01-01,1.846597e+12,2.816078e+12,3.808086e+12,2.153226e+12,8.839515e+11,1.362187e+12,1.688068e+13
9,2014-01-01,1.805750e+12,2.861236e+12,3.965801e+12,2.173256e+12,9.015565e+11,1.380245e+12,1.760814e+13
10,2015-01-01,1.556509e+12,2.442483e+12,3.423568e+12,1.845428e+12,7.757437e+11,1.206165e+12,1.829502e+13
11,2016-01-01,1.527995e+12,2.470408e+12,3.537784e+12,1.887111e+12,7.971639e+11,1.243016e+12,1.880491e+13
12,2017-01-01,1.649266e+12,2.588868e+12,3.763092e+12,1.970721e+12,8.482335e+11,1.321754e+12,1.961210e+13
13,2018-01-01,1.725329e+12,2.781576e+12,4.052008e+12,2.099435e+12,9.297336e+11,1.431643e+12,2.065652e+13
14,2019-01-01,1.743725e+12,2.722794e+12,3.957208e+12,2.019607e+12,9.289030e+11,1.403496e+12,2.153998e+13
15,2020-01-01,1.655685e+12,2.647926e+12,3.940143e+12,1.907481e+12,9.325609e+11,1.289784e+12,2.135410e+13
16,2021-01-01,2.022379e+12,2.966434e+12,4.348297e+12,2.179208e+12,1.054472e+12,1.461245e+12,2.368117e+13
17,2022-01-01,2.190411e+12,2.796302e+12,4.163596e+12,2.104068e+12,1.046541e+12,1.446498e+12,2.600689e+13
18,2023-01-01,2.173340e+12,3.051832e+12,4.525704e+12,2.304605e+12,1.154361e+12,1.620091e+12,2.772071e+13
19,2024-01-01,2.241253e+12,3.162079e+12,4.659929e+12,2.372775e+12,1.227544e+12,1.722746e+12,2.918489e+13

In [149]:
# csv file importing using path
data2 = pd.read_csv("C:/Users/DELL/Downloads/gdp_top_countries.csv")
data2

,date,Canada,France,Germany,Italy,Netherlands,Spain,United States
0,2005-01-01,1.173109e+12,2.192146e+12,2.893393e+12,1.864982e+12,6.881337e+11,1.154668e+12,1.303920e+13
1,2006-01-01,1.319265e+12,2.317862e+12,3.046309e+12,1.958564e+12,7.375940e+11,1.261847e+12,1.381558e+13
2,2007-01-01,1.468820e+12,2.655817e+12,3.484057e+12,2.222524e+12,8.534995e+11,1.476746e+12,1.447423e+13
3,2008-01-01,1.552990e+12,2.926803e+12,3.808786e+12,2.417508e+12,9.579016e+11,1.636115e+12,1.476986e+13
4,2009-01-01,1.374625e+12,2.700076e+12,3.479801e+12,2.209484e+12,8.789542e+11,1.496588e+12,1.447807e+13
5,2010-01-01,1.617343e+12,2.646230e+12,3.468154e+12,2.144936e+12,8.524650e+11,1.427989e+12,1.504897e+13
6,2011-01-01,1.793327e+12,2.870409e+12,3.824829e+12,2.306974e+12,9.131407e+11,1.487569e+12,1.559973e+13
7,2012-01-01,1.828366e+12,2.683007e+12,3.597897e+12,2.097929e+12,8.456890e+11,1.330995e+12,1.625397e+13
8,2013-01-01,1.846597e+12,2.816078e+12,3.808086e+12,2.153226e+12,8.839515e+11,1.362187e+12,1.688068e+13
9,2014-01-01,1.805750e+12,2.861236e+12,3.965801e+12,2.173256e+12,9.015565e+11,1.380245e+12,1.760814e+13
10,2015-01-01,1.556509e+12,2.442483e+12,3.423568e+12,1.845428e+12,7.757437e+11,1.206165e+12,1.829502e+13
11,2016-01-01,1.527995e+12,2.470408e+12,3.537784e+12,1.887111e+12,7.971639e+11,1.243016e+12,1.880491e+13
12,2017-01-01,1.649266e+12,2.588868e+12,3.763092e+12,1.970721e+12,8.482335e+11,1.321754e+12,1.961210e+13
13,2018-01-01,1.725329e+12,2.781576e+12,4.052008e+12,2.099435e+12,9.297336e+11,1.431643e+12,2.065652e+13
14,2019-01-01,1.743725e+12,2.722794e+12,3.957208e+12,2.019607e+12,9.289030e+11,1.403496e+12,2.153998e+13
15,2020-01-01,1.655685e+12,2.647926e+12,3.940143e+12,1.907481e+12,9.325609e+11,1.289784e+12,2.135410e+13
16,2021-01-01,2.022379e+12,2.966434e+12,4.348297e+12,2.179208e+12,1.054472e+12,1.461245e+12,2.368117e+13
17,2022-01-01,2.190411e+12,2.796302e+12,4.163596e+12,2.104068e+12,1.046541e+12,1.446498e+12,2.600689e+13
18,2023-01-01,2.173340e+12,3.051832e+12,4.525704e+12,2.304605e+12,1.154361e+12,1.620091e+12,2.772071e+13
19,2024-01-01,2.241253e+12,3.162079e+12,4.659929e+12,2.372775e+12,1.227544e+12,1.722746e+12,2.918489e+13

In [151]:
data

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
0,2024-08-01,CAM001,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,2024-08-02,CAM002,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
2,2024-08-03,CAM003,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,2024-08-04,CAM004,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,2024-08-05,CAM005,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,2024-12-24,CAM146,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,2024-12-25,CAM147,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,2024-12-26,CAM148,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,2024-12-27,CAM149,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,2024-12-28,CAM150,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [6]:
data.shape

(150, 9)

In [8]:
data.head(20)

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
0,2024-08-01,CAM001,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,2024-08-02,CAM002,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
2,2024-08-03,CAM003,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,2024-08-04,CAM004,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,2024-08-05,CAM005,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
5,2024-08-06,CAM006,The Pinkman Promotion,Mike Ehrmantraut,Fan Forums,3290,277,51,423
6,2024-08-07,CAM007,Heisenberg's Deals,Saul Goodman,Fast Food Sites,6305,380,76,127
7,2024-08-08,CAM008,Blue Sky Special,Walter White,Fan Forums,2402,123,12,319
8,2024-08-09,CAM009,Heisenberg's Deals,Walter White,Fan Forums,2555,417,96,350
9,2024-08-10,CAM010,Crystal Clear Discount,Gustavo Fring,Fast Food Sites,6326,258,253,204
10,2024-08-11,CAM011,Blue Sky Special,Mike Ehrmantraut,Fast Food Sites,5585,326,24,312
11,2024-08-12,CAM012,The Pinkman Promotion,Mike Ehrmantraut,Email Campaigns,4977,282,64,173
12,2024-08-13,CAM013,Crystal Clear Discount,Walter White,Fan Forums,3900,322,85,174
13,2024-08-14,CAM014,Blue Sky Special,Saul Goodman,Email Campaigns,6924,122,18,341
14,2024-08-15,CAM015,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2473,360,105,406
15,2024-08-16,CAM016,MT Lab Mania,Jesse Pinkman,Email Campaigns,2637,333,5,379
16,2024-08-17,CAM017,Crystal Clear Discount,Saul Goodman,Email Campaigns,6839,258,22,119
17,2024-08-18,CAM018,MT Lab Mania,Saul Goodman,Streaming Service,5476,221,44,498
18,2024-08-19,CAM019,Blue Sky Special,Walter White,Car Wash Sites,4427,410,382,417
19,2024-08-20,CAM020,MT Lab Mania,Gustavo Fring,Fast Food Sites,6661,160,83,183

In [10]:
data.tail(40)

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
110,2024-11-19,CAM111,MT Lab Mania,Saul Goodman,Email Campaigns,5854,441,278,289
111,2024-11-20,CAM112,Blue Sky Special,Saul Goodman,Email Campaigns,2546,403,237,461
112,2024-11-21,CAM113,Heisenberg's Deals,Saul Goodman,Email Campaigns,3796,386,244,150
113,2024-11-22,CAM114,MT Lab Mania,Jesse Pinkman,Fan Forums,3037,145,134,390
114,2024-11-23,CAM115,Blue Sky Special,Saul Goodman,Fan Forums,3689,316,24,166
115,2024-11-24,CAM116,Heisenberg's Deals,Gustavo Fring,Fast Food Sites,3518,426,86,423
116,2024-11-25,CAM117,MT Lab Mania,Saul Goodman,Fan Forums,6372,258,186,279
117,2024-11-26,CAM118,Blue Sky Special,Mike Ehrmantraut,Email Campaigns,2734,467,274,447
118,2024-11-27,CAM119,Crystal Clear Discount,Walter White,Car Wash Sites,4252,462,410,165
119,2024-11-28,CAM120,MT Lab Mania,Gustavo Fring,Fast Food Sites,6137,414,309,228
120,2024-11-29,CAM121,MT Lab Mania,Jesse Pinkman,Fan Forums,5641,254,230,396
121,2024-11-30,CAM122,Blue Sky Special,Mike Ehrmantraut,Streaming Service,6673,136,133,494
122,2024-12-01,CAM123,Heisenberg's Deals,Jesse Pinkman,Email Campaigns,6201,130,9,495
123,2024-12-02,CAM124,The Pinkman Promotion,Mike Ehrmantraut,Streaming Service,6904,107,37,479
124,2024-12-03,CAM125,Blue Sky Special,Mike Ehrmantraut,Email Campaigns,2912,213,32,141
125,2024-12-04,CAM126,The Pinkman Promotion,Saul Goodman,Streaming Service,2987,355,300,264
126,2024-12-05,CAM127,The Pinkman Promotion,Gustavo Fring,Fast Food Sites,4900,452,381,115
127,2024-12-06,CAM128,Heisenberg's Deals,Saul Goodman,Streaming Service,2021,362,235,358
128,2024-12-07,CAM129,Heisenberg's Deals,Saul Goodman,Streaming Service,5396,332,102,310
129,2024-12-08,CAM130,Blue Sky Special,Gustavo Fring,Fan Forums,5843,824,78,172
130,2024-12-09,CAM131,MT Lab Mania,Jesse Pinkman,Fast Food Sites,4708,276,22,434
131,2024-12-10,CAM132,MT Lab Mania,Gustavo Fring,Fast Food Sites,3145,263,186,489
132,2024-12-11,CAM133,The Pinkman Promotion,Mike Ehrmantraut,Fan Forums,6783,230,45,410
133,2024-12-12,CAM134,Blue Sky Special,Gustavo Fring,Fast Food Sites,3182,306,105,103
134,2024-12-13,CAM135,Crystal Clear Discount,Gustavo Fring,Email Campaigns,2275,352,114,173
135,2024-12-14,CAM136,Heisenberg's Deals,Saul Goodman,Streaming Service,6551,284,194,325
136,2024-12-15,CAM137,Heisenberg's Deals,Walter White,Car Wash Sites,4606,297,287,136
137,2024-12-16,CAM138,Heisenberg's Deals,Jesse Pinkman,Car Wash Sites,5493,161,102,399
138,2024-12-17,CAM139,MT Lab Mania,Mike Ehrmantraut,Fast Food Sites,2543,339,33,363
139,2024-12-18,CAM140,Crystal Clear Discount,Walter White,Fast Food Sites,5399,256,134,367
140,2024-12-19,CAM141,The Pinkman Promotion,Jesse Pinkman,Streaming Service,2905,268,98,409
141,2024-12-20,CAM142,MT Lab Mania,Saul Goodman,Fan Forums,6081,461,367,436
142,2024-12-21,CAM143,The Pinkman Promotion,Mike Ehrmantraut,Fan Forums,4829,440,98,201
143,2024-12-22,CAM144,Crystal Clear Discount,Saul Goodman,Fast Food Sites,4935,205,45,441
144,2024-12-23,CAM145,Crystal Clear Discount,Jesse Pinkman,Fan Forums,3417,108,28,158
145,2024-12-24,CAM146,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,2024-12-25,CAM147,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,2024-12-26,CAM148,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,2024-12-27,CAM149,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,2024-12-28,CAM150,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [12]:
data.columns

Index(['Date', 'Campaign ID', 'Campaign Name', 'Responsible Person',
       'Location', 'Impressions', 'Clicks', 'Units Sold', 'Ad Spend'],
      dtype='object')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                150 non-null    datetime64[ns]
 1   Campaign ID         150 non-null    object
 2   Campaign Name       150 non-null    object
 3   Responsible Person  150 non-null    object
 4   Location            150 non-null    object
 5   Impressions         150 non-null    int64
 6   Clicks              150 non-null    int64
 7   Units Sold          150 non-null    int64
 8   Ad Spend            150 non-null    int64
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 10.7+ KB

In [16]:
data.dtypes

Date                  datetime64[ns]
Campaign ID                   object
Campaign Name                 object
Responsible Person            object
Location                      object
Impressions                    int64
Clicks                         int64
Units Sold                     int64
Ad Spend                       int64
dtype: object

In [18]:
data.describe()  # return all statistical information of measure columns

                      Date  Impressions      Clicks  Units Sold    Ad Spend
count                  150   150.000000  150.000000  150.000000  150.000000
mean   2024-10-14 12:00:00  4501.273333  319.346667  138.953333  297.840000
min    2024-08-01 00:00:00  2004.000000  105.000000    2.000000  100.000000
25%    2024-09-07 06:00:00  3181.250000  213.750000   50.250000  185.250000
50%    2024-10-14 12:00:00  4512.500000  314.000000  108.000000  301.500000
75%    2024-11-20 18:00:00  5858.500000  403.750000  204.750000  408.500000
max    2024-12-28 00:00:00  6994.000000  895.000000  414.000000  498.000000
std                    NaN  1541.942795  145.838376  107.613610  123.840614

In [20]:
data.Location

0        Fast Food Sites
1      Streaming Service
2             Fan Forums
3             Fan Forums
4             Fan Forums
             ...
145           Fan Forums
146       Car Wash Sites
147      Fast Food Sites
148      Email Campaigns
149    Streaming Service
Name: Location, Length: 150, dtype: object

In [22]:
data.Clicks

0      246
1      474
2      285
3      310
4      191
      ...
145    409
146    367
147    362
148    347
149    359
Name: Clicks, Length: 150, dtype: int64

In [30]:
data["Responsible Person"]

0         Jesse Pinkman
1          Saul Goodman
2      Mike Ehrmantraut
3      Mike Ehrmantraut
4         Jesse Pinkman
             ...
145    Mike Ehrmantraut
146    Mike Ehrmantraut
147       Gustavo Fring
148       Gustavo Fring
149        Walter White
Name: Responsible Person, Length: 150, dtype: object

In [26]:
data[["Responsible Person"]]

    Responsible Person
0        Jesse Pinkman
1         Saul Goodman
2     Mike Ehrmantraut
3     Mike Ehrmantraut
4        Jesse Pinkman
..                 ...
145   Mike Ehrmantraut
146   Mike Ehrmantraut
147      Gustavo Fring
148      Gustavo Fring
149       Walter White

[150 rows x 1 columns]

In [32]:
data[["Responsible Person","Clicks","Location"]]

    Responsible Person  Clicks           Location
0        Jesse Pinkman     246    Fast Food Sites
1         Saul Goodman     474  Streaming Service
2     Mike Ehrmantraut     285         Fan Forums
3     Mike Ehrmantraut     310         Fan Forums
4        Jesse Pinkman     191         Fan Forums
..                 ...     ...                ...
145   Mike Ehrmantraut     409         Fan Forums
146   Mike Ehrmantraut     367     Car Wash Sites
147      Gustavo Fring     362    Fast Food Sites
148      Gustavo Fring     347    Email Campaigns
149       Walter White     359  Streaming Service

[150 rows x 3 columns]

In [34]:
df1 = pd.read_excel("campaign (1).xlsx")
df1

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
0,2024-08-01,CAM001,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,2024-08-02,CAM002,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
2,2024-08-03,CAM003,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,2024-08-04,CAM004,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,2024-08-05,CAM005,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,2024-12-24,CAM146,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,2024-12-25,CAM147,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,2024-12-26,CAM148,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,2024-12-27,CAM149,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,2024-12-28,CAM150,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [6]:
df2 = pd.read_excel("Sample - Superstore (1).xls")   # xlsx
df2

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [10]:
df2 = pd.read_excel("Sample - Superstore (1).xls",sheet_name=2)   # xlsx
df2

              Person   Region
0      Anna Andreadi     West
1        Chuck Magee     East
2     Kelly Williams  Central
3  Cassandra Brandow    South

In [14]:
df2 = pd.read_excel("Sample - Superstore (1).xls",sheet_name="Returns")   # xlsx
df2

    Returned        Order ID
0        Yes  CA-2017-153822
1        Yes  CA-2017-129707
2        Yes  CA-2014-152345
3        Yes  CA-2015-156440
4        Yes  US-2017-155999
..       ...             ...
291      Yes  CA-2015-101910
292      Yes  CA-2017-156958
293      Yes  CA-2016-105585
294      Yes  CA-2016-148796
295      Yes  CA-2015-149636

[296 rows x 2 columns]

In [22]:
allSheet = pd.read_excel("Sample - Superstore (1).xls",sheet_name=None)
for sheet_name,data in allSheet.items():
    print(f"sheet Name:{sheet_name}")
    display(data)

sheet Name:Orders

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

sheet Name:Returns

    Returned        Order ID
0        Yes  CA-2017-153822
1        Yes  CA-2017-129707
2        Yes  CA-2014-152345
3        Yes  CA-2015-156440
4        Yes  US-2017-155999
..       ...             ...
291      Yes  CA-2015-101910
292      Yes  CA-2017-156958
293      Yes  CA-2016-105585
294      Yes  CA-2016-148796
295      Yes  CA-2015-149636

[296 rows x 2 columns]

sheet Name:People

              Person   Region
0      Anna Andreadi     West
1        Chuck Magee     East
2     Kelly Williams  Central
3  Cassandra Brandow    South

In [46]:
df = pd.read_excel("campaign (1).xlsx",usecols=["Date","Location","Clicks","Impressions","Units Sold"],nrows=50)
df

         Date           Location  Impressions  Clicks  Units Sold
0  2024-08-01    Fast Food Sites         2363     246          24
1  2024-08-02  Streaming Service         2184     474         182
2  2024-08-03         Fan Forums         2090     285         197
3  2024-08-04         Fan Forums         6475     310          98
4  2024-08-05         Fan Forums         6688     191         180
5  2024-08-06         Fan Forums         3290     277          51
6  2024-08-07    Fast Food Sites         6305     380          76
7  2024-08-08         Fan Forums         2402     123          12
8  2024-08-09         Fan Forums         2555     417          96
9  2024-08-10    Fast Food Sites         6326     258         253
10 2024-08-11    Fast Food Sites         5585     326          24
11 2024-08-12    Email Campaigns         4977     282          64
12 2024-08-13         Fan Forums         3900     322          85
13 2024-08-14    Email Campaigns         6924     122          18
14 2024-08-15         Fan Forums         2473     360         105
15 2024-08-16    Email Campaigns         2637     333           5
16 2024-08-17    Email Campaigns         6839     258          22
17 2024-08-18  Streaming Service         5476     221          44
18 2024-08-19     Car Wash Sites         4427     410         382
19 2024-08-20    Fast Food Sites         6661     160          83
20 2024-08-21         Fan Forums         5381     188          73
21 2024-08-22         Fan Forums         3025     216          78
22 2024-08-23         Fan Forums         6563     456         273
23 2024-08-24         Fan Forums         6839     235         171
24 2024-08-25    Fast Food Sites         5269     115          37
25 2024-08-26    Email Campaigns         6994     413           6
26 2024-08-27         Fan Forums         6861     306         157
27 2024-08-28    Email Campaigns         3395     315         108
28 2024-08-29  Streaming Service         3777     451         227
29 2024-08-30         Fan Forums         6849     465          46
30 2024-08-31    Fast Food Sites         3181     339          49
31 2024-09-01    Email Campaigns         6977     437          27
32 2024-09-02    Email Campaigns         3199     164          32
33 2024-09-03         Fan Forums         5104     183          61
34 2024-09-04    Fast Food Sites         6700     172         136
35 2024-09-05    Fast Food Sites         2916     195         113
36 2024-09-06  Streaming Service         2089     381         224
37 2024-09-07    Fast Food Sites         4160     243          27
38 2024-09-08  Streaming Service         6750     259         231
39 2024-09-09  Streaming Service         3635     493         197
40 2024-09-10    Email Campaigns         6538     341          53
41 2024-09-11    Email Campaigns         2211     257          13
42 2024-09-12     Car Wash Sites         6047     336         204
43 2024-09-13    Fast Food Sites         5296     380         360
44 2024-09-14     Car Wash Sites         5704     183          66
45 2024-09-15  Streaming Service         3973     194          71
46 2024-09-16    Email Campaigns         2154     466           2
47 2024-09-17         Fan Forums         2404     805          58
48 2024-09-18  Streaming Service         2004     204         112
49 2024-09-19    Email Campaigns         4802     440           4

## Data preprocessing/Data Cleaning

In [2]:
# step 1 - import necessory requirements
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [4]:
# step 2 - load dataset
data = pd.read_excel("customers.xlsx")
data

,customerid,firstname,lastname,address1,address2,city,state,zip,country,region,email,phone,creditcardtype,creditcard,creditcardexpiration,username,password,age,income,gender
0,1,VKUUXF,ITHOMQJNYX,4608499546 Dell Way,NaN,QSDPAGD,SD,24101,US,1,ITHOMQJNYX@dell.com,4608499546,1,1979279217775911,2012/03,user1,password,55,100000,M
1,2,HQNMZH,UNUKXHJVXB,5119315633 Dell Way,NaN,YNCERXJ,AZ,11802,US,1,UNUKXHJVXB@dell.com,5119315633,1,3144519586581737,2012/11,user2,password,80,40000,M
2,3,JTNRNB,LYYSHTQJRE,6297761196 Dell Way,NaN,LWVIFXJ,OH,96082,US,1,LYYSHTQJRE@dell.com,6297761196,4,8728086929768325,2010/12,user3,password,47,100000,M
3,4,XMFYXD,WQLQHUHLFE,9862764981 Dell Way,NaN,HOKEXCD,MS,78442,US,1,WQLQHUHLFE@dell.com,9862764981,5,7160005148965866,2009/09,user4,password,44,40000,F
4,5,PGDTDU,ETBYBNEGUT,2841895775 Dell Way,NaN,RZQTCDN,AZ,16291,US,1,ETBYBNEGUT@dell.com,2841895775,3,8377095518168063,2010/10,user5,password,21,20000,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,KKDZUC,NSAXRLLPEM,5392978326 Dell Way,NaN,BJOGRLE,NaN,0,Chile,2,NSAXRLLPEM@dell.com,5392978326,5,9188167935237288,2008/11,user19996,password,78,60000,F
19996,19997,GSGAVT,SWRJHDYMQA,3311555452 Dell Way,NaN,VEGNPKT,NaN,0,Australia,2,SWRJHDYMQA@dell.com,3311555452,4,2423516578041017,2008/06,user19997,password,73,60000,M
19997,19998,MQTIKL,EBVMFUZVUU,7635641998 Dell Way,NaN,ZBIPMBR,NaN,0,Russia,2,EBVMFUZVUU@dell.com,7635641998,5,8653337796218694,2009/08,user19998,password,36,100000,F
19998,19999,XSKHEO,JZBOUAKOVK,5488070628 Dell Way,NaN,QDZCFRV,NaN,0,UK,2,JZBOUAKOVK@dell.com,5488070628,4,2519272508565336,2008/12,user19999,password,28,20000,M
19999,20000,WODADM,AEBUFMJAWZ,6224597470 Dell Way,NaN,DVCINXG,NaN,0,Australia,2,AEBUFMJAWZ@dell.com,6224597470,3,1869697669055313,2010/07,user20000,password,37,40000,F

In [5]:
data.shape

(20000, 20)

In [6]:
data.dtypes

customerid                int64
firstname                object
lastname                 object
address1                 object
address2                float64
city                     object
state                    object
zip                       int64
country                  object
region                    int64
email                    object
phone                     int64
creditcardtype            int64
creditcard                int64
creditcardexpiration     object
username                 object
password                 object
age                       int64
income                    int64
gender                   object
dtype: object

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customerid            20000 non-null  int64
 1   firstname             20000 non-null  object
 2   lastname              20000 non-null  object
 3   address1              20000 non-null  object
 4   address2              0 non-null      float64
 5   city                  20000 non-null  object
 6   state                 10000 non-null  object
 7   zip                   20000 non-null  int64
 8   country               20000 non-null  object
 9   region                20000 non-null  int64
 10  email                 20000 non-null  object
 11  phone                 20000 non-null  int64
 12  creditcardtype        20000 non-null  int64
 13  creditcard            20000 non-null  int64
 14  creditcardexpiration  20000 non-null  object
 15  username              20000 non-null  object
 16  password              20000 non-null  object
 17  age                   20000 non-null  int64
 18  income                20000 non-null  int64
 19  gender                20000 non-null  object
dtypes: float64(1), int64(8), object(11)
memory usage: 3.1+ MB

In [8]:
data.describe()

,customerid,address2,zip,region,phone,creditcardtype,creditcard,age,income
count,20000.000000,0.0,20000.000000,20000.000000,2.000000e+04,20000.000000,2.000000e+04,20000.000000,20000.000000
mean,10000.500000,NaN,27457.453000,1.500000,5.518503e+09,2.994750,5.489861e+15,53.883150,59666.000000
std,5773.647028,NaN,32978.664609,0.500013,2.593541e+09,1.414363,2.600624e+15,21.012974,28268.151663
min,1.000000,NaN,0.000000,1.000000,1.000056e+09,1.000000,1.000479e+15,18.000000,20000.000000
25%,5000.750000,NaN,0.000000,1.000000,3.273113e+09,2.000000,3.247054e+15,35.000000,40000.000000
50%,10000.500000,NaN,5004.000000,1.500000,5.518506e+09,3.000000,5.490412e+15,54.000000,60000.000000
75%,15000.250000,NaN,54835.250000,2.000000,7.787623e+09,4.000000,7.723538e+15,72.000000,80000.000000
max,20000.000000,NaN,99990.000000,2.000000,9.999927e+09,5.000000,9.999810e+15,90.000000,100000.000000

In [9]:
# isna - checking for null values
data.isna().sum()

customerid                  0
firstname                   0
lastname                    0
address1                    0
address2                20000
city                        0
state                   10000
zip                         0
country                     0
region                      0
email                       0
phone                       0
creditcardtype              0
creditcard                  0
creditcardexpiration        0
username                    0
password                    0
age                         0
income                      0
gender                      0
dtype: int64

In [10]:
# nan - not a number

In [11]:
# handling null values
    # ffill - foreward fill
    # bfil - backward fill
    # interpolate - average of foreward and backward values
    # mean,median,mode
    # static value

In [24]:
# fillna using a static value
data["state"] = data["state"].fillna("kl")

In [26]:
data

,customerid,firstname,lastname,address1,address2,city,state,zip,country,region,email,phone,creditcardtype,creditcard,creditcardexpiration,username,password,age,income,gender
0,1,VKUUXF,ITHOMQJNYX,4608499546 Dell Way,NaN,QSDPAGD,SD,24101,US,1,ITHOMQJNYX@dell.com,4608499546,1,1979279217775911,2012/03,user1,password,55,100000,M
1,2,HQNMZH,UNUKXHJVXB,5119315633 Dell Way,NaN,YNCERXJ,AZ,11802,US,1,UNUKXHJVXB@dell.com,5119315633,1,3144519586581737,2012/11,user2,password,80,40000,M
2,3,JTNRNB,LYYSHTQJRE,6297761196 Dell Way,NaN,LWVIFXJ,OH,96082,US,1,LYYSHTQJRE@dell.com,6297761196,4,8728086929768325,2010/12,user3,password,47,100000,M
3,4,XMFYXD,WQLQHUHLFE,9862764981 Dell Way,NaN,HOKEXCD,MS,78442,US,1,WQLQHUHLFE@dell.com,9862764981,5,7160005148965866,2009/09,user4,password,44,40000,F
4,5,PGDTDU,ETBYBNEGUT,2841895775 Dell Way,NaN,RZQTCDN,AZ,16291,US,1,ETBYBNEGUT@dell.com,2841895775,3,8377095518168063,2010/10,user5,password,21,20000,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,KKDZUC,NSAXRLLPEM,5392978326 Dell Way,NaN,BJOGRLE,kl,0,Chile,2,NSAXRLLPEM@dell.com,5392978326,5,9188167935237288,2008/11,user19996,password,78,60000,F
19996,19997,GSGAVT,SWRJHDYMQA,3311555452 Dell Way,NaN,VEGNPKT,kl,0,Australia,2,SWRJHDYMQA@dell.com,3311555452,4,2423516578041017,2008/06,user19997,password,73,60000,M
19997,19998,MQTIKL,EBVMFUZVUU,7635641998 Dell Way,NaN,ZBIPMBR,kl,0,Russia,2,EBVMFUZVUU@dell.com,7635641998,5,8653337796218694,2009/08,user19998,password,36,100000,F
19998,19999,XSKHEO,JZBOUAKOVK,5488070628 Dell Way,NaN,QDZCFRV,kl,0,UK,2,JZBOUAKOVK@dell.com,5488070628,4,2519272508565336,2008/12,user19999,password,28,20000,M
19999,20000,WODADM,AEBUFMJAWZ,6224597470 Dell Way,NaN,DVCINXG,kl,0,Australia,2,AEBUFMJAWZ@dell.com,6224597470,3,1869697669055313,2010/07,user20000,password,37,40000,F

In [28]:
data.isna().sum()

customerid                  0
firstname                   0
lastname                    0
address1                    0
address2                20000
city                        0
state                       0
zip                         0
country                     0
region                      0
email                       0
phone                       0
creditcardtype              0
creditcard                  0
creditcardexpiration        0
username                    0
password                    0
age                         0
income                      0
gender                      0
dtype: int64

In [4]:
df = pd.read_csv("scoreSheet.csv")
df

    StudentID   Name  MathScore  ScienceScore  EnglishScore  Attendance
0           1   John       85.0          90.0           NaN        92.0
1           2  Sarah       78.0           NaN          82.0        85.0
2           3    Ali        NaN          70.0          65.0        80.0
3           4  Meera       90.0          95.0          93.0         NaN
4           5   Ravi       67.0          75.0          70.0        88.0
5           6   Lena       75.0           NaN          80.0        86.0
6           7    Tom       88.0          90.0          85.0        90.0
7           8  Aisha       92.0           NaN          88.0         NaN
8           9  Vinay        NaN          60.0          55.0        70.0
9          10  Emily       80.0          85.0           NaN        95.0
10         11   Nina       77.0           NaN          78.0         NaN
11         12  Kevin        NaN          65.0          60.0        83.0
12         13   Zara       85.0          80.0          79.0        92.0
13         14  David       79.0          84.0           NaN        81.0
14         15  Maria        NaN           NaN           NaN         NaN
15         16   Arun       91.0          94.0          96.0        97.0
16         17  Clara       73.0           NaN          76.0        84.0
17         18  Steve        NaN          68.0          70.0        77.0
18         19   Anya       87.0          90.0          88.0         NaN
19         20    Raj       70.0          72.0           NaN        89.0

In [6]:
df.isna().sum()

StudentID       0
Name            0
MathScore       5
ScienceScore    6
EnglishScore    5
Attendance      5
dtype: int64

In [8]:
# ffill - foreward fill
df["MathScore"]  = df["MathScore"].fillna(method = "ffill")
df

    StudentID   Name  MathScore  ScienceScore  EnglishScore  Attendance
0           1   John       85.0          90.0           NaN        92.0
1           2  Sarah       78.0           NaN          82.0        85.0
2           3    Ali       78.0          70.0          65.0        80.0
3           4  Meera       90.0          95.0          93.0         NaN
4           5   Ravi       67.0          75.0          70.0        88.0
5           6   Lena       75.0           NaN          80.0        86.0
6           7    Tom       88.0          90.0          85.0        90.0
7           8  Aisha       92.0           NaN          88.0         NaN
8           9  Vinay       92.0          60.0          55.0        70.0
9          10  Emily       80.0          85.0           NaN        95.0
10         11   Nina       77.0           NaN          78.0         NaN
11         12  Kevin       77.0          65.0          60.0        83.0
12         13   Zara       85.0          80.0          79.0        92.0
13         14  David       79.0          84.0           NaN        81.0
14         15  Maria       79.0           NaN           NaN         NaN
15         16   Arun       91.0          94.0          96.0        97.0
16         17  Clara       73.0           NaN          76.0        84.0
17         18  Steve       73.0          68.0          70.0        77.0
18         19   Anya       87.0          90.0          88.0         NaN
19         20    Raj       70.0          72.0           NaN        89.0

In [10]:
# bfill
df["ScienceScore"] = df["ScienceScore"].fillna(method = "bfill")
df

    StudentID   Name  MathScore  ScienceScore  EnglishScore  Attendance
0           1   John       85.0          90.0           NaN        92.0
1           2  Sarah       78.0          70.0          82.0        85.0
2           3    Ali       78.0          70.0          65.0        80.0
3           4  Meera       90.0          95.0          93.0         NaN
4           5   Ravi       67.0          75.0          70.0        88.0
5           6   Lena       75.0          90.0          80.0        86.0
6           7    Tom       88.0          90.0          85.0        90.0
7           8  Aisha       92.0          60.0          88.0         NaN
8           9  Vinay       92.0          60.0          55.0        70.0
9          10  Emily       80.0          85.0           NaN        95.0
10         11   Nina       77.0          65.0          78.0         NaN
11         12  Kevin       77.0          65.0          60.0        83.0
12         13   Zara       85.0          80.0          79.0        92.0
13         14  David       79.0          84.0           NaN        81.0
14         15  Maria       79.0          94.0           NaN         NaN
15         16   Arun       91.0          94.0          96.0        97.0
16         17  Clara       73.0          68.0          76.0        84.0
17         18  Steve       73.0          68.0          70.0        77.0
18         19   Anya       87.0          90.0          88.0         NaN
19         20    Raj       70.0          72.0           NaN        89.0

In [12]:
#  filling using mean
eng_mean = np.ceil(np.mean(df["EnglishScore"]))
eng_mean

78.0

In [14]:
df["EnglishScore"] = df["EnglishScore"].fillna(eng_mean)
df

    StudentID   Name  MathScore  ScienceScore  EnglishScore  Attendance
0           1   John       85.0          90.0          78.0        92.0
1           2  Sarah       78.0          70.0          82.0        85.0
2           3    Ali       78.0          70.0          65.0        80.0
3           4  Meera       90.0          95.0          93.0         NaN
4           5   Ravi       67.0          75.0          70.0        88.0
5           6   Lena       75.0          90.0          80.0        86.0
6           7    Tom       88.0          90.0          85.0        90.0
7           8  Aisha       92.0          60.0          88.0         NaN
8           9  Vinay       92.0          60.0          55.0        70.0
9          10  Emily       80.0          85.0          78.0        95.0
10         11   Nina       77.0          65.0          78.0         NaN
11         12  Kevin       77.0          65.0          60.0        83.0
12         13   Zara       85.0          80.0          79.0        92.0
13         14  David       79.0          84.0          78.0        81.0
14         15  Maria       79.0          94.0          78.0         NaN
15         16   Arun       91.0          94.0          96.0        97.0
16         17  Clara       73.0          68.0          76.0        84.0
17         18  Steve       73.0          68.0          70.0        77.0
18         19   Anya       87.0          90.0          88.0         NaN
19         20    Raj       70.0          72.0          78.0        89.0

In [16]:
#  interpolate
df["Attendance"] = df["Attendance"].interpolate()
df

    StudentID   Name  MathScore  ScienceScore  EnglishScore  Attendance
0           1   John       85.0          90.0          78.0        92.0
1           2  Sarah       78.0          70.0          82.0        85.0
2           3    Ali       78.0          70.0          65.0        80.0
3           4  Meera       90.0          95.0          93.0        84.0
4           5   Ravi       67.0          75.0          70.0        88.0
5           6   Lena       75.0          90.0          80.0        86.0
6           7    Tom       88.0          90.0          85.0        90.0
7           8  Aisha       92.0          60.0          88.0        80.0
8           9  Vinay       92.0          60.0          55.0        70.0
9          10  Emily       80.0          85.0          78.0        95.0
10         11   Nina       77.0          65.0          78.0        89.0
11         12  Kevin       77.0          65.0          60.0        83.0
12         13   Zara       85.0          80.0          79.0        92.0
13         14  David       79.0          84.0          78.0        81.0
14         15  Maria       79.0          94.0          78.0        89.0
15         16   Arun       91.0          94.0          96.0        97.0
16         17  Clara       73.0          68.0          76.0        84.0
17         18  Steve       73.0          68.0          70.0        77.0
18         19   Anya       87.0          90.0          88.0        83.0
19         20    Raj       70.0          72.0          78.0        89.0

In [18]:
# save this dataframe into csv
df.to_csv('cleanedScoreSheet.csv',index=False,encoding='utf-8')

In [20]:
# save into excel format
df.to_excel("cleanedScoreExcelSheet.xlsx",index=False)

In [24]:
df.to_excel("C:/Users/DELL/Desktop/Data/scoresheet.xlsx",index=False)

## Excel Writer

In [27]:
data1 = pd.read_excel("campaign (1).xlsx")
data1

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
0,2024-08-01,CAM001,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,2024-08-02,CAM002,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
2,2024-08-03,CAM003,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,2024-08-04,CAM004,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,2024-08-05,CAM005,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,2024-12-24,CAM146,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,2024-12-25,CAM147,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,2024-12-26,CAM148,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,2024-12-27,CAM149,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,2024-12-28,CAM150,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [29]:
data2 = pd.read_csv("gdp_top_countries.csv")
data2

,date,Canada,France,Germany,Italy,Netherlands,Spain,United States
0,2005-01-01,1.173109e+12,2.192146e+12,2.893393e+12,1.864982e+12,6.881337e+11,1.154668e+12,1.303920e+13
1,2006-01-01,1.319265e+12,2.317862e+12,3.046309e+12,1.958564e+12,7.375940e+11,1.261847e+12,1.381558e+13
2,2007-01-01,1.468820e+12,2.655817e+12,3.484057e+12,2.222524e+12,8.534995e+11,1.476746e+12,1.447423e+13
3,2008-01-01,1.552990e+12,2.926803e+12,3.808786e+12,2.417508e+12,9.579016e+11,1.636115e+12,1.476986e+13
4,2009-01-01,1.374625e+12,2.700076e+12,3.479801e+12,2.209484e+12,8.789542e+11,1.496588e+12,1.447807e+13
5,2010-01-01,1.617343e+12,2.646230e+12,3.468154e+12,2.144936e+12,8.524650e+11,1.427989e+12,1.504897e+13
6,2011-01-01,1.793327e+12,2.870409e+12,3.824829e+12,2.306974e+12,9.131407e+11,1.487569e+12,1.559973e+13
7,2012-01-01,1.828366e+12,2.683007e+12,3.597897e+12,2.097929e+12,8.456890e+11,1.330995e+12,1.625397e+13
8,2013-01-01,1.846597e+12,2.816078e+12,3.808086e+12,2.153226e+12,8.839515e+11,1.362187e+12,1.688068e+13
9,2014-01-01,1.805750e+12,2.861236e+12,3.965801e+12,2.173256e+12,9.015565e+11,1.380245e+12,1.760814e+13
10,2015-01-01,1.556509e+12,2.442483e+12,3.423568e+12,1.845428e+12,7.757437e+11,1.206165e+12,1.829502e+13
11,2016-01-01,1.527995e+12,2.470408e+12,3.537784e+12,1.887111e+12,7.971639e+11,1.243016e+12,1.880491e+13
12,2017-01-01,1.649266e+12,2.588868e+12,3.763092e+12,1.970721e+12,8.482335e+11,1.321754e+12,1.961210e+13
13,2018-01-01,1.725329e+12,2.781576e+12,4.052008e+12,2.099435e+12,9.297336e+11,1.431643e+12,2.065652e+13
14,2019-01-01,1.743725e+12,2.722794e+12,3.957208e+12,2.019607e+12,9.289030e+11,1.403496e+12,2.153998e+13
15,2020-01-01,1.655685e+12,2.647926e+12,3.940143e+12,1.907481e+12,9.325609e+11,1.289784e+12,2.135410e+13
16,2021-01-01,2.022379e+12,2.966434e+12,4.348297e+12,2.179208e+12,1.054472e+12,1.461245e+12,2.368117e+13
17,2022-01-01,2.190411e+12,2.796302e+12,4.163596e+12,2.104068e+12,1.046541e+12,1.446498e+12,2.600689e+13
18,2023-01-01,2.173340e+12,3.051832e+12,4.525704e+12,2.304605e+12,1.154361e+12,1.620091e+12,2.772071e+13
19,2024-01-01,2.241253e+12,3.162079e+12,4.659929e+12,2.372775e+12,1.227544e+12,1.722746e+12,2.918489e+13

In [31]:
with pd.ExcelWriter("CombinedFile.xlsx") as wr:
    data1.to_excel(wr,sheet_name="Campaign",index=False)
    data2.to_excel(wr,sheet_name="GDP",index=False)

### Sorting

In [34]:
data = pd.read_excel("campaign (1).xlsx")
data

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
0,2024-08-01,CAM001,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,2024-08-02,CAM002,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
2,2024-08-03,CAM003,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,2024-08-04,CAM004,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,2024-08-05,CAM005,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,2024-12-24,CAM146,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,2024-12-25,CAM147,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,2024-12-26,CAM148,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,2024-12-27,CAM149,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,2024-12-28,CAM150,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [38]:
df_AC_sorted = data.sort_values(by="Clicks")  # by defaul sort is ascending
df_AC_sorted

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
90,2024-10-30,CAM091,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4831,105,13,494
68,2024-10-08,CAM069,Crystal Clear Discount,Walter White,Fan Forums,4437,106,11,336
67,2024-10-07,CAM068,Blue Sky Special,Mike Ehrmantraut,Streaming Service,4556,107,20,332
123,2024-12-02,CAM124,The Pinkman Promotion,Mike Ehrmantraut,Streaming Service,6904,107,37,479
92,2024-11-01,CAM093,Heisenberg's Deals,Jesse Pinkman,Fast Food Sites,4763,107,44,301
...,...,...,...,...,...,...,...,...,...
47,2024-09-17,CAM048,Blue Sky Special,Gustavo Fring,Fan Forums,2404,805,58,428
129,2024-12-08,CAM130,Blue Sky Special,Gustavo Fring,Fan Forums,5843,824,78,172
56,2024-09-26,CAM057,Heisenberg's Deals,Gustavo Fring,Fan Forums,2913,856,96,362
58,2024-09-28,CAM059,MT Lab Mania,Gustavo Fring,Fan Forums,6812,869,95,162
101,2024-11-10,CAM102,MT Lab Mania,Gustavo Fring,Fan Forums,3904,895,96,370

In [40]:
df_desc_sorted = data.sort_values(by="Clicks",ascending=False) # descending order
df_desc_sorted

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
101,2024-11-10,CAM102,MT Lab Mania,Gustavo Fring,Fan Forums,3904,895,96,370
58,2024-09-28,CAM059,MT Lab Mania,Gustavo Fring,Fan Forums,6812,869,95,162
56,2024-09-26,CAM057,Heisenberg's Deals,Gustavo Fring,Fan Forums,2913,856,96,362
129,2024-12-08,CAM130,Blue Sky Special,Gustavo Fring,Fan Forums,5843,824,78,172
47,2024-09-17,CAM048,Blue Sky Special,Gustavo Fring,Fan Forums,2404,805,58,428
...,...,...,...,...,...,...,...,...,...
67,2024-10-07,CAM068,Blue Sky Special,Mike Ehrmantraut,Streaming Service,4556,107,20,332
123,2024-12-02,CAM124,The Pinkman Promotion,Mike Ehrmantraut,Streaming Service,6904,107,37,479
92,2024-11-01,CAM093,Heisenberg's Deals,Jesse Pinkman,Fast Food Sites,4763,107,44,301
68,2024-10-08,CAM069,Crystal Clear Discount,Walter White,Fan Forums,4437,106,11,336
90,2024-10-30,CAM091,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4831,105,13,494

In [42]:
data

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
0,2024-08-01,CAM001,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,2024-08-02,CAM002,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
2,2024-08-03,CAM003,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,2024-08-04,CAM004,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,2024-08-05,CAM005,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,2024-12-24,CAM146,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,2024-12-25,CAM147,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,2024-12-26,CAM148,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,2024-12-27,CAM149,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,2024-12-28,CAM150,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [44]:
# inplace
data.sort_values(by="Impressions",ascending=False,inplace=True)

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
25,2024-08-26,CAM026,Blue Sky Special,Jesse Pinkman,Email Campaigns,6994,413,6,474
31,2024-09-01,CAM032,The Pinkman Promotion,Walter White,Email Campaigns,6977,437,27,140
13,2024-08-14,CAM014,Blue Sky Special,Saul Goodman,Email Campaigns,6924,122,18,341
123,2024-12-02,CAM124,The Pinkman Promotion,Mike Ehrmantraut,Streaming Service,6904,107,37,479
26,2024-08-27,CAM027,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6861,306,157,188
...,...,...,...,...,...,...,...,...,...
88,2024-10-28,CAM089,Heisenberg's Deals,Mike Ehrmantraut,Streaming Service,2078,223,194,457
104,2024-11-13,CAM105,Heisenberg's Deals,Gustavo Fring,Fast Food Sites,2072,226,180,282
127,2024-12-06,CAM128,Heisenberg's Deals,Saul Goodman,Streaming Service,2021,362,235,358
91,2024-10-31,CAM092,Blue Sky Special,Gustavo Fring,Fast Food Sites,2010,394,145,480
48,2024-09-18,CAM049,The Pinkman Promotion,Saul Goodman,Streaming Service,2004,204,112,163

### Indexing

In [49]:
df = pd.read_excel("campaign (1).xlsx")
df

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
0,2024-08-01,CAM001,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,2024-08-02,CAM002,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
2,2024-08-03,CAM003,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,2024-08-04,CAM004,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,2024-08-05,CAM005,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,2024-12-24,CAM146,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,2024-12-25,CAM147,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,2024-12-26,CAM148,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,2024-12-27,CAM149,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,2024-12-28,CAM150,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [51]:
df.set_index("Campaign ID",inplace=True)
# primary key - used to specify a record/data point

In [53]:
df

,Date,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
Campaign ID,,,,,,,,
CAM001,2024-08-01,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
CAM002,2024-08-02,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
CAM003,2024-08-03,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
CAM004,2024-08-04,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
CAM005,2024-08-05,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...
CAM146,2024-12-24,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
CAM147,2024-12-25,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
CAM148,2024-12-26,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
CAM149,2024-12-27,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
CAM150,2024-12-28,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [66]:
df.loc["CAM005"]  # location

Date                     2024-08-05 00:00:00
Campaign Name         Crystal Clear Discount
Responsible Person             Jesse Pinkman
Location                          Fan Forums
Impressions                             6688
Clicks                                   191
Units Sold                               180
Ad Spend                                 219
Name: CAM005, dtype: object

In [68]:
df.loc[["CAM005"]]

,Date,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
Campaign ID,,,,,,,,
CAM005,2024-08-05,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219

In [80]:
df.loc["CAM005":"CAM010"]   # slicing using loc

,Date,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
Campaign ID,,,,,,,,
CAM005,2024-08-05,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
CAM006,2024-08-06,The Pinkman Promotion,Mike Ehrmantraut,Fan Forums,3290,277,51,423
CAM007,2024-08-07,Heisenberg's Deals,Saul Goodman,Fast Food Sites,6305,380,76,127
CAM008,2024-08-08,Blue Sky Special,Walter White,Fan Forums,2402,123,12,319
CAM009,2024-08-09,Heisenberg's Deals,Walter White,Fan Forums,2555,417,96,350
CAM010,2024-08-10,Crystal Clear Discount,Gustavo Fring,Fast Food Sites,6326,258,253,204

In [82]:
df["CAM005":"CAM010"]   # slicing

,Date,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
Campaign ID,,,,,,,,
CAM005,2024-08-05,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
CAM006,2024-08-06,The Pinkman Promotion,Mike Ehrmantraut,Fan Forums,3290,277,51,423
CAM007,2024-08-07,Heisenberg's Deals,Saul Goodman,Fast Food Sites,6305,380,76,127
CAM008,2024-08-08,Blue Sky Special,Walter White,Fan Forums,2402,123,12,319
CAM009,2024-08-09,Heisenberg's Deals,Walter White,Fan Forums,2555,417,96,350
CAM010,2024-08-10,Crystal Clear Discount,Gustavo Fring,Fast Food Sites,6326,258,253,204

In [87]:
# iloc = integer location

In [89]:
df

,Date,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
Campaign ID,,,,,,,,
CAM001,2024-08-01,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
CAM002,2024-08-02,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
CAM003,2024-08-03,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
CAM004,2024-08-04,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
CAM005,2024-08-05,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...
CAM146,2024-12-24,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
CAM147,2024-12-25,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
CAM148,2024-12-26,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
CAM149,2024-12-27,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
CAM150,2024-12-28,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [91]:
df.reset_index(inplace=True)

In [93]:
df

,Campaign ID,Date,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
0,CAM001,2024-08-01,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,CAM002,2024-08-02,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
2,CAM003,2024-08-03,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,CAM004,2024-08-04,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,CAM005,2024-08-05,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,CAM146,2024-12-24,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,CAM147,2024-12-25,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,CAM148,2024-12-26,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,CAM149,2024-12-27,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,CAM150,2024-12-28,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [101]:
# iloc  - integer location
df.iloc[[4,145,140]]

,Campaign ID,Date,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
4,CAM005,2024-08-05,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
145,CAM146,2024-12-24,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
140,CAM141,2024-12-19,The Pinkman Promotion,Jesse Pinkman,Streaming Service,2905,268,98,409

In [115]:
# accessing a single value
df.iloc[145]["Impressions"]  # row number , column name

2223

In [119]:
df.iloc[10:20]["Clicks"]

10    326
11    282
12    322
13    122
14    360
15    333
16    258
17    221
18    410
19    160
Name: Clicks, dtype: int64

In [136]:
df.loc[10:20,"Clicks":"Ad Spend"]

    Clicks  Units Sold  Ad Spend
10     326          24       312
11     282          64       173
12     322          85       174
13     122          18       341
14     360         105       406
15     333           5       379
16     258          22       119
17     221          44       498
18     410         382       417
19     160          83       183
20     188          73       440

In [138]:
df

,Campaign ID,Date,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
0,CAM001,2024-08-01,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,CAM002,2024-08-02,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
2,CAM003,2024-08-03,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,CAM004,2024-08-04,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,CAM005,2024-08-05,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,CAM146,2024-12-24,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,CAM147,2024-12-25,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,CAM148,2024-12-26,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,CAM149,2024-12-27,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,CAM150,2024-12-28,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [142]:
# rename column headings
df = df.rename(columns={"Responsible Person":"Person Name","Units Sold":"Sold"})

In [144]:
df

,Campaign ID,Date,Campaign Name,Person Name,Location,Impressions,Clicks,Sold,Ad Spend
0,CAM001,2024-08-01,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,CAM002,2024-08-02,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
2,CAM003,2024-08-03,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,CAM004,2024-08-04,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,CAM005,2024-08-05,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,CAM146,2024-12-24,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,CAM147,2024-12-25,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,CAM148,2024-12-26,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,CAM149,2024-12-27,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,CAM150,2024-12-28,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [146]:
# value counts
df["Campaign Name"].value_counts()

Campaign Name
MT Lab Mania              36
Crystal Clear Discount    32
Blue Sky Special          32
Heisenberg's Deals        29
The Pinkman Promotion     21
Name: count, dtype: int64

In [148]:
df["Location"].value_counts()

Location
Fast Food Sites      43
Fan Forums           42
Email Campaigns      29
Streaming Service    24
Car Wash Sites       12
Name: count, dtype: int64

In [152]:
df["Person Name"].unique()

array(['Jesse Pinkman', 'Saul Goodman', 'Mike Ehrmantraut',
       'Walter White', 'Gustavo Fring'], dtype=object)

In [156]:
print(len(df["Person Name"].unique()))  # length of unique values

5

In [158]:
df["Person Name"].nunique()   # number of unique values

5

In [160]:
# count -- count of non null values
df["Location"].count()

150

In [162]:
# mode -- most frequent value
df["Location"].mode()

0    Fast Food Sites
Name: Location, dtype: object

In [164]:
df["Location"].describe()

count                 150
unique                  5
top       Fast Food Sites
freq                   43
Name: Location, dtype: object

In [166]:

df

,Campaign ID,Date,Campaign Name,Person Name,Location,Impressions,Clicks,Sold,Ad Spend
0,CAM001,2024-08-01,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,CAM002,2024-08-02,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
2,CAM003,2024-08-03,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,CAM004,2024-08-04,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,CAM005,2024-08-05,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,CAM146,2024-12-24,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,CAM147,2024-12-25,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,CAM148,2024-12-26,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,CAM149,2024-12-27,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,CAM150,2024-12-28,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

## Iteration Over DataFrame

In [179]:
df

,Campaign ID,Date,Campaign Name,Person Name,Location,Impressions,Clicks,Sold,Ad Spend
0,CAM001,2024-08-01,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,CAM002,2024-08-02,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
2,CAM003,2024-08-03,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,CAM004,2024-08-04,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,CAM005,2024-08-05,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,CAM146,2024-12-24,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,CAM147,2024-12-25,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,CAM148,2024-12-26,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,CAM149,2024-12-27,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,CAM150,2024-12-28,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [201]:
for index,row in df.iterrows():
    print(index)
    print(row)

0
Campaign ID                     CAM001
Date               2024-08-01 00:00:00
Campaign Name    The Pinkman Promotion
Person Name              Jesse Pinkman
Location               Fast Food Sites
Impressions                       2363
Clicks                             246
Sold                                24
Ad Spend                           158
Name: 0, dtype: object
1
Campaign ID                   CAM002
Date             2024-08-02 00:00:00
Campaign Name     Heisenberg's Deals
Person Name             Saul Goodman
Location           Streaming Service
Impressions                     2184
Clicks                           474
Sold                             182
Ad Spend                         105
Name: 1, dtype: object
2
Campaign ID                      CAM003
Date                2024-08-03 00:00:00
Campaign Name    Crystal Clear Discount
Person Name            Mike Ehrmantraut
Location                     Fan Forums
Impressions                        2090
Clicks                              285
Sold                                197
Ad Spend                            108
Name: 2, dtype: object
3
Campaign ID                   CAM004
Date             2024-08-04 00:00:00
Campaign Name           MT Lab Mania
Person Name         Mike Ehrmantraut
Location                  Fan Forums
Impressions                     6475
Clicks                           310
Sold                              98
Ad Spend                         162
Name: 3, dtype: object
4
Campaign ID                      CAM005
Date                2024-08-05 00:00:00
Campaign Name    Crystal Clear Discount
Person Name               Jesse Pinkman
Location                     Fan Forums
Impressions                        6688
Clicks                              191
Sold                                180
Ad Spend                            219
Name: 4, dtype: object
5
Campaign ID                     CAM006
Date               2024-08-06 00:00:00
Campaign Name    The Pinkman Promotion
Person Name           Mike Ehrmantraut
Location                    Fan Forums
Impressions                       3290
Clicks                             277
Sold                                51
Ad Spend                           423
Name: 5, dtype: object
6
Campaign ID                   CAM007
Date             2024-08-07 00:00:00
Campaign Name     Heisenberg's Deals
Person Name             Saul Goodman
Location             Fast Food Sites
Impressions                     6305
Clicks                           380
Sold                              76
Ad Spend                         127
Name: 6, dtype: object
7
Campaign ID                   CAM008
Date             2024-08-08 00:00:00
Campaign Name       Blue Sky Special
Person Name             Walter White
Location                  Fan Forums
Impressions                     2402
Clicks                           123
Sold                              12
Ad Spend                         319
Name: 7, dtype: object
8
Campaign ID                   CAM009
Date             2024-08-09 00:00:00
Campaign Name     Heisenberg's Deals
Person Name             Walter White
Location                  Fan Forums
Impressions                     2555
Clicks                           417
Sold                              96
Ad Spend                         350
Name: 8, dtype: object
9
Campaign ID                      CAM010
Date                2024-08-10 00:00:00
Campaign Name    Crystal Clear Discount
Person Name               Gustavo Fring
Location                Fast Food Sites
Impressions                        6326
Clicks                              258
Sold                                253
Ad Spend                            204
Name: 9, dtype: object
10
Campaign ID                   CAM011
Date             2024-08-11 00:00:00
Campaign Name       Blue Sky Special
Person Name         Mike Ehrmantraut
Location             Fast Food Sites
Impressions                     5585
Clicks                           326
Sold                              24
Ad Spend                         312
Name: 10, dtype: object
11
Campaign ID                     CAM012
Date               2024-08-12 00:00:00
Campaign Name    The Pinkman Promotion
Person Name           Mike Ehrmantraut
Location               Email Campaigns
Impressions                       4977
Clicks                             282
Sold                                64
Ad Spend                           173
Name: 11, dtype: object
12
Campaign ID                      CAM013
Date                2024-08-13 00:00:00
Campaign Name    Crystal Clear Discount
Person Name                Walter White
Location                     Fan Forums
Impressions                        3900
Clicks                              322
Sold                                 85
Ad Spend                            174
Name: 12, dtype: object
13
Campaign ID                   CAM014
Date             2024-08-14 00:00:00
Campaign Name       Blue Sky Special
Person Name             Saul Goodman
Location             Email Campaigns
Impressions                     6924
Clicks                           122
Sold                              18
Ad Spend                         341
Name: 13, dtype: object
14
Campaign ID                      CAM015
Date                2024-08-15 00:00:00
Campaign Name    Crystal Clear Discount
Person Name            Mike Ehrmantraut
Location                     Fan Forums
Impressions                        2473
Clicks                              360
Sold                                105
Ad Spend                            406
Name: 14, dtype: object
15
Campaign ID                   CAM016
Date             2024-08-16 00:00:00
Campaign Name           MT Lab Mania
Person Name            Jesse Pinkman
Location             Email Campaigns
Impressions                     2637
Clicks                           333
Sold                               5
Ad Spend                         379
Name: 15, dtype: object
16
Campaign ID                      CAM017
Date                2024-08-17 00:00:00
Campaign Name    Crystal Clear Discount
Person Name                Saul Goodman
Location                Email Campaigns
Impressions                        6839
Clicks                              258
Sold                                 22
Ad Spend                            119
Name: 16, dtype: object
17
Campaign ID                   CAM018
Date             2024-08-18 00:00:00
Campaign Name           MT Lab Mania
Person Name             Saul Goodman
Location           Streaming Service
Impressions                     5476
Clicks                           221
Sold                              44
Ad Spend                         498
Name: 17, dtype: object
18
Campaign ID                   CAM019
Date             2024-08-19 00:00:00
Campaign Name       Blue Sky Special
Person Name             Walter White
Location              Car Wash Sites
Impressions                     4427
Clicks                           410
Sold                             382
Ad Spend                         417
Name: 18, dtype: object
19
Campaign ID                   CAM020
Date             2024-08-20 00:00:00
Campaign Name           MT Lab Mania
Person Name            Gustavo Fring
Location             Fast Food Sites
Impressions                     6661
Clicks                           160
Sold                              83
Ad Spend                         183
Name: 19, dtype: object
20
Campaign ID                   CAM021
Date             2024-08-21 00:00:00
Campaign Name     Heisenberg's Deals
Person Name             Walter White
Location                  Fan Forums
Impressions                     5381
Clicks                           188
Sold                              73
Ad Spend                         440
Name: 20, dtype: object
21
Campaign ID                   CAM022
Date             2024-08-22 00:00:00
Campaign Name           MT Lab Mania
Person Name            Jesse Pinkman
Location                  Fan Forums
Impressions                     3025
Clicks                           216
Sold                              78
Ad Spend                         277
Name: 21, dtype: object
22
Campaign ID                      CAM023
Date                2024-08-23 00:00:00
Campaign Name    Crystal Clear Discount
Person Name                Saul Goodman
Location                     Fan Forums
Impressions                        6563
Clicks                              456
Sold                                273
Ad Spend                            407
Name: 22, dtype: object
23
Campaign ID                   CAM024
Date             2024-08-24 00:00:00
Campaign Name       Blue Sky Special
Person Name            Jesse Pinkman
Location                  Fan Forums
Impressions                     6839
Clicks                           235
Sold                             171
Ad Spend                         116
Name: 23, dtype: object
24
Campaign ID                   CAM025
Date             2024-08-25 00:00:00
Campaign Name     Heisenberg's Deals
Person Name         Mike Ehrmantraut
Location             Fast Food Sites
Impressions                     5269
Clicks                           115
Sold                              37
Ad Spend                         100
Name: 24, dtype: object
25
Campaign ID                   CAM026
Date             2024-08-26 00:00:00
Campaign Name       Blue Sky Special
Person Name            Jesse Pinkman
Location             Email Campaigns
Impressions                     6994
Clicks                           413
Sold                               6
Ad Spend                         474
Name: 25, dtype: object
26
Campaign ID                   CAM027
Date             2024-08-27 00:00:00
Campaign Name           MT Lab Mania
Person Name         Mike Ehrmantraut
Location                  Fan Forums
Impressions                     6861
Clicks                           306
Sold                             157
Ad Spend                         188
Name: 26, dtype: object
27
Campaign ID                   CAM028
Date             2024-08-28 00:00:00
Campaign Name           MT Lab Mania
Person Name             Walter White
Location             Email Campaigns
Impressions                     3395
Clicks                           315
Sold                             108
Ad Spend                         374
Name: 27, dtype: object
28
Campaign ID                   CAM029
Date             2024-08-29 00:00:00
Campaign Name           MT Lab Mania
Person Name             Saul Goodman
Location           Streaming Service
Impressions                     3777
Clicks                           451
Sold                             227
Ad Spend                         186
Name: 28, dtype: object
29
Campaign ID                      CAM030
Date                2024-08-30 00:00:00
Campaign Name    Crystal Clear Discount
Person Name               Jesse Pinkman
Location                     Fan Forums
Impressions                        6849
Clicks                              465
Sold                                 46
Ad Spend                            189
Name: 29, dtype: object
30
Campaign ID                   CAM031
Date             2024-08-31 00:00:00
Campaign Name           MT Lab Mania
Person Name         Mike Ehrmantraut
Location             Fast Food Sites
Impressions                     3181
Clicks                           339
Sold                              49
Ad Spend                         107
Name: 30, dtype: object
31
Campaign ID                     CAM032
Date               2024-09-01 00:00:00
Campaign Name    The Pinkman Promotion
Person Name               Walter White
Location               Email Campaigns
Impressions                       6977
Clicks                             437
Sold                                27
Ad Spend                           140
Name: 31, dtype: object
32
Campaign ID                   CAM033
Date             2024-09-02 00:00:00
Campaign Name       Blue Sky Special
Person Name             Walter White
Location             Email Campaigns
Impressions                     3199
Clicks                           164
Sold                              32
Ad Spend                         497
Name: 32, dtype: object
33
Campaign ID                   CAM034
Date             2024-09-03 00:00:00
Campaign Name       Blue Sky Special
Person Name             Saul Goodman
Location                  Fan Forums
Impressions                     5104
Clicks                           183
Sold                              61
Ad Spend                         296
Name: 33, dtype: object
34
Campaign ID                   CAM035
Date             2024-09-04 00:00:00
Campaign Name       Blue Sky Special
Person Name             Saul Goodman
Location             Fast Food Sites
Impressions                     6700
Clicks                           172
Sold                             136
Ad Spend                         488
Name: 34, dtype: object
35
Campaign ID                   CAM036
Date             2024-09-05 00:00:00
Campaign Name           MT Lab Mania
Person Name            Gustavo Fring
Location             Fast Food Sites
Impressions                     2916
Clicks                           195
Sold                             113
Ad Spend                         141
Name: 35, dtype: object
36
Campaign ID                   CAM037
Date             2024-09-06 00:00:00
Campaign Name           MT Lab Mania
Person Name             Saul Goodman
Location           Streaming Service
Impressions                     2089
Clicks                           381
Sold                             224
Ad Spend                         451
Name: 36, dtype: object
37
Campaign ID                   CAM038
Date             2024-09-07 00:00:00
Campaign Name     Heisenberg's Deals
Person Name            Gustavo Fring
Location             Fast Food Sites
Impressions                     4160
Clicks                           243
Sold                              27
Ad Spend                         258
Name: 37, dtype: object
38
Campaign ID                   CAM039
Date             2024-09-08 00:00:00
Campaign Name       Blue Sky Special
Person Name             Saul Goodman
Location           Streaming Service
Impressions                     6750
Clicks                           259
Sold                             231
Ad Spend                         275
Name: 38, dtype: object
39
Campaign ID                     CAM040
Date               2024-09-09 00:00:00
Campaign Name    The Pinkman Promotion
Person Name              Jesse Pinkman
Location             Streaming Service
Impressions                       3635
Clicks                             493
Sold                               197
Ad Spend                           433
Name: 39, dtype: object
40
Campaign ID                      CAM041
Date                2024-09-10 00:00:00
Campaign Name    Crystal Clear Discount
Person Name            Mike Ehrmantraut
Location                Email Campaigns
Impressions                        6538
Clicks                              341
Sold                                 53
Ad Spend                            373
Name: 40, dtype: object
41
Campaign ID                   CAM042
Date             2024-09-11 00:00:00
Campaign Name       Blue Sky Special
Person Name             Saul Goodman
Location             Email Campaigns
Impressions                     2211
Clicks                           257
Sold                              13
Ad Spend                         236
Name: 41, dtype: object
42
Campaign ID                      CAM043
Date                2024-09-12 00:00:00
Campaign Name    Crystal Clear Discount
Person Name            Mike Ehrmantraut
Location                 Car Wash Sites
Impressions                        6047
Clicks                              336
Sold                                204
Ad Spend                            379
Name: 42, dtype: object
43
Campaign ID                      CAM044
Date                2024-09-13 00:00:00
Campaign Name    Crystal Clear Discount
Person Name                Saul Goodman
Location                Fast Food Sites
Impressions                        5296
Clicks                              380
Sold                                360
Ad Spend                            480
Name: 43, dtype: object
44
Campaign ID                     CAM045
Date               2024-09-14 00:00:00
Campaign Name    The Pinkman Promotion
Person Name              Jesse Pinkman
Location                Car Wash Sites
Impressions                       5704
Clicks                             183
Sold                                66
Ad Spend                           349
Name: 44, dtype: object
45
Campaign ID                   CAM046
Date             2024-09-15 00:00:00
Campaign Name     Heisenberg's Deals
Person Name             Walter White
Location           Streaming Service
Impressions                     3973
Clicks                           194
Sold                              71
Ad Spend                         498
Name: 45, dtype: object
46
Campaign ID                     CAM047
Date               2024-09-16 00:00:00
Campaign Name    The Pinkman Promotion
Person Name              Jesse Pinkman
Location               Email Campaigns
Impressions                       2154
Clicks                             466
Sold                                 2
Ad Spend                           266
Name: 46, dtype: object
47
Campaign ID                   CAM048
Date             2024-09-17 00:00:00
Campaign Name       Blue Sky Special
Person Name            Gustavo Fring
Location                  Fan Forums
Impressions                     2404
Clicks                           805
Sold                              58
Ad Spend                         428
Name: 47, dtype: object
48
Campaign ID                     CAM049
Date               2024-09-18 00:00:00
Campaign Name    The Pinkman Promotion
Person Name               Saul Goodman
Location             Streaming Service
Impressions                       2004
Clicks                             204
Sold                               112
Ad Spend                           163
Name: 48, dtype: object
49
Campaign ID                   CAM050
Date             2024-09-19 00:00:00
Campaign Name     Heisenberg's Deals
Person Name            Jesse Pinkman
Location             Email Campaigns
Impressions                     4802
Clicks                           440
Sold                               4
Ad Spend                         228
Name: 49, dtype: object
50
Campaign ID                   CAM051
Date             2024-09-20 00:00:00
Campaign Name     Heisenberg's Deals
Person Name         Mike Ehrmantraut
Location                  Fan Forums
Impressions                     5347
Clicks                           334
Sold                             332
Ad Spend                         441
Name: 50, dtype: object
51
Campaign ID                   CAM052
Date             2024-09-21 00:00:00
Campaign Name           MT Lab Mania
Person Name         Mike Ehrmantraut
Location                  Fan Forums
Impressions                     2654
Clicks                           297
Sold                             146
Ad Spend                         333
Name: 51, dtype: object
52
Campaign ID                     CAM053
Date               2024-09-22 00:00:00
Campaign Name    The Pinkman Promotion
Person Name               Saul Goodman
Location                    Fan Forums
Impressions                       3267
Clicks                             125
Sold                                80
Ad Spend                           118
Name: 52, dtype: object
53
Campaign ID                      CAM054
Date                2024-09-23 00:00:00
Campaign Name    Crystal Clear Discount
Person Name                Saul Goodman
Location                     Fan Forums
Impressions                        4330
Clicks                              199
Sold                                118
Ad Spend                            434
Name: 53, dtype: object
54
Campaign ID                     CAM055
Date               2024-09-24 00:00:00

In [192]:
for index,row in df.iterrows():
    print(f"index:{index},Campaign Name:{row['Campaign Name']},Location:{row['Location']}")

index:0,Campaign Name:The Pinkman Promotion,Location:Fast Food Sites
index:1,Campaign Name:Heisenberg's Deals,Location:Streaming Service
index:2,Campaign Name:Crystal Clear Discount,Location:Fan Forums
index:3,Campaign Name:MT Lab Mania,Location:Fan Forums
index:4,Campaign Name:Crystal Clear Discount,Location:Fan Forums
index:5,Campaign Name:The Pinkman Promotion,Location:Fan Forums
index:6,Campaign Name:Heisenberg's Deals,Location:Fast Food Sites
index:7,Campaign Name:Blue Sky Special,Location:Fan Forums
index:8,Campaign Name:Heisenberg's Deals,Location:Fan Forums
index:9,Campaign Name:Crystal Clear Discount,Location:Fast Food Sites
index:10,Campaign Name:Blue Sky Special,Location:Fast Food Sites
index:11,Campaign Name:The Pinkman Promotion,Location:Email Campaigns
index:12,Campaign Name:Crystal Clear Discount,Location:Fan Forums
index:13,Campaign Name:Blue Sky Special,Location:Email Campaigns
index:14,Campaign Name:Crystal Clear Discount,Location:Fan Forums
index:15,Campaign Name:MT Lab Mania,Location:Email Campaigns
index:16,Campaign Name:Crystal Clear Discount,Location:Email Campaigns
index:17,Campaign Name:MT Lab Mania,Location:Streaming Service
index:18,Campaign Name:Blue Sky Special,Location:Car Wash Sites
index:19,Campaign Name:MT Lab Mania,Location:Fast Food Sites
index:20,Campaign Name:Heisenberg's Deals,Location:Fan Forums
index:21,Campaign Name:MT Lab Mania,Location:Fan Forums
index:22,Campaign Name:Crystal Clear Discount,Location:Fan Forums
index:23,Campaign Name:Blue Sky Special,Location:Fan Forums
index:24,Campaign Name:Heisenberg's Deals,Location:Fast Food Sites
index:25,Campaign Name:Blue Sky Special,Location:Email Campaigns
index:26,Campaign Name:MT Lab Mania,Location:Fan Forums
index:27,Campaign Name:MT Lab Mania,Location:Email Campaigns
index:28,Campaign Name:MT Lab Mania,Location:Streaming Service
index:29,Campaign Name:Crystal Clear Discount,Location:Fan Forums
index:30,Campaign Name:MT Lab Mania,Location:Fast Food Sites
index:31,Campaign Name:The Pinkman Promotion,Location:Email Campaigns
index:32,Campaign Name:Blue Sky Special,Location:Email Campaigns
index:33,Campaign Name:Blue Sky Special,Location:Fan Forums
index:34,Campaign Name:Blue Sky Special,Location:Fast Food Sites
index:35,Campaign Name:MT Lab Mania,Location:Fast Food Sites
index:36,Campaign Name:MT Lab Mania,Location:Streaming Service
index:37,Campaign Name:Heisenberg's Deals,Location:Fast Food Sites
index:38,Campaign Name:Blue Sky Special,Location:Streaming Service
index:39,Campaign Name:The Pinkman Promotion,Location:Streaming Service
index:40,Campaign Name:Crystal Clear Discount,Location:Email Campaigns
index:41,Campaign Name:Blue Sky Special,Location:Email Campaigns
index:42,Campaign Name:Crystal Clear Discount,Location:Car Wash Sites
index:43,Campaign Name:Crystal Clear Discount,Location:Fast Food Sites
index:44,Campaign Name:The Pinkman Promotion,Location:Car Wash Sites
index:45,Campaign Name:Heisenberg's Deals,Location:Streaming Service
index:46,Campaign Name:The Pinkman Promotion,Location:Email Campaigns
index:47,Campaign Name:Blue Sky Special,Location:Fan Forums
index:48,Campaign Name:The Pinkman Promotion,Location:Streaming Service
index:49,Campaign Name:Heisenberg's Deals,Location:Email Campaigns
index:50,Campaign Name:Heisenberg's Deals,Location:Fan Forums
index:51,Campaign Name:MT Lab Mania,Location:Fan Forums
index:52,Campaign Name:The Pinkman Promotion,Location:Fan Forums
index:53,Campaign Name:Crystal Clear Discount,Location:Fan Forums
index:54,Campaign Name:The Pinkman Promotion,Location:Fan Forums
index:55,Campaign Name:Blue Sky Special,Location:Fan Forums
index:56,Campaign Name:Heisenberg's Deals,Location:Fan Forums
index:57,Campaign Name:Crystal Clear Discount,Location:Fast Food Sites
index:58,Campaign Name:MT Lab Mania,Location:Fan Forums
index:59,Campaign Name:The Pinkman Promotion,Location:Fast Food Sites
index:60,Campaign Name:Blue Sky Special,Location:Email Campaigns
index:61,Campaign Name:Crystal Clear Discount,Location:Fan Forums
index:62,Campaign Name:MT Lab Mania,Location:Fast Food Sites
index:63,Campaign Name:Blue Sky Special,Location:Email Campaigns
index:64,Campaign Name:Crystal Clear Discount,Location:Fast Food Sites
index:65,Campaign Name:Blue Sky Special,Location:Fast Food Sites
index:66,Campaign Name:Blue Sky Special,Location:Fast Food Sites
index:67,Campaign Name:Blue Sky Special,Location:Streaming Service
index:68,Campaign Name:Crystal Clear Discount,Location:Fan Forums
index:69,Campaign Name:Crystal Clear Discount,Location:Email Campaigns
index:70,Campaign Name:Crystal Clear Discount,Location:Fan Forums
index:71,Campaign Name:Blue Sky Special,Location:Car Wash Sites
index:72,Campaign Name:Heisenberg's Deals,Location:Email Campaigns
index:73,Campaign Name:MT Lab Mania,Location:Fan Forums
index:74,Campaign Name:Heisenberg's Deals,Location:Email Campaigns
index:75,Campaign Name:Crystal Clear Discount,Location:Fast Food Sites
index:76,Campaign Name:Crystal Clear Discount,Location:Streaming Service
index:77,Campaign Name:Crystal Clear Discount,Location:Fast Food Sites
index:78,Campaign Name:The Pinkman Promotion,Location:Email Campaigns
index:79,Campaign Name:Blue Sky Special,Location:Fast Food Sites
index:80,Campaign Name:MT Lab Mania,Location:Fast Food Sites
index:81,Campaign Name:Crystal Clear Discount,Location:Streaming Service
index:82,Campaign Name:Crystal Clear Discount,Location:Fast Food Sites
index:83,Campaign Name:Crystal Clear Discount,Location:Fan Forums
index:84,Campaign Name:Blue Sky Special,Location:Fast Food Sites
index:85,Campaign Name:MT Lab Mania,Location:Email Campaigns
index:86,Campaign Name:The Pinkman Promotion,Location:Fan Forums
index:87,Campaign Name:MT Lab Mania,Location:Car Wash Sites
index:88,Campaign Name:Heisenberg's Deals,Location:Streaming Service
index:89,Campaign Name:Heisenberg's Deals,Location:Fast Food Sites
index:90,Campaign Name:Heisenberg's Deals,Location:Car Wash Sites
index:91,Campaign Name:Blue Sky Special,Location:Fast Food Sites
index:92,Campaign Name:Heisenberg's Deals,Location:Fast Food Sites
index:93,Campaign Name:Crystal Clear Discount,Location:Fast Food Sites
index:94,Campaign Name:MT Lab Mania,Location:Fast Food Sites
index:95,Campaign Name:MT Lab Mania,Location:Email Campaigns
index:96,Campaign Name:Blue Sky Special,Location:Fast Food Sites
index:97,Campaign Name:MT Lab Mania,Location:Car Wash Sites
index:98,Campaign Name:Blue Sky Special,Location:Fast Food Sites
index:99,Campaign Name:MT Lab Mania,Location:Car Wash Sites
index:100,Campaign Name:The Pinkman Promotion,Location:Streaming Service
index:101,Campaign Name:MT Lab Mania,Location:Fan Forums
index:102,Campaign Name:Crystal Clear Discount,Location:Fast Food Sites
index:103,Campaign Name:MT Lab Mania,Location:Email Campaigns
index:104,Campaign Name:Heisenberg's Deals,Location:Fast Food Sites
index:105,Campaign Name:The Pinkman Promotion,Location:Fan Forums
index:106,Campaign Name:Crystal Clear Discount,Location:Streaming Service
index:107,Campaign Name:MT Lab Mania,Location:Fast Food Sites
index:108,Campaign Name:Heisenberg's Deals,Location:Streaming Service
index:109,Campaign Name:Blue Sky Special,Location:Streaming Service
index:110,Campaign Name:MT Lab Mania,Location:Email Campaigns
index:111,Campaign Name:Blue Sky Special,Location:Email Campaigns
index:112,Campaign Name:Heisenberg's Deals,Location:Email Campaigns
index:113,Campaign Name:MT Lab Mania,Location:Fan Forums
index:114,Campaign Name:Blue Sky Special,Location:Fan Forums
index:115,Campaign Name:Heisenberg's Deals,Location:Fast Food Sites
index:116,Campaign Name:MT Lab Mania,Location:Fan Forums
index:117,Campaign Name:Blue Sky Special,Location:Email Campaigns
index:118,Campaign Name:Crystal Clear Discount,Location:Car Wash Sites
index:119,Campaign Name:MT Lab Mania,Location:Fast Food Sites
index:120,Campaign Name:MT Lab Mania,Location:Fan Forums
index:121,Campaign Name:Blue Sky Special,Location:Streaming Service
index:122,Campaign Name:Heisenberg's Deals,Location:Email Campaigns
index:123,Campaign Name:The Pinkman Promotion,Location:Streaming Service
index:124,Campaign Name:Blue Sky Special,Location:Email Campaigns
index:125,Campaign Name:The Pinkman Promotion,Location:Streaming Service
index:126,Campaign Name:The Pinkman Promotion,Location:Fast Food Sites
index:127,Campaign Name:Heisenberg's Deals,Location:Streaming Service
index:128,Campaign Name:Heisenberg's Deals,Location:Streaming Service
index:129,Campaign Name:Blue Sky Special,Location:Fan Forums
index:130,Campaign Name:MT Lab Mania,Location:Fast Food Sites
index:131,Campaign Name:MT Lab Mania,Location:Fast Food Sites
index:132,Campaign Name:The Pinkman Promotion,Location:Fan Forums
index:133,Campaign Name:Blue Sky Special,Location:Fast Food Sites
index:134,Campaign Name:Crystal Clear Discount,Location:Email Campaigns
index:135,Campaign Name:Heisenberg's Deals,Location:Streaming Service
index:136,Campaign Name:Heisenberg's Deals,Location:Car Wash Sites
index:137,Campaign Name:Heisenberg's Deals,Location:Car Wash Sites
index:138,Campaign Name:MT Lab Mania,Location:Fast Food Sites
index:139,Campaign Name:Crystal Clear Discount,Location:Fast Food Sites
index:140,Campaign Name:The Pinkman Promotion,Location:Streaming Service
index:141,Campaign Name:MT Lab Mania,Location:Fan Forums
index:142,Campaign Name:The Pinkman Promotion,Location:Fan Forums
index:143,Campaign Name:Crystal Clear Discount,Location:Fast Food Sites
index:144,Campaign Name:Crystal Clear Discount,Location:Fan Forums
index:145,Campaign Name:MT Lab Mania,Location:Fan Forums
index:146,Campaign Name:Heisenberg's Deals,Location:Car Wash Sites
index:147,Campaign Name:MT Lab Mania,Location:Fast Food Sites
index:148,Campaign Name:Heisenberg's Deals,Location:Email Campaigns
index:149,Campaign Name:Heisenberg's Deals,Location:Streaming Service

In [195]:
for index,row in df.iterrows():
    print(f"index:{index},Person Name:{row['Person Name']},Impressions:{row['Impressions']}")

index:0,Person Name:Jesse Pinkman,Impressions:2363
index:1,Person Name:Saul Goodman,Impressions:2184
index:2,Person Name:Mike Ehrmantraut,Impressions:2090
index:3,Person Name:Mike Ehrmantraut,Impressions:6475
index:4,Person Name:Jesse Pinkman,Impressions:6688
index:5,Person Name:Mike Ehrmantraut,Impressions:3290
index:6,Person Name:Saul Goodman,Impressions:6305
index:7,Person Name:Walter White,Impressions:2402
index:8,Person Name:Walter White,Impressions:2555
index:9,Person Name:Gustavo Fring,Impressions:6326
index:10,Person Name:Mike Ehrmantraut,Impressions:5585
index:11,Person Name:Mike Ehrmantraut,Impressions:4977
index:12,Person Name:Walter White,Impressions:3900
index:13,Person Name:Saul Goodman,Impressions:6924
index:14,Person Name:Mike Ehrmantraut,Impressions:2473
index:15,Person Name:Jesse Pinkman,Impressions:2637
index:16,Person Name:Saul Goodman,Impressions:6839
index:17,Person Name:Saul Goodman,Impressions:5476
index:18,Person Name:Walter White,Impressions:4427
index:19,Person Name:Gustavo Fring,Impressions:6661
index:20,Person Name:Walter White,Impressions:5381
index:21,Person Name:Jesse Pinkman,Impressions:3025
index:22,Person Name:Saul Goodman,Impressions:6563
index:23,Person Name:Jesse Pinkman,Impressions:6839
index:24,Person Name:Mike Ehrmantraut,Impressions:5269
index:25,Person Name:Jesse Pinkman,Impressions:6994
index:26,Person Name:Mike Ehrmantraut,Impressions:6861
index:27,Person Name:Walter White,Impressions:3395
index:28,Person Name:Saul Goodman,Impressions:3777
index:29,Person Name:Jesse Pinkman,Impressions:6849
index:30,Person Name:Mike Ehrmantraut,Impressions:3181
index:31,Person Name:Walter White,Impressions:6977
index:32,Person Name:Walter White,Impressions:3199
index:33,Person Name:Saul Goodman,Impressions:5104
index:34,Person Name:Saul Goodman,Impressions:6700
index:35,Person Name:Gustavo Fring,Impressions:2916
index:36,Person Name:Saul Goodman,Impressions:2089
index:37,Person Name:Gustavo Fring,Impressions:4160
index:38,Person Name:Saul Goodman,Impressions:6750
index:39,Person Name:Jesse Pinkman,Impressions:3635
index:40,Person Name:Mike Ehrmantraut,Impressions:6538
index:41,Person Name:Saul Goodman,Impressions:2211
index:42,Person Name:Mike Ehrmantraut,Impressions:6047
index:43,Person Name:Saul Goodman,Impressions:5296
index:44,Person Name:Jesse Pinkman,Impressions:5704
index:45,Person Name:Walter White,Impressions:3973
index:46,Person Name:Jesse Pinkman,Impressions:2154
index:47,Person Name:Gustavo Fring,Impressions:2404
index:48,Person Name:Saul Goodman,Impressions:2004
index:49,Person Name:Jesse Pinkman,Impressions:4802
index:50,Person Name:Mike Ehrmantraut,Impressions:5347
index:51,Person Name:Mike Ehrmantraut,Impressions:2654
index:52,Person Name:Saul Goodman,Impressions:3267
index:53,Person Name:Saul Goodman,Impressions:4330
index:54,Person Name:Saul Goodman,Impressions:5663
index:55,Person Name:Walter White,Impressions:4300
index:56,Person Name:Gustavo Fring,Impressions:2913
index:57,Person Name:Gustavo Fring,Impressions:6624
index:58,Person Name:Gustavo Fring,Impressions:6812
index:59,Person Name:Gustavo Fring,Impressions:2375
index:60,Person Name:Jesse Pinkman,Impressions:4469
index:61,Person Name:Saul Goodman,Impressions:6449
index:62,Person Name:Walter White,Impressions:3010
index:63,Person Name:Gustavo Fring,Impressions:4610
index:64,Person Name:Saul Goodman,Impressions:6151
index:65,Person Name:Mike Ehrmantraut,Impressions:4375
index:66,Person Name:Jesse Pinkman,Impressions:4326
index:67,Person Name:Mike Ehrmantraut,Impressions:4556
index:68,Person Name:Walter White,Impressions:4437
index:69,Person Name:Gustavo Fring,Impressions:5425
index:70,Person Name:Jesse Pinkman,Impressions:5860
index:71,Person Name:Walter White,Impressions:6194
index:72,Person Name:Gustavo Fring,Impressions:4885
index:73,Person Name:Saul Goodman,Impressions:5008
index:74,Person Name:Mike Ehrmantraut,Impressions:6429
index:75,Person Name:Jesse Pinkman,Impressions:4322
index:76,Person Name:Mike Ehrmantraut,Impressions:3974
index:77,Person Name:Saul Goodman,Impressions:3598
index:78,Person Name:Walter White,Impressions:5050
index:79,Person Name:Gustavo Fring,Impressions:4928
index:80,Person Name:Mike Ehrmantraut,Impressions:5345
index:81,Person Name:Saul Goodman,Impressions:6693
index:82,Person Name:Gustavo Fring,Impressions:2212
index:83,Person Name:Walter White,Impressions:5172
index:84,Person Name:Jesse Pinkman,Impressions:3947
index:85,Person Name:Gustavo Fring,Impressions:4830
index:86,Person Name:Mike Ehrmantraut,Impressions:6208
index:87,Person Name:Jesse Pinkman,Impressions:3016
index:88,Person Name:Mike Ehrmantraut,Impressions:2078
index:89,Person Name:Gustavo Fring,Impressions:6401
index:90,Person Name:Mike Ehrmantraut,Impressions:4831
index:91,Person Name:Gustavo Fring,Impressions:2010
index:92,Person Name:Jesse Pinkman,Impressions:4763
index:93,Person Name:Gustavo Fring,Impressions:4311
index:94,Person Name:Saul Goodman,Impressions:4674
index:95,Person Name:Gustavo Fring,Impressions:2224
index:96,Person Name:Jesse Pinkman,Impressions:4921
index:97,Person Name:Walter White,Impressions:3519
index:98,Person Name:Gustavo Fring,Impressions:6377
index:99,Person Name:Walter White,Impressions:3917
index:100,Person Name:Jesse Pinkman,Impressions:3784
index:101,Person Name:Gustavo Fring,Impressions:3904
index:102,Person Name:Walter White,Impressions:3250
index:103,Person Name:Walter White,Impressions:2363
index:104,Person Name:Gustavo Fring,Impressions:2072
index:105,Person Name:Mike Ehrmantraut,Impressions:6409
index:106,Person Name:Saul Goodman,Impressions:3181
index:107,Person Name:Mike Ehrmantraut,Impressions:3188
index:108,Person Name:Mike Ehrmantraut,Impressions:6015
index:109,Person Name:Walter White,Impressions:3384
index:110,Person Name:Saul Goodman,Impressions:5854
index:111,Person Name:Saul Goodman,Impressions:2546
index:112,Person Name:Saul Goodman,Impressions:3796
index:113,Person Name:Jesse Pinkman,Impressions:3037
index:114,Person Name:Saul Goodman,Impressions:3689
index:115,Person Name:Gustavo Fring,Impressions:3518
index:116,Person Name:Saul Goodman,Impressions:6372
index:117,Person Name:Mike Ehrmantraut,Impressions:2734
index:118,Person Name:Walter White,Impressions:4252
index:119,Person Name:Gustavo Fring,Impressions:6137
index:120,Person Name:Jesse Pinkman,Impressions:5641
index:121,Person Name:Mike Ehrmantraut,Impressions:6673
index:122,Person Name:Jesse Pinkman,Impressions:6201
index:123,Person Name:Mike Ehrmantraut,Impressions:6904
index:124,Person Name:Mike Ehrmantraut,Impressions:2912
index:125,Person Name:Saul Goodman,Impressions:2987
index:126,Person Name:Gustavo Fring,Impressions:4900
index:127,Person Name:Saul Goodman,Impressions:2021
index:128,Person Name:Saul Goodman,Impressions:5396
index:129,Person Name:Gustavo Fring,Impressions:5843
index:130,Person Name:Jesse Pinkman,Impressions:4708
index:131,Person Name:Gustavo Fring,Impressions:3145
index:132,Person Name:Mike Ehrmantraut,Impressions:6783
index:133,Person Name:Gustavo Fring,Impressions:3182
index:134,Person Name:Gustavo Fring,Impressions:2275
index:135,Person Name:Saul Goodman,Impressions:6551
index:136,Person Name:Walter White,Impressions:4606
index:137,Person Name:Jesse Pinkman,Impressions:5493
index:138,Person Name:Mike Ehrmantraut,Impressions:2543
index:139,Person Name:Walter White,Impressions:5399
index:140,Person Name:Jesse Pinkman,Impressions:2905
index:141,Person Name:Saul Goodman,Impressions:6081
index:142,Person Name:Mike Ehrmantraut,Impressions:4829
index:143,Person Name:Saul Goodman,Impressions:4935
index:144,Person Name:Jesse Pinkman,Impressions:3417
index:145,Person Name:Mike Ehrmantraut,Impressions:2223
index:146,Person Name:Mike Ehrmantraut,Impressions:4808
index:147,Person Name:Gustavo Fring,Impressions:4057
index:148,Person Name:Gustavo Fring,Impressions:3439
index:149,Person Name:Walter White,Impressions:3685

In [199]:
for index,row in df.iterrows():
    print(row["Campaign Name"],row["Location"])

The Pinkman Promotion Fast Food Sites
Heisenberg's Deals Streaming Service
Crystal Clear Discount Fan Forums
MT Lab Mania Fan Forums
Crystal Clear Discount Fan Forums
The Pinkman Promotion Fan Forums
Heisenberg's Deals Fast Food Sites
Blue Sky Special Fan Forums
Heisenberg's Deals Fan Forums
Crystal Clear Discount Fast Food Sites
Blue Sky Special Fast Food Sites
The Pinkman Promotion Email Campaigns
Crystal Clear Discount Fan Forums
Blue Sky Special Email Campaigns
Crystal Clear Discount Fan Forums
MT Lab Mania Email Campaigns
Crystal Clear Discount Email Campaigns
MT Lab Mania Streaming Service
Blue Sky Special Car Wash Sites
MT Lab Mania Fast Food Sites
Heisenberg's Deals Fan Forums
MT Lab Mania Fan Forums
Crystal Clear Discount Fan Forums
Blue Sky Special Fan Forums
Heisenberg's Deals Fast Food Sites
Blue Sky Special Email Campaigns
MT Lab Mania Fan Forums
MT Lab Mania Email Campaigns
MT Lab Mania Streaming Service
Crystal Clear Discount Fan Forums
MT Lab Mania Fast Food Sites
The Pinkman Promotion Email Campaigns
Blue Sky Special Email Campaigns
Blue Sky Special Fan Forums
Blue Sky Special Fast Food Sites
MT Lab Mania Fast Food Sites
MT Lab Mania Streaming Service
Heisenberg's Deals Fast Food Sites
Blue Sky Special Streaming Service
The Pinkman Promotion Streaming Service
Crystal Clear Discount Email Campaigns
Blue Sky Special Email Campaigns
Crystal Clear Discount Car Wash Sites
Crystal Clear Discount Fast Food Sites
The Pinkman Promotion Car Wash Sites
Heisenberg's Deals Streaming Service
The Pinkman Promotion Email Campaigns
Blue Sky Special Fan Forums
The Pinkman Promotion Streaming Service
Heisenberg's Deals Email Campaigns
Heisenberg's Deals Fan Forums
MT Lab Mania Fan Forums
The Pinkman Promotion Fan Forums
Crystal Clear Discount Fan Forums
The Pinkman Promotion Fan Forums
Blue Sky Special Fan Forums
Heisenberg's Deals Fan Forums
Crystal Clear Discount Fast Food Sites
MT Lab Mania Fan Forums
The Pinkman Promotion Fast Food Sites
Blue Sky Special Email Campaigns
Crystal Clear Discount Fan Forums
MT Lab Mania Fast Food Sites
Blue Sky Special Email Campaigns
Crystal Clear Discount Fast Food Sites
Blue Sky Special Fast Food Sites
Blue Sky Special Fast Food Sites
Blue Sky Special Streaming Service
Crystal Clear Discount Fan Forums
Crystal Clear Discount Email Campaigns
Crystal Clear Discount Fan Forums
Blue Sky Special Car Wash Sites
Heisenberg's Deals Email Campaigns
MT Lab Mania Fan Forums
Heisenberg's Deals Email Campaigns
Crystal Clear Discount Fast Food Sites
Crystal Clear Discount Streaming Service
Crystal Clear Discount Fast Food Sites
The Pinkman Promotion Email Campaigns
Blue Sky Special Fast Food Sites
MT Lab Mania Fast Food Sites
Crystal Clear Discount Streaming Service
Crystal Clear Discount Fast Food Sites
Crystal Clear Discount Fan Forums
Blue Sky Special Fast Food Sites
MT Lab Mania Email Campaigns
The Pinkman Promotion Fan Forums
MT Lab Mania Car Wash Sites
Heisenberg's Deals Streaming Service
Heisenberg's Deals Fast Food Sites
Heisenberg's Deals Car Wash Sites
Blue Sky Special Fast Food Sites
Heisenberg's Deals Fast Food Sites
Crystal Clear Discount Fast Food Sites
MT Lab Mania Fast Food Sites
MT Lab Mania Email Campaigns
Blue Sky Special Fast Food Sites
MT Lab Mania Car Wash Sites
Blue Sky Special Fast Food Sites
MT Lab Mania Car Wash Sites
The Pinkman Promotion Streaming Service
MT Lab Mania Fan Forums
Crystal Clear Discount Fast Food Sites
MT Lab Mania Email Campaigns
Heisenberg's Deals Fast Food Sites
The Pinkman Promotion Fan Forums
Crystal Clear Discount Streaming Service
MT Lab Mania Fast Food Sites
Heisenberg's Deals Streaming Service
Blue Sky Special Streaming Service
MT Lab Mania Email Campaigns
Blue Sky Special Email Campaigns
Heisenberg's Deals Email Campaigns
MT Lab Mania Fan Forums
Blue Sky Special Fan Forums
Heisenberg's Deals Fast Food Sites
MT Lab Mania Fan Forums
Blue Sky Special Email Campaigns
Crystal Clear Discount Car Wash Sites
MT Lab Mania Fast Food Sites
MT Lab Mania Fan Forums
Blue Sky Special Streaming Service
Heisenberg's Deals Email Campaigns
The Pinkman Promotion Streaming Service
Blue Sky Special Email Campaigns
The Pinkman Promotion Streaming Service
The Pinkman Promotion Fast Food Sites
Heisenberg's Deals Streaming Service
Heisenberg's Deals Streaming Service
Blue Sky Special Fan Forums
MT Lab Mania Fast Food Sites
MT Lab Mania Fast Food Sites
The Pinkman Promotion Fan Forums
Blue Sky Special Fast Food Sites
Crystal Clear Discount Email Campaigns
Heisenberg's Deals Streaming Service
Heisenberg's Deals Car Wash Sites
Heisenberg's Deals Car Wash Sites
MT Lab Mania Fast Food Sites
Crystal Clear Discount Fast Food Sites
The Pinkman Promotion Streaming Service
MT Lab Mania Fan Forums
The Pinkman Promotion Fan Forums
Crystal Clear Discount Fast Food Sites
Crystal Clear Discount Fan Forums
MT Lab Mania Fan Forums
Heisenberg's Deals Car Wash Sites
MT Lab Mania Fast Food Sites
Heisenberg's Deals Email Campaigns
Heisenberg's Deals Streaming Service

In [203]:
# iter tuple
for row in df.itertuples():
    print(row)

Pandas(Index=0, _1='CAM001', Date=Timestamp('2024-08-01 00:00:00'), _3='The Pinkman Promotion', _4='Jesse Pinkman', Location='Fast Food Sites', Impressions=2363, Clicks=246, Sold=24, _9=158)
Pandas(Index=1, _1='CAM002', Date=Timestamp('2024-08-02 00:00:00'), _3="Heisenberg's Deals", _4='Saul Goodman', Location='Streaming Service', Impressions=2184, Clicks=474, Sold=182, _9=105)
Pandas(Index=2, _1='CAM003', Date=Timestamp('2024-08-03 00:00:00'), _3='Crystal Clear Discount', _4='Mike Ehrmantraut', Location='Fan Forums', Impressions=2090, Clicks=285, Sold=197, _9=108)
Pandas(Index=3, _1='CAM004', Date=Timestamp('2024-08-04 00:00:00'), _3='MT Lab Mania', _4='Mike Ehrmantraut', Location='Fan Forums', Impressions=6475, Clicks=310, Sold=98, _9=162)
Pandas(Index=4, _1='CAM005', Date=Timestamp('2024-08-05 00:00:00'), _3='Crystal Clear Discount', _4='Jesse Pinkman', Location='Fan Forums', Impressions=6688, Clicks=191, Sold=180, _9=219)
Pandas(Index=5, _1='CAM006', Date=Timestamp('2024-08-06 00:00:00'), _3='The Pinkman Promotion', _4='Mike Ehrmantraut', Location='Fan Forums', Impressions=3290, Clicks=277, Sold=51, _9=423)
Pandas(Index=6, _1='CAM007', Date=Timestamp('2024-08-07 00:00:00'), _3="Heisenberg's Deals", _4='Saul Goodman', Location='Fast Food Sites', Impressions=6305, Clicks=380, Sold=76, _9=127)
Pandas(Index=7, _1='CAM008', Date=Timestamp('2024-08-08 00:00:00'), _3='Blue Sky Special', _4='Walter White', Location='Fan Forums', Impressions=2402, Clicks=123, Sold=12, _9=319)
Pandas(Index=8, _1='CAM009', Date=Timestamp('2024-08-09 00:00:00'), _3="Heisenberg's Deals", _4='Walter White', Location='Fan Forums', Impressions=2555, Clicks=417, Sold=96, _9=350)
Pandas(Index=9, _1='CAM010', Date=Timestamp('2024-08-10 00:00:00'), _3='Crystal Clear Discount', _4='Gustavo Fring', Location='Fast Food Sites', Impressions=6326, Clicks=258, Sold=253, _9=204)
Pandas(Index=10, _1='CAM011', Date=Timestamp('2024-08-11 00:00:00'), _3='Blue Sky Special', _4='Mike Ehrmantraut', Location='Fast Food Sites', Impressions=5585, Clicks=326, Sold=24, _9=312)
Pandas(Index=11, _1='CAM012', Date=Timestamp('2024-08-12 00:00:00'), _3='The Pinkman Promotion', _4='Mike Ehrmantraut', Location='Email Campaigns', Impressions=4977, Clicks=282, Sold=64, _9=173)
Pandas(Index=12, _1='CAM013', Date=Timestamp('2024-08-13 00:00:00'), _3='Crystal Clear Discount', _4='Walter White', Location='Fan Forums', Impressions=3900, Clicks=322, Sold=85, _9=174)
Pandas(Index=13, _1='CAM014', Date=Timestamp('2024-08-14 00:00:00'), _3='Blue Sky Special', _4='Saul Goodman', Location='Email Campaigns', Impressions=6924, Clicks=122, Sold=18, _9=341)
Pandas(Index=14, _1='CAM015', Date=Timestamp('2024-08-15 00:00:00'), _3='Crystal Clear Discount', _4='Mike Ehrmantraut', Location='Fan Forums', Impressions=2473, Clicks=360, Sold=105, _9=406)
Pandas(Index=15, _1='CAM016', Date=Timestamp('2024-08-16 00:00:00'), _3='MT Lab Mania', _4='Jesse Pinkman', Location='Email Campaigns', Impressions=2637, Clicks=333, Sold=5, _9=379)
Pandas(Index=16, _1='CAM017', Date=Timestamp('2024-08-17 00:00:00'), _3='Crystal Clear Discount', _4='Saul Goodman', Location='Email Campaigns', Impressions=6839, Clicks=258, Sold=22, _9=119)
Pandas(Index=17, _1='CAM018', Date=Timestamp('2024-08-18 00:00:00'), _3='MT Lab Mania', _4='Saul Goodman', Location='Streaming Service', Impressions=5476, Clicks=221, Sold=44, _9=498)
Pandas(Index=18, _1='CAM019', Date=Timestamp('2024-08-19 00:00:00'), _3='Blue Sky Special', _4='Walter White', Location='Car Wash Sites', Impressions=4427, Clicks=410, Sold=382, _9=417)
Pandas(Index=19, _1='CAM020', Date=Timestamp('2024-08-20 00:00:00'), _3='MT Lab Mania', _4='Gustavo Fring', Location='Fast Food Sites', Impressions=6661, Clicks=160, Sold=83, _9=183)
Pandas(Index=20, _1='CAM021', Date=Timestamp('2024-08-21 00:00:00'), _3="Heisenberg's Deals", _4='Walter White', Location='Fan Forums', Impressions=5381, Clicks=188, Sold=73, _9=440)
Pandas(Index=21, _1='CAM022', Date=Timestamp('2024-08-22 00:00:00'), _3='MT Lab Mania', _4='Jesse Pinkman', Location='Fan Forums', Impressions=3025, Clicks=216, Sold=78, _9=277)
Pandas(Index=22, _1='CAM023', Date=Timestamp('2024-08-23 00:00:00'), _3='Crystal Clear Discount', _4='Saul Goodman', Location='Fan Forums', Impressions=6563, Clicks=456, Sold=273, _9=407)
Pandas(Index=23, _1='CAM024', Date=Timestamp('2024-08-24 00:00:00'), _3='Blue Sky Special', _4='Jesse Pinkman', Location='Fan Forums', Impressions=6839, Clicks=235, Sold=171, _9=116)
Pandas(Index=24, _1='CAM025', Date=Timestamp('2024-08-25 00:00:00'), _3="Heisenberg's Deals", _4='Mike Ehrmantraut', Location='Fast Food Sites', Impressions=5269, Clicks=115, Sold=37, _9=100)
Pandas(Index=25, _1='CAM026', Date=Timestamp('2024-08-26 00:00:00'), _3='Blue Sky Special', _4='Jesse Pinkman', Location='Email Campaigns', Impressions=6994, Clicks=413, Sold=6, _9=474)
Pandas(Index=26, _1='CAM027', Date=Timestamp('2024-08-27 00:00:00'), _3='MT Lab Mania', _4='Mike Ehrmantraut', Location='Fan Forums', Impressions=6861, Clicks=306, Sold=157, _9=188)
Pandas(Index=27, _1='CAM028', Date=Timestamp('2024-08-28 00:00:00'), _3='MT Lab Mania', _4='Walter White', Location='Email Campaigns', Impressions=3395, Clicks=315, Sold=108, _9=374)
Pandas(Index=28, _1='CAM029', Date=Timestamp('2024-08-29 00:00:00'), _3='MT Lab Mania', _4='Saul Goodman', Location='Streaming Service', Impressions=3777, Clicks=451, Sold=227, _9=186)
Pandas(Index=29, _1='CAM030', Date=Timestamp('2024-08-30 00:00:00'), _3='Crystal Clear Discount', _4='Jesse Pinkman', Location='Fan Forums', Impressions=6849, Clicks=465, Sold=46, _9=189)
Pandas(Index=30, _1='CAM031', Date=Timestamp('2024-08-31 00:00:00'), _3='MT Lab Mania', _4='Mike Ehrmantraut', Location='Fast Food Sites', Impressions=3181, Clicks=339, Sold=49, _9=107)
Pandas(Index=31, _1='CAM032', Date=Timestamp('2024-09-01 00:00:00'), _3='The Pinkman Promotion', _4='Walter White', Location='Email Campaigns', Impressions=6977, Clicks=437, Sold=27, _9=140)
Pandas(Index=32, _1='CAM033', Date=Timestamp('2024-09-02 00:00:00'), _3='Blue Sky Special', _4='Walter White', Location='Email Campaigns', Impressions=3199, Clicks=164, Sold=32, _9=497)
Pandas(Index=33, _1='CAM034', Date=Timestamp('2024-09-03 00:00:00'), _3='Blue Sky Special', _4='Saul Goodman', Location='Fan Forums', Impressions=5104, Clicks=183, Sold=61, _9=296)
Pandas(Index=34, _1='CAM035', Date=Timestamp('2024-09-04 00:00:00'), _3='Blue Sky Special', _4='Saul Goodman', Location='Fast Food Sites', Impressions=6700, Clicks=172, Sold=136, _9=488)
Pandas(Index=35, _1='CAM036', Date=Timestamp('2024-09-05 00:00:00'), _3='MT Lab Mania', _4='Gustavo Fring', Location='Fast Food Sites', Impressions=2916, Clicks=195, Sold=113, _9=141)
Pandas(Index=36, _1='CAM037', Date=Timestamp('2024-09-06 00:00:00'), _3='MT Lab Mania', _4='Saul Goodman', Location='Streaming Service', Impressions=2089, Clicks=381, Sold=224, _9=451)
Pandas(Index=37, _1='CAM038', Date=Timestamp('2024-09-07 00:00:00'), _3="Heisenberg's Deals", _4='Gustavo Fring', Location='Fast Food Sites', Impressions=4160, Clicks=243, Sold=27, _9=258)
Pandas(Index=38, _1='CAM039', Date=Timestamp('2024-09-08 00:00:00'), _3='Blue Sky Special', _4='Saul Goodman', Location='Streaming Service', Impressions=6750, Clicks=259, Sold=231, _9=275)
Pandas(Index=39, _1='CAM040', Date=Timestamp('2024-09-09 00:00:00'), _3='The Pinkman Promotion', _4='Jesse Pinkman', Location='Streaming Service', Impressions=3635, Clicks=493, Sold=197, _9=433)
Pandas(Index=40, _1='CAM041', Date=Timestamp('2024-09-10 00:00:00'), _3='Crystal Clear Discount', _4='Mike Ehrmantraut', Location='Email Campaigns', Impressions=6538, Clicks=341, Sold=53, _9=373)
Pandas(Index=41, _1='CAM042', Date=Timestamp('2024-09-11 00:00:00'), _3='Blue Sky Special', _4='Saul Goodman', Location='Email Campaigns', Impressions=2211, Clicks=257, Sold=13, _9=236)
Pandas(Index=42, _1='CAM043', Date=Timestamp('2024-09-12 00:00:00'), _3='Crystal Clear Discount', _4='Mike Ehrmantraut', Location='Car Wash Sites', Impressions=6047, Clicks=336, Sold=204, _9=379)
Pandas(Index=43, _1='CAM044', Date=Timestamp('2024-09-13 00:00:00'), _3='Crystal Clear Discount', _4='Saul Goodman', Location='Fast Food Sites', Impressions=5296, Clicks=380, Sold=360, _9=480)
Pandas(Index=44, _1='CAM045', Date=Timestamp('2024-09-14 00:00:00'), _3='The Pinkman Promotion', _4='Jesse Pinkman', Location='Car Wash Sites', Impressions=5704, Clicks=183, Sold=66, _9=349)
Pandas(Index=45, _1='CAM046', Date=Timestamp('2024-09-15 00:00:00'), _3="Heisenberg's Deals", _4='Walter White', Location='Streaming Service', Impressions=3973, Clicks=194, Sold=71, _9=498)
Pandas(Index=46, _1='CAM047', Date=Timestamp('2024-09-16 00:00:00'), _3='The Pinkman Promotion', _4='Jesse Pinkman', Location='Email Campaigns', Impressions=2154, Clicks=466, Sold=2, _9=266)
Pandas(Index=47, _1='CAM048', Date=Timestamp('2024-09-17 00:00:00'), _3='Blue Sky Special', _4='Gustavo Fring', Location='Fan Forums', Impressions=2404, Clicks=805, Sold=58, _9=428)
Pandas(Index=48, _1='CAM049', Date=Timestamp('2024-09-18 00:00:00'), _3='The Pinkman Promotion', _4='Saul Goodman', Location='Streaming Service', Impressions=2004, Clicks=204, Sold=112, _9=163)
Pandas(Index=49, _1='CAM050', Date=Timestamp('2024-09-19 00:00:00'), _3="Heisenberg's Deals", _4='Jesse Pinkman', Location='Email Campaigns', Impressions=4802, Clicks=440, Sold=4, _9=228)
Pandas(Index=50, _1='CAM051', Date=Timestamp('2024-09-20 00:00:00'), _3="Heisenberg's Deals", _4='Mike Ehrmantraut', Location='Fan Forums', Impressions=5347, Clicks=334, Sold=332, _9=441)
Pandas(Index=51, _1='CAM052', Date=Timestamp('2024-09-21 00:00:00'), _3='MT Lab Mania', _4='Mike Ehrmantraut', Location='Fan Forums', Impressions=2654, Clicks=297, Sold=146, _9=333)
Pandas(Index=52, _1='CAM053', Date=Timestamp('2024-09-22 00:00:00'), _3='The Pinkman Promotion', _4='Saul Goodman', Location='Fan Forums', Impressions=3267, Clicks=125, Sold=80, _9=118)
Pandas(Index=53, _1='CAM054', Date=Timestamp('2024-09-23 00:00:00'), _3='Crystal Clear Discount', _4='Saul Goodman', Location='Fan Forums', Impressions=4330, Clicks=199, Sold=118, _9=434)
Pandas(Index=54, _1='CAM055', Date=Timestamp('2024-09-24 00:00:00'), _3='The Pinkman Promotion', _4='Saul Goodman', Location='Fan Forums', Impressions=5663, Clicks=447, Sold=226, _9=124)
Pandas(Index=55, _1='CAM056', Date=Timestamp('2024-09-25 00:00:00'), _3='Blue Sky Special', _4='Walter White', Location='Fan Forums', Impressions=4300, Clicks=239, Sold=79, _9=154)
Pandas(Index=56, _1='CAM057', Date=Timestamp('2024-09-26 00:00:00'), _3="Heisenberg's Deals", _4='Gustavo Fring', Location='Fan Forums', Impressions=2913, Clicks=856, Sold=96, _9=362)
Pandas(Index=57, _1='CAM058', Date=Timestamp('2024-09-27 00:00:00'), _3='Crystal Clear Discount', _4='Gustavo Fring', Location='Fast Food Sites', Impressions=6624, Clicks=253, Sold=151, _9=300)
Pandas(Index=58, _1='CAM059', Date=Timestamp('2024-09-28 00:00:00'), _3='MT Lab Mania', _4='Gustavo Fring', Location='Fan Forums', Impressions=6812, Clicks=869, Sold=95, _9=162)
Pandas(Index=59, _1='CAM060', Date=Timestamp('2024-09-29 00:00:00'), _3='The Pinkman Promotion', _4='Gustavo Fring', Location='Fast Food Sites', Impressions=2375, Clicks=317, Sold=108, _9=318)
Pandas(Index=60, _1='CAM061', Date=Timestamp('2024-09-30 00:00:00'), _3='Blue Sky Special', _4='Jesse Pinkman', Location='Email Campaigns', Impressions=4469, Clicks=283, Sold=7, _9=273)
Pandas(Index=61, _1='CAM062', Date=Timestamp('2024-10-01 00:00:00'), _3='Crystal Clear Discount', _4='Saul Goodman', Location='Fan Forums', Impressions=6449, Clicks=193, Sold=162, _9=380)
Pandas(Index=62, _1='CAM063', Date=Timestamp('2024-10-02 00:00:00'), _3='MT Lab Mania', _4='Walter White', Location='Fast Food Sites', Impressions=3010, Clicks=184, Sold=54, _9=187)
Pandas(Index=63, _1='CAM064', Date=Timestamp('2024-10-03 00:00:00'), _3='Blue Sky Special', _4='Gustavo Fring', Location='Email Campaigns', Impressions=4610, Clicks=344, Sold=332, _9=234)
Pandas(Index=64, _1='CAM065', Date=Timestamp('2024-10-04 00:00:00'), _3='Crystal Clear Discount', _4='Saul Goodman', Location='Fast Food Sites', Impressions=6151, Clicks=384, Sold=265, _9=451)
Pandas(Index=65, _1='CAM066', Date=Timestamp('2024-10-05 00:00:00'), _3='Blue Sky Special', _4='Mike Ehrmantraut', Location='Fast Food Sites', Impressions=4375, Clicks=376, Sold=78, _9=185)
Pandas(Index=66, _1='CAM067', Date=Timestamp('2024-10-06 00:00:00'), _3='Blue Sky Special', _4='Jesse Pinkman', Location='Fast Food Sites', Impressions=4326, Clicks=433, Sold=355, _9=468)
Pandas(Index=67, _1='CAM068', Date=Timestamp('2024-10-07 00:00:00'), _3='Blue Sky Special', _4='Mike Ehrmantraut', Location='Streaming Service', Impressions=4556, Clicks=107, Sold=20, _9=332)
Pandas(Index=68, _1='CAM069', Date=Timestamp('2024-10-08 00:00:00'), _3='Crystal Clear Discount', _4='Walter White', Location='Fan Forums', Impressions=4437, Clicks=106, Sold=11, _9=336)
Pandas(Index=69, _1='CAM070', Date=Timestamp('2024-10-09 00:00:00'), _3='Crystal Clear Discount', _4='Gustavo Fring', Location='Email Campaigns', Impressions=5425, Clicks=313, Sold=290, _9=225)
Pandas(Index=70, _1='CAM071', Date=Timestamp('2024-10-10 00:00:00'), _3='Crystal Clear Discount', _4='Jesse Pinkman', Location='Fan Forums', Impressions=5860, Clicks=387, Sold=18, _9=358)
Pandas(Index=71, _1='CAM072', Date=Timestamp('2024-10-11 00:00:00'), _3='Blue Sky Special', _4='Walter White', Location='Car Wash Sites', Impressions=6194, Clicks=377, Sold=308, _9=109)
Pandas(Index=72, _1='CAM073', Date=Timestamp('2024-10-12 00:00:00'), _3="Heisenberg's Deals", _4='Gustavo Fring', Location='Email Campaigns', Impressions=4885, Clicks=371, Sold=144, _9=257)
Pandas(Index=73, _1='CAM074', Date=Timestamp('2024-10-13 00:00:00'), _3='MT Lab Mania', _4='Saul Goodman', Location='Fan Forums', Impressions=5008, Clicks=330, Sold=35, _9=452)
Pandas(Index=74, _1='CAM075', Date=Timestamp('2024-10-14 00:00:00'), _3="Heisenberg's Deals", _4='Mike Ehrmantraut', Location='Email Campaigns', Impressions=6429, Clicks=388, Sold=240, _9=196)
Pandas(Index=75, _1='CAM076', Date=Timestamp('2024-10-15 00:00:00'), _3='Crystal Clear Discount', _4='Jesse Pinkman', Location='Fast Food Sites', Impressions=4322, Clicks=404, Sold=381, _9=467)
Pandas(Index=76, _1='CAM077', Date=Timestamp('2024-10-16 00:00:00'), _3='Crystal Clear Discount', _4='Mike Ehrmantraut', Location='Streaming Service', Impressions=3974, Clicks=210, Sold=118, _9=326)
Pandas(Index=77, _1='CAM078', Date=Timestamp('2024-10-17 00:00:00'), _3='Crystal Clear Discount', _4='Saul Goodman', Location='Fast Food Sites', Impressions=3598, Clicks=148, Sold=45, _9=463)
Pandas(Index=78, _1='CAM079', Date=Timestamp('2024-10-18 00:00:00'), _3='The Pinkman Promotion', _4='Walter White', Location='Email Campaigns', Impressions=5050, Clicks=171, Sold=123, _9=311)
Pandas(Index=79, _1='CAM080', Date=Timestamp('2024-10-19 00:00:00'), _3='Blue Sky Special', _4='Gustavo Fring', Location='Fast Food Sites', Impressions=4928, Clicks=410, Sold=82, _9=197)
Pandas(Index=80, _1='CAM081', Date=Timestamp('2024-10-20 00:00:00'), _3='MT Lab Mania', _4='Mike Ehrmantraut', Location='Fast Food Sites', Impressions=5345, Clicks=480, Sold=414, _9=337)
Pandas(Index=81, _1='CAM082', Date=Timestamp('2024-10-21 00:00:00'), _3='Crystal Clear Discount', _4='Saul Goodman', Location='Streaming Service', Impressions=6693, Clicks=336, Sold=25, _9=140)
Pandas(Index=82, _1='CAM083', Date=Timestamp('2024-10-22 00:00:00'), _3='Crystal Clear Discount', _4='Gustavo Fring', Location='Fast Food Sites', Impressions=2212, Clicks=479, Sold=199, _9=161)
Pandas(Index=83, _1='CAM084', Date=Timestamp('2024-10-23 00:00:00'), _3='Crystal Clear Discount', _4='Walter White', Location='Fan Forums', Impressions=5172, Clicks=260, Sold=53, _9=108)
Pandas(Index=84, _1='CAM085', Date=Timestamp('2024-10-24 00:00:00'), _3='Blue Sky Special', _4='Jesse Pinkman', Location='Fast Food Sites', Impressions=3947, Clicks=498, Sold=87, _9=201)
Pandas(Index=85, _1='CAM086', Date=Timestamp('2024-10-25 00:00:00'), _3='MT Lab Mania', _4='Gustavo Fring', Location='Email Campaigns', Impressions=4830, Clicks=436, Sold=57, _9=327)
Pandas(Index=86, _1='CAM087', Date=Timestamp('2024-10-26 00:00:00'), _3='The Pinkman Promotion', _4='Mike Ehrmantraut', Location='Fan Forums', Impressions=6208, Clicks=221, Sold=153, _9=211)
Pandas(Index=87, _1='CAM088', Date=Timestamp('2024-10-27 00:00:00'), _3='MT Lab Mania', _4='Jesse Pinkman', Location='Car Wash Sites', Impressions=3016, Clicks=376, Sold=73, _9=279)
Pandas(Index=88, _1='CAM089', Date=Timestamp('2024-10-28 00:00:00'), _3="Heisenberg's Deals", _4='Mike Ehrmantraut', Location='Streaming Service', Impressions=2078, Clicks=223, Sold=194, _9=457)
Pandas(Index=89, _1='CAM090', Date=Timestamp('2024-10-29 00:00:00'), _3="Heisenberg's Deals", _4='Gustavo Fring', Location='Fast Food Sites', Impressions=6401, Clicks=311, Sold=223, _9=171)
Pandas(Index=90, _1='CAM091', Date=Timestamp('2024-10-30 00:00:00'), _3="Heisenberg's Deals", _4='Mike Ehrmantraut', Location='Car Wash Sites', Impressions=4831, Clicks=105, Sold=13, _9=494)
Pandas(Index=91, _1='CAM092', Date=Timestamp('2024-10-31 00:00:00'), _3='Blue Sky Special', _4='Gustavo Fring', Location='Fast Food Sites', Impressions=2010, Clicks=394, Sold=145, _9=480)
Pandas(Index=92, _1='CAM093', Date=Timestamp('2024-11-01 00:00:00'), _3="Heisenberg's Deals", _4='Jesse Pinkman', Location='Fast Food Sites', Impressions=4763, Clicks=107, Sold=44, _9=301)
Pandas(Index=93, _1='CAM094', Date=Timestamp('2024-11-02 00:00:00'), _3='Crystal Clear Discount', _4='Gustavo Fring', Location='Fast Food Sites', Impressions=4311, Clicks=239, Sold=136, _9=473)
Pandas(Index=94, _1='CAM095', Date=Timestamp('2024-11-03 00:00:00'), _3='MT Lab Mania', _4='Saul Goodman', Location='Fast Food Sites', Impressions=4674, Clicks=162, Sold=157, _9=435)
Pandas(Index=95, _1='CAM096', Date=Timestamp('2024-11-04 00:00:00'), _3='MT Lab Mania', _4='Gustavo Fring', Location='Email Campaigns', Impressions=2224, Clicks=453, Sold=347, _9=200)
Pandas(Index=96, _1='CAM097', Date=Timestamp('2024-11-05 00:00:00'), _3='Blue Sky Special', _4='Jesse Pinkman', Location='Fast Food Sites', Impressions=4921, Clicks=410, Sold=314, _9=302)
Pandas(Index=97, _1='CAM098', Date=Timestamp('2024-11-06 00:00:00'), _3='MT Lab Mania', _4='Walter White', Location='Car Wash Sites', Impressions=3519, Clicks=315, Sold=301, _9=109)
Pandas(Index=98, _1='CAM099', Date=Timestamp('2024-11-07 00:00:00'), _3='Blue Sky Special', _4='Gustavo Fring', Location='Fast Food Sites', Impressions=6377, Clicks=210, Sold=127, _9=262)
Pandas(Index=99, _1='CAM100', Date=Timestamp('2024-11-08 00:00:00'), _3='MT Lab Mania', _4='Walter White', Location='Car Wash Sites', Impressions=3917, Clicks=188, Sold=128, _9=399)
Pandas(Index=100, _1='CAM101', Date=Timestamp('2024-11-09 00:00:00'), _3='The Pinkman Promotion', _4='Jesse Pinkman', Location='Streaming Service', Impressions=3784, Clicks=424, Sold=248, _9=378)
Pandas(Index=101, _1='CAM102', Date=Timestamp('2024-11-10 00:00:00'), _3='MT Lab Mania', _4='Gustavo Fring', Location='Fan Forums', Impressions=3904, Clicks=895, Sold=96, _9=370)
Pandas(Index=102, _1='CAM103', Date=Timestamp('2024-11-11 00:00:00'), _3='Crystal Clear Discount', _4='Walter White', Location='Fast Food Sites', Impressions=3250, Clicks=274, Sold=20, _9=452)
Pandas(Index=103, _1='CAM104', Date=Timestamp('2024-11-12 00:00:00'), _3='MT Lab Mania', _4='Walter White', Location='Email Campaigns', Impressions=2363, Clicks=405, Sold=386, _9=268)
Pandas(Index=104, _1='CAM105', Date=Timestamp('2024-11-13 00:00:00'), _3="Heisenberg's Deals", _4='Gustavo Fring', Location='Fast Food Sites', Impressions=2072, Clicks=226, Sold=180, _9=282)
Pandas(Index=105, _1='CAM106', Date=Timestamp('2024-11-14 00:00:00'), _3='The Pinkman Promotion', _4='Mike Ehrmantraut', Location='Fan Forums', Impressions=6409, Clicks=202, Sold=178, _9=202)

In [209]:
# iter tuple
for row in df.itertuples():
    print(f"Index:{row.Index},Location:{row.Location},AD spend:{row._9}")

Index:0,Location:Fast Food Sites,AD spend:158
Index:1,Location:Streaming Service,AD spend:105
Index:2,Location:Fan Forums,AD spend:108
Index:3,Location:Fan Forums,AD spend:162
Index:4,Location:Fan Forums,AD spend:219
Index:5,Location:Fan Forums,AD spend:423
Index:6,Location:Fast Food Sites,AD spend:127
Index:7,Location:Fan Forums,AD spend:319
Index:8,Location:Fan Forums,AD spend:350
Index:9,Location:Fast Food Sites,AD spend:204
Index:10,Location:Fast Food Sites,AD spend:312
Index:11,Location:Email Campaigns,AD spend:173
Index:12,Location:Fan Forums,AD spend:174
Index:13,Location:Email Campaigns,AD spend:341
Index:14,Location:Fan Forums,AD spend:406
Index:15,Location:Email Campaigns,AD spend:379
Index:16,Location:Email Campaigns,AD spend:119
Index:17,Location:Streaming Service,AD spend:498
Index:18,Location:Car Wash Sites,AD spend:417
Index:19,Location:Fast Food Sites,AD spend:183
Index:20,Location:Fan Forums,AD spend:440
Index:21,Location:Fan Forums,AD spend:277
Index:22,Location:Fan Forums,AD spend:407
Index:23,Location:Fan Forums,AD spend:116
Index:24,Location:Fast Food Sites,AD spend:100
Index:25,Location:Email Campaigns,AD spend:474
Index:26,Location:Fan Forums,AD spend:188
Index:27,Location:Email Campaigns,AD spend:374
Index:28,Location:Streaming Service,AD spend:186
Index:29,Location:Fan Forums,AD spend:189
Index:30,Location:Fast Food Sites,AD spend:107
Index:31,Location:Email Campaigns,AD spend:140
Index:32,Location:Email Campaigns,AD spend:497
Index:33,Location:Fan Forums,AD spend:296
Index:34,Location:Fast Food Sites,AD spend:488
Index:35,Location:Fast Food Sites,AD spend:141
Index:36,Location:Streaming Service,AD spend:451
Index:37,Location:Fast Food Sites,AD spend:258
Index:38,Location:Streaming Service,AD spend:275
Index:39,Location:Streaming Service,AD spend:433
Index:40,Location:Email Campaigns,AD spend:373
Index:41,Location:Email Campaigns,AD spend:236
Index:42,Location:Car Wash Sites,AD spend:379
Index:43,Location:Fast Food Sites,AD spend:480
Index:44,Location:Car Wash Sites,AD spend:349
Index:45,Location:Streaming Service,AD spend:498
Index:46,Location:Email Campaigns,AD spend:266
Index:47,Location:Fan Forums,AD spend:428
Index:48,Location:Streaming Service,AD spend:163
Index:49,Location:Email Campaigns,AD spend:228
Index:50,Location:Fan Forums,AD spend:441
Index:51,Location:Fan Forums,AD spend:333
Index:52,Location:Fan Forums,AD spend:118
Index:53,Location:Fan Forums,AD spend:434
Index:54,Location:Fan Forums,AD spend:124
Index:55,Location:Fan Forums,AD spend:154
Index:56,Location:Fan Forums,AD spend:362
Index:57,Location:Fast Food Sites,AD spend:300
Index:58,Location:Fan Forums,AD spend:162
Index:59,Location:Fast Food Sites,AD spend:318
Index:60,Location:Email Campaigns,AD spend:273
Index:61,Location:Fan Forums,AD spend:380
Index:62,Location:Fast Food Sites,AD spend:187
Index:63,Location:Email Campaigns,AD spend:234
Index:64,Location:Fast Food Sites,AD spend:451
Index:65,Location:Fast Food Sites,AD spend:185
Index:66,Location:Fast Food Sites,AD spend:468
Index:67,Location:Streaming Service,AD spend:332
Index:68,Location:Fan Forums,AD spend:336
Index:69,Location:Email Campaigns,AD spend:225
Index:70,Location:Fan Forums,AD spend:358
Index:71,Location:Car Wash Sites,AD spend:109
Index:72,Location:Email Campaigns,AD spend:257
Index:73,Location:Fan Forums,AD spend:452
Index:74,Location:Email Campaigns,AD spend:196
Index:75,Location:Fast Food Sites,AD spend:467
Index:76,Location:Streaming Service,AD spend:326
Index:77,Location:Fast Food Sites,AD spend:463
Index:78,Location:Email Campaigns,AD spend:311
Index:79,Location:Fast Food Sites,AD spend:197
Index:80,Location:Fast Food Sites,AD spend:337
Index:81,Location:Streaming Service,AD spend:140
Index:82,Location:Fast Food Sites,AD spend:161
Index:83,Location:Fan Forums,AD spend:108
Index:84,Location:Fast Food Sites,AD spend:201
Index:85,Location:Email Campaigns,AD spend:327
Index:86,Location:Fan Forums,AD spend:211
Index:87,Location:Car Wash Sites,AD spend:279
Index:88,Location:Streaming Service,AD spend:457
Index:89,Location:Fast Food Sites,AD spend:171
Index:90,Location:Car Wash Sites,AD spend:494
Index:91,Location:Fast Food Sites,AD spend:480
Index:92,Location:Fast Food Sites,AD spend:301
Index:93,Location:Fast Food Sites,AD spend:473
Index:94,Location:Fast Food Sites,AD spend:435
Index:95,Location:Email Campaigns,AD spend:200
Index:96,Location:Fast Food Sites,AD spend:302
Index:97,Location:Car Wash Sites,AD spend:109
Index:98,Location:Fast Food Sites,AD spend:262
Index:99,Location:Car Wash Sites,AD spend:399
Index:100,Location:Streaming Service,AD spend:378
Index:101,Location:Fan Forums,AD spend:370
Index:102,Location:Fast Food Sites,AD spend:452
Index:103,Location:Email Campaigns,AD spend:268
Index:104,Location:Fast Food Sites,AD spend:282
Index:105,Location:Fan Forums,AD spend:202
Index:106,Location:Streaming Service,AD spend:202
Index:107,Location:Fast Food Sites,AD spend:381
Index:108,Location:Streaming Service,AD spend:258
Index:109,Location:Streaming Service,AD spend:464
Index:110,Location:Email Campaigns,AD spend:289
Index:111,Location:Email Campaigns,AD spend:461
Index:112,Location:Email Campaigns,AD spend:150
Index:113,Location:Fan Forums,AD spend:390
Index:114,Location:Fan Forums,AD spend:166
Index:115,Location:Fast Food Sites,AD spend:423
Index:116,Location:Fan Forums,AD spend:279
Index:117,Location:Email Campaigns,AD spend:447
Index:118,Location:Car Wash Sites,AD spend:165
Index:119,Location:Fast Food Sites,AD spend:228
Index:120,Location:Fan Forums,AD spend:396
Index:121,Location:Streaming Service,AD spend:494
Index:122,Location:Email Campaigns,AD spend:495
Index:123,Location:Streaming Service,AD spend:479
Index:124,Location:Email Campaigns,AD spend:141
Index:125,Location:Streaming Service,AD spend:264
Index:126,Location:Fast Food Sites,AD spend:115
Index:127,Location:Streaming Service,AD spend:358
Index:128,Location:Streaming Service,AD spend:310
Index:129,Location:Fan Forums,AD spend:172
Index:130,Location:Fast Food Sites,AD spend:434
Index:131,Location:Fast Food Sites,AD spend:489
Index:132,Location:Fan Forums,AD spend:410
Index:133,Location:Fast Food Sites,AD spend:103
Index:134,Location:Email Campaigns,AD spend:173
Index:135,Location:Streaming Service,AD spend:325
Index:136,Location:Car Wash Sites,AD spend:136
Index:137,Location:Car Wash Sites,AD spend:399
Index:138,Location:Fast Food Sites,AD spend:363
Index:139,Location:Fast Food Sites,AD spend:367
Index:140,Location:Streaming Service,AD spend:409
Index:141,Location:Fan Forums,AD spend:436
Index:142,Location:Fan Forums,AD spend:201
Index:143,Location:Fast Food Sites,AD spend:441
Index:144,Location:Fan Forums,AD spend:158
Index:145,Location:Fan Forums,AD spend:141
Index:146,Location:Car Wash Sites,AD spend:111
Index:147,Location:Fast Food Sites,AD spend:331
Index:148,Location:Email Campaigns,AD spend:328
Index:149,Location:Streaming Service,AD spend:228

## Conditional Selection (Filtering)

In [213]:
df

,Campaign ID,Date,Campaign Name,Person Name,Location,Impressions,Clicks,Sold,Ad Spend
0,CAM001,2024-08-01,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,CAM002,2024-08-02,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
2,CAM003,2024-08-03,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,CAM004,2024-08-04,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,CAM005,2024-08-05,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,CAM146,2024-12-24,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,CAM147,2024-12-25,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,CAM148,2024-12-26,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,CAM149,2024-12-27,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,CAM150,2024-12-28,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [217]:
df[df["Impressions"]>4000]

,Campaign ID,Date,Campaign Name,Person Name,Location,Impressions,Clicks,Sold,Ad Spend
3,CAM004,2024-08-04,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,CAM005,2024-08-05,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
6,CAM007,2024-08-07,Heisenberg's Deals,Saul Goodman,Fast Food Sites,6305,380,76,127
9,CAM010,2024-08-10,Crystal Clear Discount,Gustavo Fring,Fast Food Sites,6326,258,253,204
10,CAM011,2024-08-11,Blue Sky Special,Mike Ehrmantraut,Fast Food Sites,5585,326,24,312
...,...,...,...,...,...,...,...,...,...
141,CAM142,2024-12-20,MT Lab Mania,Saul Goodman,Fan Forums,6081,461,367,436
142,CAM143,2024-12-21,The Pinkman Promotion,Mike Ehrmantraut,Fan Forums,4829,440,98,201
143,CAM144,2024-12-22,Crystal Clear Discount,Saul Goodman,Fast Food Sites,4935,205,45,441
146,CAM147,2024-12-25,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,CAM148,2024-12-26,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331

In [219]:
df[df["Person Name"]=="Jesse Pinkman"]

,Campaign ID,Date,Campaign Name,Person Name,Location,Impressions,Clicks,Sold,Ad Spend
0,CAM001,2024-08-01,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
4,CAM005,2024-08-05,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
15,CAM016,2024-08-16,MT Lab Mania,Jesse Pinkman,Email Campaigns,2637,333,5,379
21,CAM022,2024-08-22,MT Lab Mania,Jesse Pinkman,Fan Forums,3025,216,78,277
23,CAM024,2024-08-24,Blue Sky Special,Jesse Pinkman,Fan Forums,6839,235,171,116
25,CAM026,2024-08-26,Blue Sky Special,Jesse Pinkman,Email Campaigns,6994,413,6,474
29,CAM030,2024-08-30,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6849,465,46,189
39,CAM040,2024-09-09,The Pinkman Promotion,Jesse Pinkman,Streaming Service,3635,493,197,433
44,CAM045,2024-09-14,The Pinkman Promotion,Jesse Pinkman,Car Wash Sites,5704,183,66,349
46,CAM047,2024-09-16,The Pinkman Promotion,Jesse Pinkman,Email Campaigns,2154,466,2,266
49,CAM050,2024-09-19,Heisenberg's Deals,Jesse Pinkman,Email Campaigns,4802,440,4,228
60,CAM061,2024-09-30,Blue Sky Special,Jesse Pinkman,Email Campaigns,4469,283,7,273
66,CAM067,2024-10-06,Blue Sky Special,Jesse Pinkman,Fast Food Sites,4326,433,355,468
70,CAM071,2024-10-10,Crystal Clear Discount,Jesse Pinkman,Fan Forums,5860,387,18,358
75,CAM076,2024-10-15,Crystal Clear Discount,Jesse Pinkman,Fast Food Sites,4322,404,381,467
84,CAM085,2024-10-24,Blue Sky Special,Jesse Pinkman,Fast Food Sites,3947,498,87,201
87,CAM088,2024-10-27,MT Lab Mania,Jesse Pinkman,Car Wash Sites,3016,376,73,279
92,CAM093,2024-11-01,Heisenberg's Deals,Jesse Pinkman,Fast Food Sites,4763,107,44,301
96,CAM097,2024-11-05,Blue Sky Special,Jesse Pinkman,Fast Food Sites,4921,410,314,302
100,CAM101,2024-11-09,The Pinkman Promotion,Jesse Pinkman,Streaming Service,3784,424,248,378
113,CAM114,2024-11-22,MT Lab Mania,Jesse Pinkman,Fan Forums,3037,145,134,390
120,CAM121,2024-11-29,MT Lab Mania,Jesse Pinkman,Fan Forums,5641,254,230,396
122,CAM123,2024-12-01,Heisenberg's Deals,Jesse Pinkman,Email Campaigns,6201,130,9,495
130,CAM131,2024-12-09,MT Lab Mania,Jesse Pinkman,Fast Food Sites,4708,276,22,434
137,CAM138,2024-12-16,Heisenberg's Deals,Jesse Pinkman,Car Wash Sites,5493,161,102,399
140,CAM141,2024-12-19,The Pinkman Promotion,Jesse Pinkman,Streaming Service,2905,268,98,409
144,CAM145,2024-12-23,Crystal Clear Discount,Jesse Pinkman,Fan Forums,3417,108,28,158

In [225]:
df[df["Location"]=="Fan Forums"]

,Campaign ID,Date,Campaign Name,Person Name,Location,Impressions,Clicks,Sold,Ad Spend
2,CAM003,2024-08-03,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,CAM004,2024-08-04,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,CAM005,2024-08-05,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
5,CAM006,2024-08-06,The Pinkman Promotion,Mike Ehrmantraut,Fan Forums,3290,277,51,423
7,CAM008,2024-08-08,Blue Sky Special,Walter White,Fan Forums,2402,123,12,319
8,CAM009,2024-08-09,Heisenberg's Deals,Walter White,Fan Forums,2555,417,96,350
12,CAM013,2024-08-13,Crystal Clear Discount,Walter White,Fan Forums,3900,322,85,174
14,CAM015,2024-08-15,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2473,360,105,406
20,CAM021,2024-08-21,Heisenberg's Deals,Walter White,Fan Forums,5381,188,73,440
21,CAM022,2024-08-22,MT Lab Mania,Jesse Pinkman,Fan Forums,3025,216,78,277
22,CAM023,2024-08-23,Crystal Clear Discount,Saul Goodman,Fan Forums,6563,456,273,407
23,CAM024,2024-08-24,Blue Sky Special,Jesse Pinkman,Fan Forums,6839,235,171,116
26,CAM027,2024-08-27,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6861,306,157,188
29,CAM030,2024-08-30,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6849,465,46,189
33,CAM034,2024-09-03,Blue Sky Special,Saul Goodman,Fan Forums,5104,183,61,296
47,CAM048,2024-09-17,Blue Sky Special,Gustavo Fring,Fan Forums,2404,805,58,428
50,CAM051,2024-09-20,Heisenberg's Deals,Mike Ehrmantraut,Fan Forums,5347,334,332,441
51,CAM052,2024-09-21,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2654,297,146,333
52,CAM053,2024-09-22,The Pinkman Promotion,Saul Goodman,Fan Forums,3267,125,80,118
53,CAM054,2024-09-23,Crystal Clear Discount,Saul Goodman,Fan Forums,4330,199,118,434
54,CAM055,2024-09-24,The Pinkman Promotion,Saul Goodman,Fan Forums,5663,447,226,124
55,CAM056,2024-09-25,Blue Sky Special,Walter White,Fan Forums,4300,239,79,154
56,CAM057,2024-09-26,Heisenberg's Deals,Gustavo Fring,Fan Forums,2913,856,96,362
58,CAM059,2024-09-28,MT Lab Mania,Gustavo Fring,Fan Forums,6812,869,95,162
61,CAM062,2024-10-01,Crystal Clear Discount,Saul Goodman,Fan Forums,6449,193,162,380
68,CAM069,2024-10-08,Crystal Clear Discount,Walter White,Fan Forums,4437,106,11,336
70,CAM071,2024-10-10,Crystal Clear Discount,Jesse Pinkman,Fan Forums,5860,387,18,358
73,CAM074,2024-10-13,MT Lab Mania,Saul Goodman,Fan Forums,5008,330,35,452
83,CAM084,2024-10-23,Crystal Clear Discount,Walter White,Fan Forums,5172,260,53,108
86,CAM087,2024-10-26,The Pinkman Promotion,Mike Ehrmantraut,Fan Forums,6208,221,153,211
101,CAM102,2024-11-10,MT Lab Mania,Gustavo Fring,Fan Forums,3904,895,96,370
105,CAM106,2024-11-14,The Pinkman Promotion,Mike Ehrmantraut,Fan Forums,6409,202,178,202
113,CAM114,2024-11-22,MT Lab Mania,Jesse Pinkman,Fan Forums,3037,145,134,390
114,CAM115,2024-11-23,Blue Sky Special,Saul Goodman,Fan Forums,3689,316,24,166
116,CAM117,2024-11-25,MT Lab Mania,Saul Goodman,Fan Forums,6372,258,186,279
120,CAM121,2024-11-29,MT Lab Mania,Jesse Pinkman,Fan Forums,5641,254,230,396
129,CAM130,2024-12-08,Blue Sky Special,Gustavo Fring,Fan Forums,5843,824,78,172
132,CAM133,2024-12-11,The Pinkman Promotion,Mike Ehrmantraut,Fan Forums,6783,230,45,410
141,CAM142,2024-12-20,MT Lab Mania,Saul Goodman,Fan Forums,6081,461,367,436
142,CAM143,2024-12-21,The Pinkman Promotion,Mike Ehrmantraut,Fan Forums,4829,440,98,201
144,CAM145,2024-12-23,Crystal Clear Discount,Jesse Pinkman,Fan Forums,3417,108,28,158
145,CAM146,2024-12-24,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141

In [227]:
# multple conditions
df

,Campaign ID,Date,Campaign Name,Person Name,Location,Impressions,Clicks,Sold,Ad Spend
0,CAM001,2024-08-01,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,CAM002,2024-08-02,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
2,CAM003,2024-08-03,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,CAM004,2024-08-04,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,CAM005,2024-08-05,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,CAM146,2024-12-24,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,CAM147,2024-12-25,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,CAM148,2024-12-26,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,CAM149,2024-12-27,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,CAM150,2024-12-28,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [229]:
df[ (df["Impressions"]>4000) & (df["Clicks"]<200) ]  # and = all condition must be true

,Campaign ID,Date,Campaign Name,Person Name,Location,Impressions,Clicks,Sold,Ad Spend
4,CAM005,2024-08-05,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
13,CAM014,2024-08-14,Blue Sky Special,Saul Goodman,Email Campaigns,6924,122,18,341
19,CAM020,2024-08-20,MT Lab Mania,Gustavo Fring,Fast Food Sites,6661,160,83,183
20,CAM021,2024-08-21,Heisenberg's Deals,Walter White,Fan Forums,5381,188,73,440
24,CAM025,2024-08-25,Heisenberg's Deals,Mike Ehrmantraut,Fast Food Sites,5269,115,37,100
33,CAM034,2024-09-03,Blue Sky Special,Saul Goodman,Fan Forums,5104,183,61,296
34,CAM035,2024-09-04,Blue Sky Special,Saul Goodman,Fast Food Sites,6700,172,136,488
44,CAM045,2024-09-14,The Pinkman Promotion,Jesse Pinkman,Car Wash Sites,5704,183,66,349
53,CAM054,2024-09-23,Crystal Clear Discount,Saul Goodman,Fan Forums,4330,199,118,434
61,CAM062,2024-10-01,Crystal Clear Discount,Saul Goodman,Fan Forums,6449,193,162,380
67,CAM068,2024-10-07,Blue Sky Special,Mike Ehrmantraut,Streaming Service,4556,107,20,332
68,CAM069,2024-10-08,Crystal Clear Discount,Walter White,Fan Forums,4437,106,11,336
78,CAM079,2024-10-18,The Pinkman Promotion,Walter White,Email Campaigns,5050,171,123,311
90,CAM091,2024-10-30,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4831,105,13,494
92,CAM093,2024-11-01,Heisenberg's Deals,Jesse Pinkman,Fast Food Sites,4763,107,44,301
94,CAM095,2024-11-03,MT Lab Mania,Saul Goodman,Fast Food Sites,4674,162,157,435
108,CAM109,2024-11-17,Heisenberg's Deals,Mike Ehrmantraut,Streaming Service,6015,109,92,258
121,CAM122,2024-11-30,Blue Sky Special,Mike Ehrmantraut,Streaming Service,6673,136,133,494
122,CAM123,2024-12-01,Heisenberg's Deals,Jesse Pinkman,Email Campaigns,6201,130,9,495
123,CAM124,2024-12-02,The Pinkman Promotion,Mike Ehrmantraut,Streaming Service,6904,107,37,479
137,CAM138,2024-12-16,Heisenberg's Deals,Jesse Pinkman,Car Wash Sites,5493,161,102,399

In [231]:
df [ (df["Person Name"]=="Saul Goodman") & (df["Impressions"]<=3000) ]

,Campaign ID,Date,Campaign Name,Person Name,Location,Impressions,Clicks,Sold,Ad Spend
1,CAM002,2024-08-02,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
36,CAM037,2024-09-06,MT Lab Mania,Saul Goodman,Streaming Service,2089,381,224,451
41,CAM042,2024-09-11,Blue Sky Special,Saul Goodman,Email Campaigns,2211,257,13,236
48,CAM049,2024-09-18,The Pinkman Promotion,Saul Goodman,Streaming Service,2004,204,112,163
111,CAM112,2024-11-20,Blue Sky Special,Saul Goodman,Email Campaigns,2546,403,237,461
125,CAM126,2024-12-04,The Pinkman Promotion,Saul Goodman,Streaming Service,2987,355,300,264
127,CAM128,2024-12-06,Heisenberg's Deals,Saul Goodman,Streaming Service,2021,362,235,358

In [237]:
df [ (df["Clicks"]>400) | (df["Sold"]<100) ]   # or -  any of the condition true

,Campaign ID,Date,Campaign Name,Person Name,Location,Impressions,Clicks,Sold,Ad Spend
8,CAM009,2024-08-09,Heisenberg's Deals,Walter White,Fan Forums,2555,417,96,350
25,CAM026,2024-08-26,Blue Sky Special,Jesse Pinkman,Email Campaigns,6994,413,6,474
29,CAM030,2024-08-30,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6849,465,46,189
31,CAM032,2024-09-01,The Pinkman Promotion,Walter White,Email Campaigns,6977,437,27,140
46,CAM047,2024-09-16,The Pinkman Promotion,Jesse Pinkman,Email Campaigns,2154,466,2,266
47,CAM048,2024-09-17,Blue Sky Special,Gustavo Fring,Fan Forums,2404,805,58,428
49,CAM050,2024-09-19,Heisenberg's Deals,Jesse Pinkman,Email Campaigns,4802,440,4,228
56,CAM057,2024-09-26,Heisenberg's Deals,Gustavo Fring,Fan Forums,2913,856,96,362
58,CAM059,2024-09-28,MT Lab Mania,Gustavo Fring,Fan Forums,6812,869,95,162
79,CAM080,2024-10-19,Blue Sky Special,Gustavo Fring,Fast Food Sites,4928,410,82,197
84,CAM085,2024-10-24,Blue Sky Special,Jesse Pinkman,Fast Food Sites,3947,498,87,201
85,CAM086,2024-10-25,MT Lab Mania,Gustavo Fring,Email Campaigns,4830,436,57,327
101,CAM102,2024-11-10,MT Lab Mania,Gustavo Fring,Fan Forums,3904,895,96,370
115,CAM116,2024-11-24,Heisenberg's Deals,Gustavo Fring,Fast Food Sites,3518,426,86,423
129,CAM130,2024-12-08,Blue Sky Special,Gustavo Fring,Fan Forums,5843,824,78,172
142,CAM143,2024-12-21,The Pinkman Promotion,Mike Ehrmantraut,Fan Forums,4829,440,98,201

In [241]:
# filtering using isin function
df[ df["Location"].isin(["Fan Forums","Email Campaigns"]) ]

,Campaign ID,Date,Campaign Name,Person Name,Location,Impressions,Clicks,Sold,Ad Spend
2,CAM003,2024-08-03,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,CAM004,2024-08-04,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,CAM005,2024-08-05,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
5,CAM006,2024-08-06,The Pinkman Promotion,Mike Ehrmantraut,Fan Forums,3290,277,51,423
7,CAM008,2024-08-08,Blue Sky Special,Walter White,Fan Forums,2402,123,12,319
...,...,...,...,...,...,...,...,...,...
141,CAM142,2024-12-20,MT Lab Mania,Saul Goodman,Fan Forums,6081,461,367,436
142,CAM143,2024-12-21,The Pinkman Promotion,Mike Ehrmantraut,Fan Forums,4829,440,98,201
144,CAM145,2024-12-23,Crystal Clear Discount,Jesse Pinkman,Fan Forums,3417,108,28,158
145,CAM146,2024-12-24,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
148,CAM149,2024-12-27,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328

In [255]:
# not ~
df [~df["Location"].isin(["Fan Forums"])]

,Campaign ID,Date,Campaign Name,Person Name,Location,Impressions,Clicks,Sold,Ad Spend
0,CAM001,2024-08-01,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,CAM002,2024-08-02,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
6,CAM007,2024-08-07,Heisenberg's Deals,Saul Goodman,Fast Food Sites,6305,380,76,127
9,CAM010,2024-08-10,Crystal Clear Discount,Gustavo Fring,Fast Food Sites,6326,258,253,204
10,CAM011,2024-08-11,Blue Sky Special,Mike Ehrmantraut,Fast Food Sites,5585,326,24,312
...,...,...,...,...,...,...,...,...,...
143,CAM144,2024-12-22,Crystal Clear Discount,Saul Goodman,Fast Food Sites,4935,205,45,441
146,CAM147,2024-12-25,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,CAM148,2024-12-26,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,CAM149,2024-12-27,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,CAM150,2024-12-28,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [257]:
df

,Campaign ID,Date,Campaign Name,Person Name,Location,Impressions,Clicks,Sold,Ad Spend
0,CAM001,2024-08-01,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,CAM002,2024-08-02,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
2,CAM003,2024-08-03,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,CAM004,2024-08-04,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,CAM005,2024-08-05,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,CAM146,2024-12-24,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,CAM147,2024-12-25,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,CAM148,2024-12-26,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,CAM149,2024-12-27,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,CAM150,2024-12-28,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [267]:
df[df["Location"].str.startswith("C")]

,Campaign ID,Date,Campaign Name,Person Name,Location,Impressions,Clicks,Sold,Ad Spend
18,CAM019,2024-08-19,Blue Sky Special,Walter White,Car Wash Sites,4427,410,382,417
42,CAM043,2024-09-12,Crystal Clear Discount,Mike Ehrmantraut,Car Wash Sites,6047,336,204,379
44,CAM045,2024-09-14,The Pinkman Promotion,Jesse Pinkman,Car Wash Sites,5704,183,66,349
71,CAM072,2024-10-11,Blue Sky Special,Walter White,Car Wash Sites,6194,377,308,109
87,CAM088,2024-10-27,MT Lab Mania,Jesse Pinkman,Car Wash Sites,3016,376,73,279
90,CAM091,2024-10-30,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4831,105,13,494
97,CAM098,2024-11-06,MT Lab Mania,Walter White,Car Wash Sites,3519,315,301,109
99,CAM100,2024-11-08,MT Lab Mania,Walter White,Car Wash Sites,3917,188,128,399
118,CAM119,2024-11-27,Crystal Clear Discount,Walter White,Car Wash Sites,4252,462,410,165
136,CAM137,2024-12-15,Heisenberg's Deals,Walter White,Car Wash Sites,4606,297,287,136
137,CAM138,2024-12-16,Heisenberg's Deals,Jesse Pinkman,Car Wash Sites,5493,161,102,399
146,CAM147,2024-12-25,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111

In [269]:
df[df["Location"].str.endswith("s")]

,Campaign ID,Date,Campaign Name,Person Name,Location,Impressions,Clicks,Sold,Ad Spend
0,CAM001,2024-08-01,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
2,CAM003,2024-08-03,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,CAM004,2024-08-04,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,CAM005,2024-08-05,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
5,CAM006,2024-08-06,The Pinkman Promotion,Mike Ehrmantraut,Fan Forums,3290,277,51,423
...,...,...,...,...,...,...,...,...,...
144,CAM145,2024-12-23,Crystal Clear Discount,Jesse Pinkman,Fan Forums,3417,108,28,158
145,CAM146,2024-12-24,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,CAM147,2024-12-25,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,CAM148,2024-12-26,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,CAM149,2024-12-27,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328

In [277]:
df[df["Location"].str.contains("f",case=False)]

,Campaign ID,Date,Campaign Name,Person Name,Location,Impressions,Clicks,Sold,Ad Spend
0,CAM001,2024-08-01,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
2,CAM003,2024-08-03,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,CAM004,2024-08-04,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,CAM005,2024-08-05,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
5,CAM006,2024-08-06,The Pinkman Promotion,Mike Ehrmantraut,Fan Forums,3290,277,51,423
...,...,...,...,...,...,...,...,...,...
142,CAM143,2024-12-21,The Pinkman Promotion,Mike Ehrmantraut,Fan Forums,4829,440,98,201
143,CAM144,2024-12-22,Crystal Clear Discount,Saul Goodman,Fast Food Sites,4935,205,45,441
144,CAM145,2024-12-23,Crystal Clear Discount,Jesse Pinkman,Fan Forums,3417,108,28,158
145,CAM146,2024-12-24,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
147,CAM148,2024-12-26,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331

## Analyze Data

In [6]:
data = pd.read_csv("employees.txt")
data

   EmployeeID   Name Department  Age   Salary JoiningDate           City
0         101   John         HR   29  45000.0  2021-05-14       New York
1         102   Sara    Finance   35  65000.0  2019-08-19        Chicago
2         103   Alex         IT   28  55000.0  2020-11-01  San Francisco
3         104   Emma    Finance   42  72000.0  2018-04-23        Chicago
4         105  David         IT   31  58000.0  2021-02-15    Los Angeles
5         106   Nina         HR   39  49000.0  2017-09-10       New York
6         107    Tom    Finance   30      NaN  2020-07-01        Chicago
7         108  Linda         IT   45  75000.0  2016-03-30  San Francisco
8         109  James         HR   27  42000.0  2022-01-10    Los Angeles
9         110   Mary    Finance   38  68000.0  2019-12-15        Chicago

In [10]:
# Display the first 5 and last 3 rows of the dataset.
display(data.head(5))

display(data.tail(3))

   EmployeeID   Name Department  Age   Salary JoiningDate           City
0         101   John         HR   29  45000.0  2021-05-14       New York
1         102   Sara    Finance   35  65000.0  2019-08-19        Chicago
2         103   Alex         IT   28  55000.0  2020-11-01  San Francisco
3         104   Emma    Finance   42  72000.0  2018-04-23        Chicago
4         105  David         IT   31  58000.0  2021-02-15    Los Angeles

   EmployeeID   Name Department  Age   Salary JoiningDate           City
7         108  Linda         IT   45  75000.0  2016-03-30  San Francisco
8         109  James         HR   27  42000.0  2022-01-10    Los Angeles
9         110   Mary    Finance   38  68000.0  2019-12-15        Chicago

In [12]:
# Check the total number of rows and columns.
data.shape

(10, 7)

In [18]:
# Show all unique departments and the number of employees in each department.
display(data["Department"].unique())

display(data["Department"].value_counts())

array(['HR', 'Finance', 'IT'], dtype=object)

Department
Finance    4
HR         3
IT         3
Name: count, dtype: int64

In [20]:
# Get all employees from the Finance department earning more than 65,000.
data[ (data["Department"]=="Finanace") & (data["Salary"]>65000) ]

   EmployeeID   Name Department  Age   Salary JoiningDate           City
0         101   John         HR   29  45000.0  2021-05-14       New York
1         102   Sara    Finance   35  65000.0  2019-08-19        Chicago
2         103   Alex         IT   28  55000.0  2020-11-01  San Francisco
3         104   Emma    Finance   42  72000.0  2018-04-23        Chicago
4         105  David         IT   31  58000.0  2021-02-15    Los Angeles
5         106   Nina         HR   39  49000.0  2017-09-10       New York
6         107    Tom    Finance   30      NaN  2020-07-01        Chicago
7         108  Linda         IT   45  75000.0  2016-03-30  San Francisco
8         109  James         HR   27  42000.0  2022-01-10    Los Angeles
9         110   Mary    Finance   38  68000.0  2019-12-15        Chicago

In [34]:
dpt = str(input("Enter your department"))
sl = int(input("Enter salary"))

data[ (data["Department"]==dpt) & (data["Salary"]>sl) ]

Enter your department Finance
Enter salary 65000

   EmployeeID  Name Department  Age   Salary JoiningDate     City
3         104  Emma    Finance   42  72000.0  2018-04-23  Chicago
9         110  Mary    Finance   38  68000.0  2019-12-15  Chicago

In [36]:
# Get employees who joined after 1st Jan 2020.
data.dtypes

EmployeeID       int64
Name            object
Department      object
Age              int64
Salary         float64
JoiningDate     object
City            object
dtype: object

In [38]:
   # step 1 find data types
  # step 2 convert the column into date datatype
  # step 3 condition
data

   EmployeeID   Name Department  Age   Salary JoiningDate           City
0         101   John         HR   29  45000.0  2021-05-14       New York
1         102   Sara    Finance   35  65000.0  2019-08-19        Chicago
2         103   Alex         IT   28  55000.0  2020-11-01  San Francisco
3         104   Emma    Finance   42  72000.0  2018-04-23        Chicago
4         105  David         IT   31  58000.0  2021-02-15    Los Angeles
5         106   Nina         HR   39  49000.0  2017-09-10       New York
6         107    Tom    Finance   30      NaN  2020-07-01        Chicago
7         108  Linda         IT   45  75000.0  2016-03-30  San Francisco
8         109  James         HR   27  42000.0  2022-01-10    Los Angeles
9         110   Mary    Finance   38  68000.0  2019-12-15        Chicago

In [40]:
data["JoiningDate"] = pd.to_datetime(data["JoiningDate"])

In [42]:
data.dtypes

EmployeeID              int64
Name                   object
Department             object
Age                     int64
Salary                float64
JoiningDate    datetime64[ns]
City                   object
dtype: object

In [46]:
data[data["JoiningDate"]>'2020/01/01']

   EmployeeID   Name Department  Age   Salary JoiningDate           City
0         101   John         HR   29  45000.0  2021-05-14       New York
2         103   Alex         IT   28  55000.0  2020-11-01  San Francisco
4         105  David         IT   31  58000.0  2021-02-15    Los Angeles
6         107    Tom    Finance   30      NaN  2020-07-01        Chicago
8         109  James         HR   27  42000.0  2022-01-10    Los Angeles

In [52]:
# loc
data.loc[data["JoiningDate"]>'2020-01-01',"Name"]

0     John
2     Alex
4    David
6      Tom
8    James
Name: Name, dtype: object

In [56]:
data.loc[data["JoiningDate"]>'2020-01-01',["EmployeeID","Name"]]

   EmployeeID   Name
0         101   John
2         103   Alex
4         105  David
6         107    Tom
8         109  James

### DropNa

In [59]:
data

   EmployeeID   Name Department  Age   Salary JoiningDate           City
0         101   John         HR   29  45000.0  2021-05-14       New York
1         102   Sara    Finance   35  65000.0  2019-08-19        Chicago
2         103   Alex         IT   28  55000.0  2020-11-01  San Francisco
3         104   Emma    Finance   42  72000.0  2018-04-23        Chicago
4         105  David         IT   31  58000.0  2021-02-15    Los Angeles
5         106   Nina         HR   39  49000.0  2017-09-10       New York
6         107    Tom    Finance   30      NaN  2020-07-01        Chicago
7         108  Linda         IT   45  75000.0  2016-03-30  San Francisco
8         109  James         HR   27  42000.0  2022-01-10    Los Angeles
9         110   Mary    Finance   38  68000.0  2019-12-15        Chicago

In [61]:
data.isna().sum()

EmployeeID     0
Name           0
Department     0
Age            0
Salary         1
JoiningDate    0
City           0
dtype: int64

In [ ]:
data.dropna(axis=1)  # delete entire column having nan value
data.dropna(axis=0)  # delete entire row having nan value

In [ ]:
data.dropna(axis=0,how="any")  # any value from records is nan
data.dropna(axis=0,how="all")   # all value from records must be nan

In [ ]:
data.dropna(axis=0,thresh=2)  # number of nan values

In [ ]:
data.dropna(subset="Salary")   # particular column name

## Highlight Based on Condition

In [64]:
data

   EmployeeID   Name Department  Age   Salary JoiningDate           City
0         101   John         HR   29  45000.0  2021-05-14       New York
1         102   Sara    Finance   35  65000.0  2019-08-19        Chicago
2         103   Alex         IT   28  55000.0  2020-11-01  San Francisco
3         104   Emma    Finance   42  72000.0  2018-04-23        Chicago
4         105  David         IT   31  58000.0  2021-02-15    Los Angeles
5         106   Nina         HR   39  49000.0  2017-09-10       New York
6         107    Tom    Finance   30      NaN  2020-07-01        Chicago
7         108  Linda         IT   45  75000.0  2016-03-30  San Francisco
8         109  James         HR   27  42000.0  2022-01-10    Los Angeles
9         110   Mary    Finance   38  68000.0  2019-12-15        Chicago

In [72]:
def highlightRows(value):
    color = 'background-color: yellow' if value>65000  else ''
    return color
data.style.applymap(highlightRows,subset=["Salary"])

C:\Users\DELL\AppData\Local\Temp\ipykernel_10116\2604282384.py:4: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  data.style.applymap(highlightRows,subset=["Salary"])

## Removing Duplicates

In [79]:
dict1 = {"Name":["A","b","c","A","b","A"],"age":[25,32,45,25,32,60]}
dict1

{'Name': ['A', 'b', 'c', 'A', 'b', 'A'], 'age': [25, 32, 45, 25, 32, 60]}

In [113]:
data = pd.DataFrame(dict1)
data

  Name  age
0    A   25
1    b   32
2    c   45
3    A   25
4    b   32
5    A   60

In [115]:
# check whether duplicate values are exist
print(data.duplicated())
print(data.duplicated().sum())

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool
2

In [125]:
# remove duplicate values
dataNew = data.drop_duplicates(keep=False,ignore_index=True)  # keep = last implies occur last record  
dataNew                                     # keep = False , remove all duplicates records

  Name  age
0    c   45
1    A   60

In [93]:
mark = {'regNo':[5001,5002,5003,5002],"mark":[45,65,36,45]}
data2 = pd.DataFrame(mark)

In [101]:
data2

   regNo  mark
0   5001    45
1   5002    65
2   5003    36
3   5002    45

In [127]:
data2.drop_duplicates(subset='regNo')

   regNo  mark
0   5001    45
1   5002    65
2   5003    36

## Replace

In [130]:
df = pd.read_excel("campaign (1).xlsx")
df

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
0,2024-08-01,CAM001,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,2024-08-02,CAM002,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
2,2024-08-03,CAM003,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,2024-08-04,CAM004,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,2024-08-05,CAM005,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,2024-12-24,CAM146,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,2024-12-25,CAM147,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,2024-12-26,CAM148,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,2024-12-27,CAM149,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,2024-12-28,CAM150,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [132]:
# replacing a spcific value from entire dataset
data1  =df.replace(246,90)  # replacing value, replaced with
data1

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
0,2024-08-01,CAM001,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,90,24,158
1,2024-08-02,CAM002,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
2,2024-08-03,CAM003,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,2024-08-04,CAM004,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,2024-08-05,CAM005,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,2024-12-24,CAM146,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,2024-12-25,CAM147,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,2024-12-26,CAM148,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,2024-12-27,CAM149,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,2024-12-28,CAM150,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [136]:
df["Clicks"] = df["Clicks"].replace(285,100)
df

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
0,2024-08-01,CAM001,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,2024-08-02,CAM002,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
2,2024-08-03,CAM003,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,100,197,108
3,2024-08-04,CAM004,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,2024-08-05,CAM005,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,2024-12-24,CAM146,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,2024-12-25,CAM147,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,2024-12-26,CAM148,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,2024-12-27,CAM149,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,2024-12-28,CAM150,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [138]:
# replacing multiple values with a single value
df

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
0,2024-08-01,CAM001,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,2024-08-02,CAM002,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
2,2024-08-03,CAM003,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,100,197,108
3,2024-08-04,CAM004,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,2024-08-05,CAM005,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,2024-12-24,CAM146,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,2024-12-25,CAM147,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,2024-12-26,CAM148,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,2024-12-27,CAM149,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,2024-12-28,CAM150,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [140]:
df["Impressions"] = df["Impressions"].replace([2184,2090],200)
df

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
0,2024-08-01,CAM001,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,2024-08-02,CAM002,Heisenberg's Deals,Saul Goodman,Streaming Service,200,474,182,105
2,2024-08-03,CAM003,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,200,100,197,108
3,2024-08-04,CAM004,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,2024-08-05,CAM005,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,2024-12-24,CAM146,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,2024-12-25,CAM147,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,2024-12-26,CAM148,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,2024-12-27,CAM149,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,2024-12-28,CAM150,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [142]:
df["Impressions"] = df["Impressions"].replace({2223:55,4808:65})
df

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
0,2024-08-01,CAM001,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,2024-08-02,CAM002,Heisenberg's Deals,Saul Goodman,Streaming Service,200,474,182,105
2,2024-08-03,CAM003,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,200,100,197,108
3,2024-08-04,CAM004,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,2024-08-05,CAM005,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,2024-12-24,CAM146,MT Lab Mania,Mike Ehrmantraut,Fan Forums,55,409,258,141
146,2024-12-25,CAM147,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,65,367,50,111
147,2024-12-26,CAM148,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,2024-12-27,CAM149,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,2024-12-28,CAM150,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [144]:
# replacing with condition
df

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
0,2024-08-01,CAM001,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,2024-08-02,CAM002,Heisenberg's Deals,Saul Goodman,Streaming Service,200,474,182,105
2,2024-08-03,CAM003,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,200,100,197,108
3,2024-08-04,CAM004,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,2024-08-05,CAM005,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,2024-12-24,CAM146,MT Lab Mania,Mike Ehrmantraut,Fan Forums,55,409,258,141
146,2024-12-25,CAM147,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,65,367,50,111
147,2024-12-26,CAM148,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,2024-12-27,CAM149,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,2024-12-28,CAM150,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [158]:
df.loc[df["Ad Spend"]>=300,"Impressions"] = 400

In [160]:
df

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
0,2024-08-01,CAM001,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,2024-08-02,CAM002,Heisenberg's Deals,Saul Goodman,Kerala,200,474,182,105
2,2024-08-03,CAM003,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,200,100,100,108
3,2024-08-04,CAM004,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,100,162
4,2024-08-05,CAM005,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,2024-12-24,CAM146,MT Lab Mania,Mike Ehrmantraut,Fan Forums,55,409,100,141
146,2024-12-25,CAM147,Heisenberg's Deals,Mike Ehrmantraut,Kerala,65,367,100,111
147,2024-12-26,CAM148,MT Lab Mania,Gustavo Fring,Fast Food Sites,400,362,288,400
148,2024-12-27,CAM149,Heisenberg's Deals,Gustavo Fring,Kerala,400,347,86,400
149,2024-12-28,CAM150,Heisenberg's Deals,Walter White,Kerala,3685,359,205,228

In [150]:
df.loc[df["Responsible Person"]=="Mike Ehrmantraut","Units Sold"] = 100

In [152]:
df

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
0,2024-08-01,CAM001,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,2024-08-02,CAM002,Heisenberg's Deals,Saul Goodman,Streaming Service,200,474,182,105
2,2024-08-03,CAM003,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,200,100,100,108
3,2024-08-04,CAM004,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,100,162
4,2024-08-05,CAM005,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,2024-12-24,CAM146,MT Lab Mania,Mike Ehrmantraut,Fan Forums,55,409,100,141
146,2024-12-25,CAM147,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,65,367,100,111
147,2024-12-26,CAM148,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,400
148,2024-12-27,CAM149,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,400
149,2024-12-28,CAM150,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [154]:
df.loc[df["Campaign Name"]=="Heisenberg's Deals","Location"] = "Kerala"

In [156]:
df

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
0,2024-08-01,CAM001,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,2024-08-02,CAM002,Heisenberg's Deals,Saul Goodman,Kerala,200,474,182,105
2,2024-08-03,CAM003,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,200,100,100,108
3,2024-08-04,CAM004,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,100,162
4,2024-08-05,CAM005,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,2024-12-24,CAM146,MT Lab Mania,Mike Ehrmantraut,Fan Forums,55,409,100,141
146,2024-12-25,CAM147,Heisenberg's Deals,Mike Ehrmantraut,Kerala,65,367,100,111
147,2024-12-26,CAM148,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,400
148,2024-12-27,CAM149,Heisenberg's Deals,Gustavo Fring,Kerala,3439,347,86,400
149,2024-12-28,CAM150,Heisenberg's Deals,Walter White,Kerala,3685,359,205,228

### Parse Dates

In [202]:
dict2 = {"Name":["bb","ab","ak"],"joining date":['2025-08-13',"14/07/2025","Feb 19, 2025"]}
        
data = pd.DataFrame(dict2)
data

  Name  joining date
0   bb    2025-08-13
1   ab    14/07/2025
2   ak  Feb 19, 2025

In [204]:
data.dtypes

Name            object
joining date    object
dtype: object

In [206]:
data["joining date"] = pd.to_datetime(data["joining date"],format='mixed')
data["joining date"] = data["joining date"].dt.strftime('%d-%m-%Y')  # datetime moduele (dt)
data

  Name joining date
0   bb   13-08-2025
1   ab   14-07-2025
2   ak   19-02-2025

In [184]:
#parse date
data2 = pd.read_excel("campaign (1).xlsx",parse_dates=["Date"])
data2

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
0,2024-08-01,CAM001,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,2024-08-02,CAM002,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
2,2024-08-03,CAM003,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,2024-08-04,CAM004,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,2024-08-05,CAM005,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,2024-12-24,CAM146,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,2024-12-25,CAM147,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,2024-12-26,CAM148,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,2024-12-27,CAM149,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,2024-12-28,CAM150,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [186]:
data2.dtypes

Date                  datetime64[ns]
Campaign ID                   object
Campaign Name                 object
Responsible Person            object
Location                      object
Impressions                    int64
Clicks                         int64
Units Sold                     int64
Ad Spend                       int64
dtype: object

### Group By

In [209]:
# summarization tool/process
data = pd.read_excel("campaign (1).xlsx")
data

,Date,Campaign ID,Campaign Name,Responsible Person,Location,Impressions,Clicks,Units Sold,Ad Spend
0,2024-08-01,CAM001,The Pinkman Promotion,Jesse Pinkman,Fast Food Sites,2363,246,24,158
1,2024-08-02,CAM002,Heisenberg's Deals,Saul Goodman,Streaming Service,2184,474,182,105
2,2024-08-03,CAM003,Crystal Clear Discount,Mike Ehrmantraut,Fan Forums,2090,285,197,108
3,2024-08-04,CAM004,MT Lab Mania,Mike Ehrmantraut,Fan Forums,6475,310,98,162
4,2024-08-05,CAM005,Crystal Clear Discount,Jesse Pinkman,Fan Forums,6688,191,180,219
...,...,...,...,...,...,...,...,...,...
145,2024-12-24,CAM146,MT Lab Mania,Mike Ehrmantraut,Fan Forums,2223,409,258,141
146,2024-12-25,CAM147,Heisenberg's Deals,Mike Ehrmantraut,Car Wash Sites,4808,367,50,111
147,2024-12-26,CAM148,MT Lab Mania,Gustavo Fring,Fast Food Sites,4057,362,288,331
148,2024-12-27,CAM149,Heisenberg's Deals,Gustavo Fring,Email Campaigns,3439,347,86,328
149,2024-12-28,CAM150,Heisenberg's Deals,Walter White,Streaming Service,3685,359,205,228

In [212]:
data.groupby('Location')['Clicks'].sum()

Location
Car Wash Sites        3577
Email Campaigns       9731
Fan Forums           14544
Fast Food Sites      13112
Streaming Service     6938
Name: Clicks, dtype: int64

In [216]:
data.groupby('Location')['Clicks'].mean()

Location
Car Wash Sites       298.083333
Email Campaigns      335.551724
Fan Forums           346.285714
Fast Food Sites      304.930233
Streaming Service    289.083333
Name: Clicks, dtype: float64

In [218]:
data.groupby('Location')['Clicks'].max()

Location
Car Wash Sites       462
Email Campaigns      467
Fan Forums           895
Fast Food Sites      498
Streaming Service    493
Name: Clicks, dtype: int64

In [220]:
data.groupby('Location')['Clicks'].min()

Location
Car Wash Sites       105
Email Campaigns      122
Fan Forums           106
Fast Food Sites      107
Streaming Service    107
Name: Clicks, dtype: int64

In [226]:
# multiple aggregation functions
data.groupby('Location').agg({'Clicks':['sum','mean','max','min'],'Impressions':['sum','mean','max']})

                  Clicks                       Impressions
                     sum        mean  max  min         sum         mean   max
Location
Car Wash Sites      3577  298.083333  462  105       56814  4734.500000  6194
Email Campaigns     9731  335.551724  467  122      127689  4403.068966  6994
Fan Forums         14544  346.285714  895  106      199547  4751.119048  6861
Fast Food Sites    13112  304.930233  498  107      190466  4429.441860  6700
Streaming Service   6938  289.083333  493  107      100675  4194.791667  6904

In [230]:
# multiple columns
data.groupby(['Location','Responsible Person'])['Ad Spend'].sum()

Location           Responsible Person
Car Wash Sites     Jesse Pinkman         1027
                   Mike Ehrmantraut       984
                   Walter White          1335
Email Campaigns    Gustavo Fring         1744
                   Jesse Pinkman         2115
                   Mike Ehrmantraut      1330
                   Saul Goodman          1596
                   Walter White          1590
Fan Forums         Gustavo Fring         1494
                   Jesse Pinkman         2103
                   Mike Ehrmantraut      3226
                   Saul Goodman          3092
                   Walter White          1881
Fast Food Sites    Gustavo Fring         5119
                   Jesse Pinkman         2331
                   Mike Ehrmantraut      1785
                   Saul Goodman          2885
                   Walter White          1006
Streaming Service  Jesse Pinkman         1220
                   Mike Ehrmantraut      2346
                   Saul Goodman          3277
                   Walter White          1190
Name: Ad Spend, dtype: int64

### Concat

In [248]:
dict1 = {'Name':["A","B","C"],"Age":[55,12,32]}
df1 =  pd.DataFrame(dict1)
df1

  Name  Age
0    A   55
1    B   12
2    C   32

In [250]:
dict2 = {'Name':["A","B","C"],"Age":[48,19,52]}
df2 = pd.DataFrame(dict2)
df2

  Name  Age
0    A   48
1    B   19
2    C   52

In [244]:
combinedDate = pd.concat([df1,df2],ignore_index=True)   # by default axis=0  , row wise
combinedDate

  Name  Age
0    A   55
1    B   12
2    C   32
3    A   48
4    B   19
5    C   52

In [258]:
dict3 = {"Designation":["DS","fluter"],"salary":[5000,6000]}
df3 = pd.DataFrame(dict3)
df3

  Designation  salary
0          DS    5000
1      fluter    6000

In [260]:
combinedvertcaly = pd.concat([df1,df3],axis=1)
combinedvertcaly

  Name  Age Designation  salary
0    A   55          DS  5000.0
1    B   12      fluter  6000.0
2    C   32         NaN     NaN

### Merge

In [284]:
data1 = pd.DataFrame({"ID":[101,102,103],"Name":["A","B","c"]})
data1

    ID Name
0  101    A
1  102    B
2  103    c

In [286]:
data2 = pd.DataFrame({"empID":[101,102,104],"Salary":[5000,6000,7000]})
data2

   empID  Salary
0    101    5000
1    102    6000
2    104    7000

In [290]:
pd.merge(data1,data2,left_on="ID",right_on="empID")    # by default inner merge/innner join -> common  in both tables

    ID Name  empID  Salary
0  101    A    101    5000
1  102    B    102    6000

In [273]:
# left join/merge
pd.merge(data1,data2,on="ID",how='left')

    ID Name  Salary
0  101    A  5000.0
1  102    B  6000.0
2  103    c     NaN

In [275]:
# right join
pd.merge(data1,data2,on="ID",how='right')

    ID Name  Salary
0  101    A    5000
1  102    B    6000
2  104  NaN    7000

In [277]:
# full outer join - union
pd.merge(data1,data2,on="ID",how='outer')

    ID Name  Salary
0  101    A  5000.0
1  102    B  6000.0
2  103    c     NaN
3  104  NaN  7000.0

In [282]:
pd.merge(data1,data2,how='cross',)

   ID_x Name  ID_y  Salary
0   101    A   101    5000
1   101    A   102    6000
2   101    A   104    7000
3   102    B   101    5000
4   102    B   102    6000
5   102    B   104    7000
6   103    c   101    5000
7   103    c   102    6000
8   103    c   104    7000

### Pivot

# summarization tool
df = pd.read_excel("campaign (1).xlsx")
df

In [305]:
df.pivot(index="Campaign ID",values="Clicks",columns="Campaign Name")

Campaign Name,Blue Sky Special,Crystal Clear Discount,Heisenberg's Deals,MT Lab Mania,The Pinkman Promotion
Campaign ID,,,,,
CAM001,NaN,NaN,NaN,NaN,246.0
CAM002,NaN,NaN,474.0,NaN,NaN
CAM003,NaN,285.0,NaN,NaN,NaN
CAM004,NaN,NaN,NaN,310.0,NaN
CAM005,NaN,191.0,NaN,NaN,NaN
...,...,...,...,...,...
CAM146,NaN,NaN,NaN,409.0,NaN
CAM147,NaN,NaN,367.0,NaN,NaN
CAM148,NaN,NaN,NaN,362.0,NaN
CAM149,NaN,NaN,347.0,NaN,NaN
CAM150,NaN,NaN,359.0,NaN,NaN

## Pivot Table

In [310]:
df.pivot_table(index="Location",columns="Responsible Person",values="Clicks")   # agg func by default "mean"

Responsible Person,Gustavo Fring,Jesse Pinkman,Mike Ehrmantraut,Saul Goodman,Walter White
Location,,,,,
Car Wash Sites,NaN,240.000000,269.333333,NaN,341.500000
Email Campaigns,373.714286,344.166667,338.200000,311.166667,298.400000
Fan Forums,849.800000,250.125000,305.916667,296.800000,236.428571
Fast Food Sites,311.473684,339.142857,325.000000,261.571429,238.000000
Streaming Service,NaN,395.000000,148.666667,319.166667,343.666667

In [320]:
df.pivot_table(index="Location",columns="Responsible Person",values="Clicks",aggfunc='sum',margins=True,margins_name="Total")

Responsible Person,Gustavo Fring,Jesse Pinkman,Mike Ehrmantraut,Saul Goodman,Walter White,Total
Location,,,,,,
Car Wash Sites,NaN,720.0,808.0,NaN,2049.0,3577
Email Campaigns,2616.0,2065.0,1691.0,1867.0,1492.0,9731
Fan Forums,4249.0,2001.0,3671.0,2968.0,1655.0,14544
Fast Food Sites,5918.0,2374.0,2275.0,1831.0,714.0,13112
Streaming Service,NaN,1185.0,892.0,3830.0,1031.0,6938
Total,12783.0,8345.0,9337.0,10496.0,6941.0,47902

In [316]:
df.pivot_table(index="Location",columns="Responsible Person",values="Clicks",aggfunc='min',margins=True)

Responsible Person,Gustavo Fring,Jesse Pinkman,Mike Ehrmantraut,Saul Goodman,Walter White,All
Location,,,,,,
Car Wash Sites,NaN,161.0,105.0,NaN,188.0,105
Email Campaigns,313.0,130.0,213.0,122.0,164.0,122
Fan Forums,805.0,108.0,202.0,125.0,106.0,106
Fast Food Sites,160.0,107.0,115.0,148.0,184.0,107
Streaming Service,NaN,268.0,107.0,171.0,194.0,107
All,160.0,107.0,105.0,122.0,106.0,105

## Cross tab - contegency table (frequency table)

In [353]:
pd.crosstab(index=df["Location"],columns=df["Campaign Name"])

Campaign Name,Blue Sky Special,Crystal Clear Discount,Heisenberg's Deals,MT Lab Mania,The Pinkman Promotion
Location,,,,,
Car Wash Sites,2,2,4,3,1
Email Campaigns,9,4,6,6,4
Fan Forums,7,12,4,12,7
Fast Food Sites,10,11,7,12,3
Streaming Service,4,3,8,3,6

In [351]:
pd.crosstab(df["Location"],df["Campaign Name"])

Campaign Name,Blue Sky Special,Crystal Clear Discount,Heisenberg's Deals,MT Lab Mania,The Pinkman Promotion
Location,,,,,
Car Wash Sites,2,2,4,3,1
Email Campaigns,9,4,6,6,4
Fan Forums,7,12,4,12,7
Fast Food Sites,10,11,7,12,3
Streaming Service,4,3,8,3,6