Introduction
1) Easy to read
2) Easy to write
3) Easy to maintain

# Python

In [40]:
# variable - working as a container

df=10   # integer
print(df)
ab = 45.6  # float/decimal
print(ab)
name = 'hari'  #string/text
print(name)

10
45.6
hari

In [ ]:
# rules of variables
# variables must be included alphabets or number or underscore
# variables must start with underscore or alphabets (not start with numbers)
# case senstitive - uppercase or lowercase
# multiple variable can assign in single line

In [28]:
name,age,place,state,country = "hari",55,"tvm","kerala","india"
print(state)
print(name)
print(country)

kerala
hari
india

In [30]:
print(name,state)

hari kerala

In [32]:
print("raju")

raju

In [44]:
firstName = "David"
LastName = "Jhon"
print(firstName+" "+LastName) # combining / merging texts/string

David Jhon

In [48]:
firstName = "David"
LastName = "Jhon"
print(firstName+" "+LastName) # combining / merging texts/string

David Jhon

## Operators

# arithematic operator
# assignment Operator
# Comparison Operator
# Membership Operator
# logical operator
# identity operator
# Bitwise operator

In [64]:
# arithematic operator
a = 4
b = 7
print(a+b)  # addition
print(b-a)   # subtraction
print(a*b)   # multiplication
print(b/a)   # division
print(b%a)   # modulus - finding reminder
print(a**b)   # exponentation/power
print(b//a)    # floor division

11
3
28
1.75
3
16384
1

In [ ]:
# assignment operators
df = 8

ab+=3    -- ab= ab+3
x-=5 --- x=x-5

y*=5 ---- y=y*5

In [78]:
# comparison operators
x = 8
y = 8
print(x==y) # equal to
print(x!=y)  # not eaual to

a = 5
b = 7
print(a>b)
print(a>=b)

print(a<b)
print(a<=b)

True
False
False
False
True
True

In [98]:
# logical operators
a = 5

print(a<7 and a>3)   # and - both condition must be true

print(a<7 or a>6)  # or - any of the condition be true

print(not(a<7 and a>3))  # not - opposite of that condition

True
True
False

In [106]:
# identity operators
x = 10
y = 8
print(x is y)
print(x is not y)

False
True

In [116]:
# membership operators
name = "David"
print("v" in name)
print("g" in name)

print("i" not in name)
print("g" not in name)

True
False
False
True

In [124]:
# bitewise operators
x = 4
print(x>3 & x<7)  # and 
print(x>3 | x<9)  #  or
# ~ not

True
False

## String Functions

In [129]:
df = "Palakkad"

age1 = '78'
age2 = '40'
print(age1+age2)

7840

In [163]:
data = "Welcome to my home"

print(data[3])  # positive indexing
print(data[-2])  # negetive indexing
 # slicing
print(data[3:7])
print(data[3:])
print(data[:5])
print(data[:])
print(data[-4:])
print(data[-1])

c
m
come
come to my home
Welco
Welcome to my home
home
e
c

In [182]:
data

'Welcome to my home'

In [198]:
# count
print(data.count("e"))
print(data.count("e",4))
print(data.count("e",4,8))

3
2
1

In [214]:
df = "WelCome hERe"

# swapcase
print(df.swapcase())
# upper
print(df.upper())
# casefold
print(df.casefold())
# lower
print(df.lower())
# capitalize
print(df.capitalize())
# title
print(df.title())

wELcOME HerE
WELCOME HERE
welcome here
welcome here
Welcome here
Welcome Here

In [222]:
# startswith
data = "Welcome to my home"
print(data.startswith("W"))

#endswith
print(data.endswith("e"))

True
True

In [226]:
# find
data = "Welcome to my home"
print(data.find("to"))
print(data.find("home"))

8
14

In [ ]:
# data types
 # [] - list  () - tuple  {} - set   dictionary {}

# List []

In [230]:
df1 = [43,54,12,89]  #integer list
print(df1)
df2 = [45.2,68.3,48.66,98.7]  #float list
print(df2)
df3 = ["dg","pl","hllo"] # string list
print(df3)
df4 = ["hello",45,32,66.8]  # mixed list
print(df4)
df5 = []  # empty list
print(df5)
df6 =[12,54,"hy",[48,"je",99]]  # nested list
print(df6)

[43, 54, 12, 89]
[45.2, 68.3, 48.66, 98.7]
['dg', 'pl', 'hllo']
['hello', 45, 32, 66.8]
[]
[12, 54, 'hy', [48, 'je', 99]]

In [236]:
df1 = [43,54,12,89,87,90]  #integer list
print(df1[1])  # positive indexing
print(df1[-2])  # negetive indexing

# slicing

print(df1[2:5])

54
87
[12, 89, 87]

In [240]:
df6 =[12,54,"hy",[48,"je",99]]  # nested list
print(df6[3][0])

48

In [1]:
df1 = [43,54,12,89]
#append
df1.append(100)
df1.append(87)
print(df1)

#extend
df1.extend([45,48,96])
print(df1)

# insert
df1.insert(2,55)
print(df1)

[43, 54, 12, 89, 100, 87]
[43, 54, 12, 89, 100, 87, 45, 48, 96]
[43, 54, 55, 12, 89, 100, 87, 45, 48, 96]

In [2]:
df1

[43, 54, 55, 12, 89, 100, 87, 45, 48, 96]

In [3]:
# remove
df1.remove(100)  # to remove a particular value
print(df1)

[43, 54, 55, 12, 89, 87, 45, 48, 96]

In [9]:
# delete - using index position
del(df1[2])
print(df1)

[43, 54, 12, 89, 87, 45, 48, 96]

In [11]:
# pop - removing last value in list
df1.pop()
print(df1)

[43, 54, 12, 89, 87, 45, 48]

In [13]:
df1.clear()
print(df1)

[]

In [25]:
list1 = [87,12,42,44,65,99,12,44]

#sort  - ascending order
list1.sort()
print(list1)

#reverse - descending order
list1.reverse()
print(list1)

#count - number of elemnts/values/items
print(list1.count(12))

#index - find the index position of a value
print(list1.index(44))

[12, 12, 42, 44, 44, 65, 87, 99]
[99, 87, 65, 44, 44, 42, 12, 12]
2
3

In [27]:
list1

[99, 87, 65, 44, 44, 42, 12, 12]

In [32]:
list1[2] = 90
print(list1)

[99, 50, 90, 44, 44, 42, 12, 12]

## Tuple ()

In [34]:
tup1 = (48,65,32,78,6)
print(tup1)

# unchangeable
# immutable

(48, 65, 32, 78, 6)

In [38]:
print(tup1[2])

32

In [48]:
# concatenation/merging - +
tp1 = (98,23,2,112,88)
tp2 = (99,100,101)
tp3 = tp1+tp2
print(tp3)

# asterik - * - repeat
print(tp2*4)

(98, 23, 2, 112, 88, 99, 100, 101)
(99, 100, 101, 99, 100, 101, 99, 100, 101, 99, 100, 101)

In [52]:
tp1 = (98,23,2,112,88)
print(tp1[::-1])

(88, 112, 2, 23, 98)

## Set {}

In [3]:
df = {42,11,43,11,76,12,11,9,78}
print(df)

# unordered
# dont allow duplicate values
# unindexed
# unchangeable
# mutable

{78, 9, 42, 11, 76, 12, 43}

In [5]:
# add
df.add(100)
print(df)

{100, 78, 9, 42, 11, 76, 12, 43}

In [7]:
# update
df.update([101,102,103])
print(df)

{9, 11, 76, 12, 78, 100, 101, 102, 103, 42, 43}

In [9]:
#remove
df.remove(78)
print(df)

{9, 11, 76, 12, 100, 101, 102, 103, 42, 43}

In [11]:
#discard
df.discard(76)

In [13]:
print(df)

{9, 11, 12, 100, 101, 102, 103, 42, 43}

In [15]:
df.remove(99)  #error

KeyError: 99

In [17]:
df.discard(99)  # no error

In [19]:
# pop
df

{9, 11, 12, 42, 43, 100, 101, 102, 103}

In [21]:
df.pop()  # delete a value randomly

9

In [23]:
df

{11, 12, 42, 43, 100, 101, 102, 103}

In [25]:
# clear
df.clear()

In [27]:
df

set()

In [33]:
set2 = {9,8,99,90,76,12,13,88,99,99}
# len - no of items/values
print(len(set2))

8

In [37]:
# for loop
print(set2)
# iterating variable

for i in set2:
    print(i)

{99, 8, 9, 76, 12, 13, 88, 90}
99
8
9
76
12
13
88
90

In [55]:
# set operations
st1 = {2,3,4,5,6,7}
st2 = {5,6,7,8,9,10}

# union
print(st1.union(st2))
print(st1|st2)

# intresection
print(st1.intersection(st2))
print(st1&st2)

# differnce
print(st1.difference(st2))
print(st1-st2)
print(st2.difference(st1))
print(st2-st1)

# symmetric differnce
print(st1.symmetric_difference(st2))
print(st1^st2)

{2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 3, 4, 5, 6, 7, 8, 9, 10}
{5, 6, 7}
{5, 6, 7}
{2, 3, 4}
{2, 3, 4}
{8, 9, 10}
{8, 9, 10}
{2, 3, 4, 8, 9, 10}
{2, 3, 4, 8, 9, 10}

## Dictionary {}

In [58]:
dict1 = {"name":"david","age":25,"Place":"tvm"}  # key-value pair
print(dict1)

# key must be unique
# valuees either duplicate or unique
# ordered
# mutable and changeable(key is not changeable)

{'name': 'david', 'age': 25, 'Place': 'tvm'}

In [60]:
print(dict1["age"])

25

In [62]:
print(dict1["Place"])

tvm

In [64]:
dict1["Place"] = "mlprm"
dict1

{'name': 'david', 'age': 25, 'Place': 'mlprm'}

In [66]:
dict1["age"] = 30
dict1

{'name': 'david', 'age': 30, 'Place': 'mlprm'}

In [68]:
# add new pair(key-value)
dict1["state"] = "kerala"
dict1

{'name': 'david', 'age': 30, 'Place': 'mlprm', 'state': 'kerala'}

In [70]:
dict2 = {"Name":["david","joe","jhon"],"age":[12,14,22,25],"Place":["mlprm","tvm"]}
print(dict2)

{'Name': ['david', 'joe', 'jhon'], 'age': [12, 14, 22, 25], 'Place': ['mlprm', 'tvm']}

In [74]:
print(dict2["Name"][2])

jhon

In [76]:
dict2["Name"].append("Hari")

In [78]:
dict2

{'Name': ['david', 'joe', 'jhon', 'Hari'],
 'age': [12, 14, 22, 25],
 'Place': ['mlprm', 'tvm']}

In [80]:
dict2

{'Name': ['david', 'joe', 'jhon', 'Hari'],
 'age': [12, 14, 22, 25],
 'Place': ['mlprm', 'tvm']}

In [90]:
dict1 = {"name":"david","age":25,"Place":"tvm","state":"kerala"}  # key-value pair
print(dict1)

#pop
print(dict1.pop("age"))
#popitem

# delete

{'name': 'david', 'age': 25, 'Place': 'tvm', 'state': 'kerala'}
25

In [92]:
dict1

{'name': 'david', 'Place': 'tvm', 'state': 'kerala'}

In [94]:
print(dict1.popitem())

('state', 'kerala')

In [96]:
dict1

{'name': 'david', 'Place': 'tvm'}

In [98]:
# delete - del
del(dict1["name"])

In [100]:
dict1

{'Place': 'tvm'}

In [102]:
dict1.clear()

In [104]:
dict1

{}

## Conditional Statements

In [ ]:
#if,elif,else

In [117]:
# if
a = 5
b = 10

if a>b:
   print("ok")
else:
    print("hy")

hy

In [123]:
num = 30
if num%2==0:
    print("even")
else:
    print("odd")

even

In [125]:
age  = 23
if age>=18:
    print("Eligble for vote")
else:
    print("Not eligble")

Eligble for vote

In [127]:
mark = 45
if mark>=20:
    print("Pass")
else:
    print("Fail")

Pass

In [157]:
# grade system
mark = 48
if mark>=45 and mark<=50:
    print("A+")
elif mark>=40 and mark<45:
    print("A")
elif mark>35 and mark<40:
    print("B+")
elif mark>25 and mark<=35:
    print("B")
elif mark>=20 and mark<25:
    print("C+")
elif mark<20 and mark>=0:
    print("F")
else:
    print("Invalid mark")

A+

In [139]:
a = 10
b = 21
if a%2==0 and b%2==0:
    print("Both a and b are even number")

Both a and b are even number

In [165]:
# nested if
df = 52
if df<=50:
    if df%2==0:
        print("even")
    else:
        print("odd")
else:
    print("number is not less than 50")

number is not less than 50

In [167]:
#application
list1 = [23,112,353,23,54,33,46,44,87,90]
even = []
odd = []
for i in list1:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[112, 54, 46, 44, 90]
[23, 353, 23, 33, 87]

In [191]:
a = float(input("Enter your number"))

Enter your number 45

In [211]:
# atm system
pin = 1234
balance = 15000
userPin = int(input("Enter your PIN"))
if userPin==pin:
    amount = int(input("Enter your withdraw amount"))
    if amount%100==0:
        if amount<=balance:
            balance-=amount
            
            
            print(f"withdraw succesful, your current balance is ${balance}")
        else:
            print("Insufficient balance")
    else:
        print("Enter your amount that is multple of 100")
else:
    print("Incorrect pin")

Enter your PIN 1234
Enter your withdraw amount 10000

withdraw succesful, your current balance is $5000

In [205]:
name = "hari"
age = 45
  # my name is hari and 25 years old
print("my name is",name,"and",age,"years old")

# string format
print(f"my name is {name} and {age} years old")

my name is hari and 45 years old
my name is hari and 45 years old

## Looping statements

In [215]:
# for loop
# while loop

In [217]:
list1 = [23,11,98,99,100]
for i in list1:
    print(i)

23
11
98
99
100

In [233]:
dict1 = {"Name":"David","Age":25,"Place":"Mprm"}
for i,j in dict1.items():
    print(i)
    print(j)

Name
David
Age
25
Place
Mprm

In [223]:
dict1 = {"Name":"David","Age":25,"Place":"Mprm"}
print(dict1.items())

dict_items([('Name', 'David'), ('Age', 25), ('Place', 'Mprm')])

In [245]:
# range
df = list(range(2,21))  # start,stop
print(df)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [251]:
df1 = list(range(1,11,3))  # start,stop,step
print(df1)

[1, 4, 7, 10]

In [279]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [261]:
# applications

In [263]:
# find the sum of even numbers between 1 to 100
total = 0
for i in range(2,101,2):
    total+=i
print(total)

2550

In [265]:
totalOdd = 0
for j in range(1,100,2):
    totalOdd+=j
print(totalOdd)

2500

In [271]:
# vowels = aeiou
count = 0
text = input("Type your sentence:")
for char in text.lower():
    if char in "aeiou":
        count+=1
print(count)

Type your sentence: fbskjbf akbdkasjbdkj jqbkdasnkn wqJSRBIN QWHEBWQKJndbaksjb

6

In [267]:
df = "welcome to my home"
for i in df:
    print(i)

w
e
l
c
o
m
e

t
o

m
y

h
o
m
e

In [313]:
# find the prime numbers btn a start and ending range
start = int(input("Enter start range="))
stop = int(input("Enter stop range="))
for num in range(start,stop+1):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num,end=" ")

Enter start range= 10
Enter stop range= 20

11 13 17 19

In [ ]:
10 20
10 11 12 13 14 15 16 17 18 19 20
num = 10 , i = 2,3 4 5 6 7 8 9
num = 11 , i=2 3 4 5 6 7 8 9 10
num=12 . i=2 3 4 5 6 7 8 9 10 11
num = 15, i = 2 3 4 5 6 7 8 9 10 11 12 13 14

In [277]:
print(list(range(2,5)))

[2, 3, 4]

In [281]:
# loop contol statements
# continue
# break 
# pass

In [285]:
# continue
list3 = [100,98,45,877,23,900]
for i in  list3:
    if i==45:
        continue
    print(i)

100
98
877
23
900

In [287]:
 #break
list3 = [100,98,45,877,23,900]
for i in  list3:
    if i==45:
        break
    print(i)

100
98

In [293]:
# pass
list3 = [100,98,45,877,23,900]
for i in  list3:
    pass
    
print("hello")

hello

In [291]:
print("hello")

hello

In [301]:
print("my name is",end=" ")
print("David")

my name is David

## While loop

In [316]:
a = 1
while a<=10:
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9
10

In [3]:
x = 5
while x<=20:
    print(x)
    x+=5

5
10
15
20

In [5]:
#applicationS

In [7]:
secretNumber = 6
guess = None

while guess!=secretNumber:
    guess = int(input("Enter a number between 1 to 10"))
    if guess < secretNumber:
        print("too low")
    elif guess > secretNumber:
        print("too high")
   
print("Congrats, you win!!")

Enter a number between 1 to 10 4

too low

Enter a number between 1 to 10 8

too high

Enter a number between 1 to 10 7

too high

Enter a number between 1 to 10 6

Congrats, you win!!

In [13]:
# atm pin block program
correctPin = 9564
attempt = 0
maxAttempt = 3
while attempt<maxAttempt:
    print("Wrong pin")
    pin = int(input("Enter you pin"))
    if pin==correctPin:
        print("Acess granted. welcome!")
        break
    else:
        attempt+=1
if attempt==maxAttempt:
    print("your atm card is blocked")

Enter you pin 9564

Acess granted. welcome!

In [21]:
# generate multiplication table
num = int(input("Enter a number:"))
a = 1
while a<=10:
    print(f"{num} * {a} = {num*a}")
    a+=1

Enter a number: 4

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [ ]:
df = int(input("Enter your digits"))
even = 0
odd = 0
while df>0:
    digit = df%10
    if digit%2==0:
        even+=1
    else:
        odd+=1
    df//=10

print(even)
print(odd)

Enter your digits 563210

In [7]:
# enumerate
list1 = [324,54,23,645,74,745]
for i,j in enumerate(list1):
    print(i,j)

0 324
1 54
2 23
3 645
4 74
5 745

In [19]:
# zip
lt1 = ["Apple","banana","Grapes"]
lt2 = ["Red","Yellow","pink"]
result = zip(lt1,lt2)
print(list(result))

[('Apple', 'Red'), ('banana', 'Yellow'), ('Grapes', 'pink')]

In [13]:
df = list(range(1,10))
print(df)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Functions

In [1]:
# no argument/parameter function
def myFntn():   # defining function
    print("hello")
    print(87)
    print("welcome")
    
myFntn()    #calling a function

hello
87
welcome

In [6]:
myFntn()

hello
87
welcome

In [8]:
myFntn()

hello
87
welcome

In [10]:
# positional arguments
def fntn2(name,age,place):
    print(name,age)
fntn2("David",15,"tvm")

David 15

In [22]:
# arbitrary poistional arguments
def fntn3(*details):
    print(details[2])
    print(details)
   
fntn3("David",48,"tvm","Kerala",2000)

tvm
('David', 48, 'tvm', 'Kerala', 2000)

In [24]:
# keyword arguments
def fntn4(name,age,place):
    print(name,age,place)
fntn4(age = 25,place="tvm",name="devid")

devid 25 tvm

In [28]:
# arbitrary keyword arguments
def fntn5(**details):
    print("I am from",details["country"])
    print(details["age"])
fntn5(name="jhon",country="India",place = "mlprm",age=55,state="kerala")

I am from India
55

In [30]:
# default parameter value
def fntn6(state="kerala"):
    print(state)
fntn6()

kerala

In [32]:
fntn6("Tamil Nadu")

Tamil Nadu

In [34]:
#applications

In [36]:
def check_odd_even(num):
    if num%2==0:
        print("even")
    else:
        print("odd")
check_odd_even(90)

even

In [38]:
check_odd_even(89)

odd

In [40]:
def countVowels(word):
    vowels = "aeiou"  # local variable
    count = 0     # local variable 
    for char in word.lower():
        if char in vowels:
            count+=1
    print(count)

In [44]:
countVowels("hello how are you?")

7

In [46]:

a = 10 # global variable
b = 5
def add():
    print(a+b)
add()

15

In [48]:
def add2():
    df = 20  #local variable
    df2 = 25
    print(df+df2)
add2()

45

In [54]:
# return
def sub():
    a = 50
    b = 25
    return a-b
sub()

25

In [56]:
def calculator(num1,num2,operator):
    if operator=="add":
        return num1+num2
    elif operator=="sub":
        return num1-num2
    elif operator=="mul":
        return num1*num2
    elif operator=="div":
        return num1/num2 if num2!=0 else "cannot divide by zero"  # comprehension
    else:
        return "invalid operation"

In [58]:
print(calculator(25,45,"add"))

70

In [60]:
print(calculator(20,5,"div"))

4.0

In [62]:
print(calculator(num2=80,num1=4,operator="mul"))

320

## Lambda Functions

In [65]:
df = lambda x:x*2
print(df(5))

10

In [67]:
ab = lambda x,y:x+y
print(ab(10,3))

13

In [73]:
df1 = lambda x,y,z:x+y
print(df1(4,8,14))

12

In [ ]:
# filter
# map
# reduce

In [75]:
# filter
list1 = [12,32,44,11,16,17,89,90]
even = list(filter(lambda x:x%2==0,list1))
print(even)

[12, 32, 44, 16, 90]

In [77]:
names = ["Alan","David","Anand","Arun","Bibin"]
A_start = list(filter(lambda nm:nm.startswith("A"),names))
print(A_start)

['Alan', 'Anand', 'Arun']

In [87]:
names = ["Alan","David","Anand","Arun","Bibin"]
charecters = list(filter(lambda j:len(j)>4,names))
print(charecters)

['David', 'Anand', 'Bibin']

In [81]:
print(len("welcome"))

7

In [89]:
# map
list2 = [2,3,8,9,87,12,31]
double = list(map(lambda x:x*2,list2))
print(double)

[4, 6, 16, 18, 174, 24, 62]

In [91]:
names = ["Alan","David","Anand","Arun","Bibin"]
nameUpper = list(map(lambda y:y.upper(),names))
print(nameUpper)

['ALAN', 'DAVID', 'ANAND', 'ARUN', 'BIBIN']

In [93]:
names = ["Alan","David","Anand","Arun","Bibin"]
length = list(map(lambda lg:len(lg),names))
print(length)

[4, 5, 5, 4, 5]

In [95]:
# reduce

from functools import reduce

In [97]:
list3 = [2,3,8,9,87,12,31]
add = reduce(lambda x,y:x+y,list3)
print(add)

152

In [105]:
list4 = ["welcome","to","my","home"]
merge = reduce(lambda j,k:j+" "+k,list4)
print(merge)

welcome to my home

In [129]:
def reverse_sentence(sentence):
    words = sentence.split()
    return ' '.join(words[::-1])
print(reverse_sentence("Python is fun"))

fun is Python

In [119]:
df = "my/name/is/David"
print(df.split("/"))

['my', 'name', 'is', 'David']

In [121]:
ab = ["a","b","c"]
name = "David"
print(name.join(ab))

aDavidbDavidc

In [137]:
def is_armstrong(n):
    digits = str(n)  # 153
    power = len(digits)  # 
    total = sum(int(d)**power for d in digits)  # 1**3+5**3+3**3 = 1+125+27=153
    return total == n
is_armstrong(153)

True

In [139]:
is_armstrong(989)

False

In [131]:
df = "153"
"1","5","3"
print(len(df))

3

## OOps

In [ ]:
# class - blueprint of object
# object - instance of class

In [ ]:
class plan:  # class
    pass
    
house1 = plan()   # object
house2 = plan()

In [142]:
class car:
    # constructor  - having special meaning
    def __init__(self,brand,model):
        self.br = brand
        self.md = model

car1 = car("xz","y365")
print(car1.br)
print(car1.md)

car2 = car("toyota","corolla")
print(car2.br)
print(car2.md)

xz
y365
toyota
corolla

In [3]:
class rectangle:
    def __init__(self, length, width):
        self.lg = length
        self.wd = width

    def area(self):
        return self.lg * self.wd

    def perimeter(self):
        return 2 * (self.lg + self.wd)
rect1 = rectangle(40,15)
print(rect1.area())
print(rect1.perimeter())

rect2 = rectangle(60,45)
print(rect2.perimeter())
print(rect2.area())

600
110
210
2700

## Modules

In [6]:
# math
# statistics
# random

In [14]:
import math as mt  # aliasis

In [16]:
#ceil  - 
a = 9.6
print(mt.ceil(a))

10

In [18]:
# floor
print(mt.floor(a))

9

In [20]:
b = 81
print(mt.sqrt(b))

9.0

In [22]:
df = 5 
# 5*4*3*2*1
print(mt.factorial(df))

120

In [26]:
print(mt.pow(5,3))

125.0

In [36]:
print(mt.pi)
print(mt.e)

3.141592653589793
2.718281828459045

In [40]:
# radian
angle = 90
print(mt.radians(angle))
# degrees
print(mt.degrees(1.5707963267948966))

1.5707963267948966
90.0

In [42]:
# statistics
import statistics as st

In [72]:
list1 = [41,24,33,5,18,17,41,6,788,335,55,23]
#5 6 17 18 23 24 33 41 41 55 335 788
# mean
print(st.mean(list1))

115.5

In [74]:
# median
print(st.median(list1))

28.5

In [76]:
# meadin high
print(st.median_high(list1))
# median low
print(st.median_low(list1))

33
24

In [78]:
# mode
print(st.mode(list1))

41

In [82]:
# random
import random as rd

In [ ]:
# randint
# randrange
# shuffle
# choice

In [96]:
# randint
print(rd.randint(1,11))

8

In [107]:
# ranrange
print(rd.randrange(1,11,2))

9

In [123]:
# choice
print(rd.choice(["Head","Tail"]))
print(rd.choice([523,44,2,90]))

Tail
2

In [125]:
#shuffle 
list2 = [2,3,4,5,6,7,8]
rd.shuffle(list2)
print(list2)

[5, 6, 3, 7, 4, 2, 8]

In [131]:
# date time module
import datetime as dt

In [133]:
today = dt.datetime.now()
print(today)

2025-07-16 20:07:56.009392

In [141]:
print(today.year)
print(today.month)
print(today.day)
print(today.hour)

2025
7
16
20

In [157]:
# strftime
print(today.strftime("%B"))   # month name  full
print(today.strftime("%b"))   # month name short

print(today.strftime("%a"))  # day name short
print(today.strftime("%A"))   # day name full

print(today.strftime("%w"))   # week number
print(today.strftime("%d"))   # day

July
Jul
Wed
Wednesday
3
16

In [177]:
print(today.strftime("%m"))  # month
print(today.strftime("%y"))  # year short version
print(today.strftime("%Y"))  # year full
print(today.strftime("%H"))   # train version time hour
print(today.strftime("%I"))  # local versio time hour
print(today.strftime("%p"))# am/pm
print(today.strftime("%M")) # minute
print(today.strftime("%S"))   # second
print(today.strftime("%f"))   # microsecond
print(today.strftime("%j"))   # day number in 365 days

07
25
2025
20
08
PM
07
56
009392
197

In [183]:
print(today.strftime("%c"))
print(today.strftime("%x"))
print(today.strftime("%X"))

Wed Jul 16 20:07:56 2025
07/16/25
20:07:56

## Exception Handling /Error Handling

In [192]:
x = 9
print(x/0)

print("hello")

ZeroDivisionError: division by zero

In [ ]:
# try
# except
# finally

In [194]:
try:
    x = 9
    print(x/0)
except:
    print("An error occured")


print("hello")

An error occured
hello

In [212]:
try:
    list1 = [23,532,22,54,8]
    print(list1[2])
    print(list1[4])
    print(list1[3]/0)

except IndexError:
    print("index error occured")
except ZeroDivisionError:
    print("a number can't divided by zero")

22
8
an error occured

In [1]:
list1 = [23,532,22,54,8]
print(list1[2])
print(list1[4])
print(list1[3]/0)

22
8

ZeroDivisionError: division by zero

In [3]:
def fntn1(a):
    if a<5:
        b = a/(a-3)
    print(b)

try:
    fntn1(4)
    fntn1(2)
    fntn1(5)
except NameError:
    print("name error")
except ZeroDivisionError:
    print("can't divided by zero")

4.0
-2.0
name error

In [9]:
def arithmetic(a,b):
    try:
        c = (a+b)/(a-b)
    except ZeroDivisionError:
        print("Zero division error")
    else:
        print(c)
arithmetic(9,2)
arithmetic(4,3)
arithmetic(3,3)

1.5714285714285714
7.0
Zero division error

In [11]:
try:
    df = int(input("enter a number:"))
except ValueError:
    print("not correct value")
else:
    print("Correct value",df)
finally:
    print("Execution complete")

enter a number: jghfd

not correct value
Execution complete

## Raising Error

In [14]:
a = 2
if a<3:
    raise Exception("big error")

Exception: big error

In [22]:
def withdraw(balance,amount):
    if amount>balance:
        raise ValueError("insufficient balance")
    return balance - amount
withdraw(1000,2000)

ValueError: insufficient balance

In [26]:
def withdraw(balance,amount):
    if amount>balance:
        raise ValueError("insufficient balance")
    return balance - amount
try:
    withdraw(1000,2000)
except ValueError as e:
    print("Value error",e)

Value error insufficient balance

## File Handling

In [ ]:
# read - r
# write - w/a append
# create - x

In [1]:
rd = open("haca.txt","r")
rd

In [31]:
rd.read()   # read completely

'Hi welcome here\nHow are you?\n'

In [2]:
rd.readline()

'Hi welcome here\n'

In [5]:
rd.readline()

'How are you?\n'

In [3]:
lines = rd.readlines()
lines[2]

'Are you fine?\n'

In [9]:
# create - x
cr = open("hy.txt","x")
cr

FileExistsError: [Errno 17] File exists: 'hy.txt'

In [7]:
cr2 = open("pythonclass.ipynb","x")
cr2

In [13]:
try:
    df = open("class.txt","x")
    df
except FileExistsError:
    print("This file is already exist")

This file is already exist

In [15]:
# append - a
wr = open("hy.txt","a")
wr

In [17]:
wr.write("Hello how are you?")

18